---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import notFound from "../images/not-found.svg";
import Button from "../components/Button.astro";

const meta = {
  title: "404 error",
  description: "Page not found!",
};
---

<Page>
  <Head slot="head" {meta} />
  <!-- Full body element start -->

  <main
    class="container relative z-10 my-24 mx-auto px-8 py-24 md:my-0 lg:my-12 lg:px-24 2xl:my-32"
  >
    <div
      class="mx-auto flex max-w-full flex-shrink-0 flex-col place-content-center items-center gap-x-2 gap-y-4 text-white md:flex-row"
    >
      <div class="flex place-content-center items-center">
        {
          /*   <img
               class="h-48 md:h-64 xl:h-72 dark:filter dark:brightness-75 dark:contrast-125"
               src={notFound}
               alt="404 Page not found!"
               width="596"
               height="324"
             /> */
        }
        <img
          class="h-auto w-[300px] dark:brightness-75 dark:contrast-125 dark:filter lg:w-[450px] 2xl:w-[600px]"
          src={notFound}
          alt="404 Page not found!"
        />
      </div>
      <div
        class="flex flex-col place-content-center items-center space-y-4 p-4"
      >
        <div class="text-f-xl text-center font-display font-bold">
          <span>Sorry we couldn't find this page.</span>
        </div>
        <div class="text-center">
          <span
            >But don't worry, you can find plenty of other things on our
            homepage.</span
          >
        </div>
        <Button
          href="/"
          color="bg-geraldine-700 hover:bg-geraldine-600 dark:bg-geraldine-400 dark:hover:bg-geraldine-500"
          >Back to Home</Button
        >
      </div>
    </div>
  </main>
  <!-- Full body element end -->
</Page>
