---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import notFound from "../images/not-found.svg";
import Button from "../components/Button.astro";

const meta = {
  title: "404 error",
  description: "Page not found!",
};
---

<Page>
  <Head slot="head" {meta} />
  <!-- Full body element start -->

  <main
    class="relative z-10 container px-8 py-24 lg:px-24 my-24 md:my-0 lg:my-12 2xl:my-32 mx-auto"
  >
    <div
      class="flex flex-col flex-shrink-0 md:flex-row gap-x-2 gap-y-4 items-center place-content-center mx-auto max-w-full text-white"
    >
      <div class="flex items-center place-content-center">
        {
          /*   <img
               class="h-48 md:h-64 xl:h-72 dark:filter dark:brightness-75 dark:contrast-125"
               src={notFound}
               alt="404 Page not found!"
               width="596"
               height="324"
             /> */
        }
        <img
          class="w-[300px] lg:w-[450px] 2xl:w-[600px] h-auto dark:filter dark:brightness-75 dark:contrast-125"
          src={notFound}
          alt="404 Page not found!"
        />
      </div>
      <div
        class="flex flex-col items-center p-4 place-content-center space-y-4"
      >
        <div
          class="text-2xl text-center font-bold font-display md:text-3xl 2xl:text-4xl"
        >
          <span>Sorry we couldn't find this page.</span>
        </div>
        <div class="text-lg text-center">
          <span
            >But don't worry, you can find plenty of other things on our
            homepage.</span
          >
        </div>
        <Button
          href="/"
          color="bg-geraldine-700 hover:bg-geraldine-600 dark:bg-geraldine-400 dark:hover:bg-geraldine-500"
          >Back to Home</Button
        >
      </div>
    </div>
  </main>
  <!-- Full body element end -->
</Page>
