---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/AboutHero.astro";
import Me from "../images/me.png";
import Link from "../components/Link.astro";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

const meta = {
  title: "About",
  description: "Get to know me better.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto py-6 px-8 md:py-12 md:px-0 dark:bg-dark-900 dark:text-white"
  >
    <div class="mx-auto space-y-12 leading-relaxed max-w-6xl">
      <h3 class="font-display fw700 my-5 mx-3 text-f-xl text-center">About</h3>
      <div
        class="flex flex-col space-y-12 md:flex-row md:space-x-12 md:space-y-0"
      >
        <div class="flex flex-shrink-0 justify-center">
          <Image
            src={Me}
            alt="Akshay Ghate"
            class="rounded-full border-4 border-gray-100 h-32 shadow-lg mx-8 transition ease-in-out w-32 duration-200 dark:border-gray-800 hover:border-geraldine-400 dark:hover:border-geraldine-300"
          />
        </div>
        <div class="space-y-4">
          <div class="fw600 text-f-lg">
            Hi there,
            <span class="h-8 w-8 i-emojione-waving-hand-medium-light-skin-tone"
            ></span>
          </div>
          <p
            class="first-letter:fw600 first-letter:text-f-lg first-letter:text-geraldine-500"
          >
            I am a frontend designer, freelance developer and a proud nerd. I
            work primarily in HTML, CSS and JS and have experience with CSS
            Frameworks like Bulma, Foundation and TailwindCSS. Currently, I
            prefer building my projects using Tailwind and Astro as it gives me
            complete freedom to incorporate my ideas. In design tools, I am used
            to quite a few applications like Adobe Photoshop, Inkscape and
            CorelDRAW. I am fascinated by topics such as encryption, design
            trends, security, etc. In my free time I enjoy playing, following
            football, tinkering with computer hardware, watching movies.
            Science-fiction and fantasy are my favorite genres.
          </p>
          <p>
            If you have any questions or just want to say hi, feel free to
            <Link href="/contact/#content-wrapper">contact me</Link> or through social
            media networks listed in the footer. If you use Open PGP, here is my
            <Link href="/public_key.asc" target="_blank" rel="noopener"
              >public encryption key</Link
            >.
          </p>
          <p class="font-medium mr-12 text-right">- Akshay Ghate</p>
        </div>
      </div>
      <div class="font-display fw600 text-f-xl uppercase">
        <span class="border-b-4 border-geraldine-600">Tech Stack</span>

        <div class="flex flex-wrap py-8 gap-6 items-start">
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML"
              class="inline-block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="HTML5"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-html"></span>
            </a>
          </div>
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              class="block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="CSS3"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-css"></span>
            </a>
          </div>
          <div>
            <a
              href="https://astro.build"
              class="block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="Astro"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-astro"></span>
            </a>
          </div>
          <div>
            <a
              href="https://nuxtjs.org"
              class="block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="NuxtJS"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-nuxt"></span>
            </a>
          </div>
          <div>
            <a
              href="https://v3.vuejs.org/"
              class="block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="Vue JS"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-vue"></span>
            </a>
          </div>
          <div>
            <a
              href="https://tailwindcss.com/"
              class="block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="TailwindCSS"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-tailwind"></span>
            </a>
          </div>

          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
              class="block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="JavaScript"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-js"></span>
            </a>
          </div>

          <div>
            <a
              href="https://git-scm.com/"
              class="block grayscale filter hover:transition-all hover:ease-out hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-geraldine-500 focus:ring-offset-4 focus:grayscale-0 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="Git"
            >
              <span class="h-12 w-12 i-vscode-icons-file-type-git"></span>
            </a>
          </div>
        </div>
      </div>

      <div>
        <p class="font-display fw700 text-f-lg italic">
          <span class="border-b-4 border-green-500">Special thanks:</span>
        </p>
        <div
          class="container bg-gray-50 border-l-8 border-gray-600 shadow-lg mt-8 px-6 dark:bg-dark-700 dark:border-teal-500"
        >
          <p class="py-6">
            Teresa Tafoya, Sushrut Joshi, Kshitij Limaye, Mangesh Thombare,
            Sohan Zambare, Arturo Guzman, Meghana Gokhale, Tejas Gokhale.
          </p>
        </div>
      </div>
    </div>
  </main>
</Page>
