---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/AboutHero.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import cover_photo from "../assets/images/me.png";

const meta = {
  title: "About",
  description: "Get to know me better.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main id="content-wrapper" class="container mxa py-6 px-8 md:py-12 md:px-0">
    <div class="mxa space-y-12 max-w-6xl">
      <h3
        class="font-display my-5 mx-3 text-center tracking-tight text-f-2xl fw700"
      >
        About
      </h3>
      <div
        class="flex flex-col space-y-12 md:flex-row md:space-x-12 md:space-y-0"
      >
        <div class="flex flex-shrink-0 justify-center">
          <Image
            src={cover_photo}
            alt="Akshay Ghate"
            aria-role="img"
            aria-label="Akshay Ghate"
            width={128}
            height={128}
            class="rounded-full border-6 border-brand-6 dark:border-brandDark-6 hover:border-brand-7 dark:hover:border-brandDark-7 h-32 shadow-lg mx-8 transition ease-in hover:ease-out w-32 duration-200 filter-drop-shadow-md"
          />
        </div>
        <div class="space-y-4">
          <div class="text-f-lg fw600">
            Hi there,
            <span
              class="h-8 text-brand-9 w-8 i-ph:hand-waving-duotone"
              role="none"></span>
          </div>
          <p
            class="first-letter:text-f-xl first-letter:text-brand-9 first-letter:fw600"
          >
            I am a front-end designer, freelance developer, and self-proclaimed
            nerd. My expertise lies primarily in HTML, CSS, and JS, and I have
            experience working with CSS Frameworks like Bulma, Foundation and
            TailwindCSS. Currently, I prefer using UnoCSS and Astro to build my
            projects, as they provide me with complete creative freedom. I am
            proficient in design tools such as Adobe Photoshop, Inkscape, and
            CorelDRAW. I am fascinated by topics like encryption, security, and
            design trends. In my free time, I enjoy playing and following
            football, tinkering with computer hardware, and watching movies,
            particularly science fiction and fantasy genres.
          </p>
          <p>
            If you have any questions or just want to say hi, feel free to <Link
              href="/contact/#content-wrapper"
            >
              contact me
            </Link> or through the social media networks listed in the footer.
            If you use Open PGP, here is my
            <Link href="/public_key.asc" target="_blank" rel="noopener">
              public encryption key
            </Link>.
          </p>
          <p class="font-medium mr-12 text-right">- Akshay Ghate</p>
        </div>
      </div>
      <div class="font-display text-f-lg uppercase fw700 tracking-wider">
        <span class="border-b-4 border-brand-9">Tech Stack</span>

        <div class="flex flex-wrap py-8 gap-6 items-start">
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#E34F26] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="HTML5"
            >
              <span
                class="h-12 opacity-75 w-12 inline-block i-simple-icons:html5"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#1572B6] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="CSS3"
            >
              <span
                class="h-12 opacity-75 w-12 inline-block i-simple-icons:css3"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://astro.build"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#FF5D01] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="Astro"
            >
              <span
                class="h-12 opacity-75 w-12 i-simple-icons:astro inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://nuxtjs.org"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#00DC82] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="NuxtJS"
            >
              <span
                class="h-12 opacity-75 w-12 i-simple-icons:nuxtdotjs"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://v3.vuejs.org/"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#4FC08D] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="Vue JS"
            >
              <span
                class="h-12 opacity-75 w-12 i-simple-icons:vuedotjs inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://tailwindcss.com/"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#06B6D4] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="TailwindCSS"
            >
              <span
                class="h-12 opacity-75 w-12 i-simple-icons:tailwindcss inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://unocss.dev/"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-sage-11 duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="UnoCSS"
            >
              <span
                class="h-12 opacity-75 w-12 i-simple-icons:unocss inline-block"
                role="none"
              >
              </span></a
            >
          </div>
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#F7DF1E] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="JavaScript"
            >
              <span
                class="h-12 opacity-75 w-12 i-simple-icons:javascript inline-block"
                role="none"
              >
              </span>
            </a>
          </div>

          <div>
            <a
              href="https://git-scm.com/"
              class="inline-block grayscale filter transition-all ease-in hover:ease-out text-[#F05032] duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-sage-7 dark:focus:ring-sageDark-7 focus:ring-offset-transparent focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="Git"
            >
              <span
                class="h-12 opacity-75 w-12 i-simple-icons:git inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
        </div>
      </div>

      <div>
        <p class="font-display text-f-lg italic fw700">
          <span class="border-b-4 border-brand-9">Special thanks:</span>
        </p>
        <div
          class="container bg-teal-2 dark:bg-tealDark-2 border-l-8 border border-teal-6 dark:border-tealDark-6 shadow-md rounded-md mt-8 px-6"
        >
          <p class="py-6 text-teal-11 dark:text-tealDark-11">
            Teresa Tafoya, Sushrut Joshi, Kshitij Limaye, Mangesh Thombare,
            Sohan Zambare, Arturo Guzman, Meghana Gokhale, Tejas Gokhale.
          </p>
        </div>
      </div>
    </div>
  </main>
</Page>
