---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/AboutHero.astro";
import Me from "../images/me.png";
import Link from "../components/Link.astro";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

const meta = {
  title: "About",
  description: "Get to know me better.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container px-8 md:px-0 py-6 md:py-24 mx-auto dark:bg-dark-900 dark:text-white"
  >
    <div class="max-w-6xl mx-auto space-y-12 leading-relaxed">
      <h3 class="mx-3 my-5 text-f-xl font-bold text-center font-display">
        About
      </h3>
      <div
        class="flex flex-col space-y-12 md:space-x-12 md:space-y-0 md:flex-row"
      >
        <div class="flex justify-center flex-shrink-0">
          <Image
            src={Me}
            alt="Akshay Ghate"
            class="w-32 h-32 mx-8 transition duration-200 ease-in-out border-4 border-gray-100 rounded-full shadow-lg dark:border-gray-800 hover:border-geraldine-400 dark:hover:border-geraldine-300"
          />
        </div>
        <div class="space-y-4">
          <div class="text-f-lg font-semibold">
            Hi there,
            <Icon
              name="emojione:waving-hand-medium-light-skin-tone"
              class="inline-block"
              size={32}
            />
          </div>
          <p
            class="first-letter:text-f-lg first-letter:text-geraldine-500 first-letter:font-semibold"
          >
            I am a frontend designer, freelance developer and a proud nerd. I
            work primarily in HTML, CSS and JS and have experience with CSS
            Frameworks like Bulma, Foundation and TailwindCSS. Currently, I
            prefer building my projects using Tailwind and Astro as it gives me
            complete freedom to incorporate my ideas. In design tools, I am used
            to quite a few applications like Adobe Photoshop, Inkscape and
            CorelDRAW. I am fascinated by topics such as encryption, design
            trends, security, etc. In my free time I enjoy playing, following
            football, tinkering with computer hardware, watching movies.
            Science-fiction and fantasy are my favorite genres.
          </p>
          <p>
            If you have any questions or just want to say hi, feel free to
            <Link href="/contact/#content-wrapper">contact me</Link> or through social
            media networks listed in the footer. If you use Open PGP, here is my
            <Link href="/public_key.asc" target="_blank" rel="noopener"
              >public encryption key</Link
            >.
          </p>
          <p class="mr-12 font-medium text-right">- Akshay Ghate</p>
        </div>
      </div>
      <div class="text-f-xl font-semibold uppercase font-display">
        <span class="border-b-4 border-geraldine-600">Tech Stack</span>
        <div class="flex flex-wrap items-start gap-6 py-8">
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="HTML5"
            >
              <Icon
                name="logos:html-5"
                class="h-10 w-auto fill-black dark:fill-white"
              />
            </a>
          </div>
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="CSS3"
            >
              <Icon
                name="logos:css-3"
                class="h-10 w-auto fill-black dark:fill-white"
              />
            </a>
          </div>
          <div>
            <a
              href="https://astro.build"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="Astro"
            >
              <Icon
                name="icon-astro"
                class="w-auto h-10 fill-black dark:fill-white"
              />
            </a>
          </div>
          <div>
            <a
              href="https://nuxtjs.org"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="NuxtJS"
            >
              <Icon
                name="logos:nuxt"
                class="h-10 w-auto fill-black dark:fill-white"
              />
            </a>
          </div>
          <div>
            <a
              href="https://v3.vuejs.org/"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="Vue JS"
            >
              <Icon name="logos:vue" class="h-10 w-auto" />
            </a>
          </div>
          <div>
            <a
              href="https://tailwindcss.com/"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="TailwindCSS"
            >
              <Icon name="logos:tailwindcss-icon" class="h-10 w-auto" />
            </a>
          </div>

          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="JavaScript"
            >
              <Icon name="logos:javascript" class="h-10 w-auto" />
            </a>
          </div>

          <div>
            <a
              href="https://git-scm.com/"
              class="block hover:transition-all hover:duration-200 hover:ease-out focus:ring-4 focus:ring-offset-4 focus:outline-none hover:grayscale-0 focus:grayscale-0 filter grayscale focus:ring-geraldine-500 dark:focus:ring-offset-dark-900"
              target="_blank"
              rel="noopener"
              title="Git"
            >
              <Icon name="logos:git" class="h-10 w-auto" />
            </a>
          </div>
        </div>
      </div>

      <div>
        <p class="text-f-lg italic font-bold font-display">
          <span class="border-b-4 border-green-500">Special thanks:</span>
        </p>
        <div
          class="container px-6 mt-8 border-l-8 border-gray-600 shadow-lg bg-gray-50 dark:bg-dark-700 dark:border-teal-500"
        >
          <p class="py-6">
            Teresa Tafoya, Sushrut Joshi, Kshitij Limaye, Mangesh Thombare,
            Sohan Zambare, Arturo Guzman, Meghana Gokhale, Tejas Gokhale.
          </p>
        </div>
      </div>
    </div>
  </main>
</Page>
