---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/AboutHero.astro";
import Me from "../images/me.png";
import Link from "../components/Link.astro";
import { Image } from "@astrojs/image/components";

const meta = {
  title: "About",
  description: "Get to know me better.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class=":uno: container mxa py-6 px-8 md:py-12 md:px-0"
  >
    <div class=":uno: mxa space-y-12 leading-relaxed max-w-6xl">
      <h3 class=":uno: font-display my-5 mx-3 text-center text-f-2xl fw700">
        About
      </h3>
      <div
        class=":uno: flex flex-col space-y-12 md:flex-row md:space-x-12 md:space-y-0"
      >
        <div class=":uno: flex flex-shrink-0 justify-center">
          <Image
            src={Me}
            alt="Akshay Ghate"
            aria-role="img"
            width={128}
            height={128}
            class=":uno: rounded-full border-4 border-crimson-8 h-32 shadow-lg mx-8 transition ease-in-out w-32 duration-200"
          />
        </div>
        <div class=":uno: space-y-4">
          <div class=":uno: text-f-lg fw600">
            Hi there,
            <span
              class=":uno: h-8 text-crimson-11 w-8 i-ph:hand-waving-duotone"
              role="none"></span>
          </div>
          <p
            class=":uno: first-letter:text-f-xl first-letter:text-crimson-11 first-letter:fw600"
          >
            I am a front-end designer, freelance developer, and self-proclaimed
            nerd. My expertise lies primarily in HTML, CSS, and JS, and I have
            experience working with CSS Frameworks like Bulma, Foundation and
            TailwindCSS. Currently, I prefer using UnoCSS and Astro to build my
            projects, as they provide me with complete creative freedom. I am
            proficient in design tools such as Adobe Photoshop, Inkscape, and
            CorelDRAW. I am fascinated by topics like encryption, security, and
            design trends. In my free time, I enjoy playing and following
            football, tinkering with computer hardware, and watching movies,
            particularly science fiction and fantasy genres.
          </p>
          <p>
            If you have any questions or just want to say hi, feel free to
            <Link href="/contact/#content-wrapper">contact me</Link> or through the
            social media networks listed in the footer. If you use Open PGP, here
            is my
            <Link href="/public_key.asc" target="_blank" rel="noopener">
              public encryption key
            </Link>.
          </p>
          <p class=":uno: font-medium mr-12 text-right">- Akshay Ghate</p>
        </div>
      </div>
      <div class=":uno: font-display text-f-lg uppercase fw600">
        <span class=":uno: border-b-4 border-crimson-9">Tech Stack</span>

        <div class=":uno: flex flex-wrap py-8 gap-6 items-start">
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML"
              class=":uno: inline-block grayscale filter hover:opacity-100 hover:transition-all hover:ease-in-out hover:text-orange-9 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="HTML5"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 inline-block i-simple-icons:html5"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              class=":uno: block grayscale filter hover:opacity-100 hover:transition-all hover:ease-in-out hover:text-sky-8 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="CSS3"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 inline-block i-simple-icons:css3"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://astro.build"
              class=":uno: block grayscale filter hover:opacity-100 hover:transition-all hover:ease-in-out hover:text-orange-10 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="Astro"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 i-simple-icons:astro inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://nuxtjs.org"
              class=":uno: block grayscale filter hover:opacity-100 hover:transition-all hover:ease-in-out hover:text-teal-9 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="NuxtJS"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 i-simple-icons:nuxtdotjs"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://v3.vuejs.org/"
              class=":uno: block grayscale filter hover:opacity-100 hover:transition-all hover:ease-in-out hover:text-green-9 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="Vue JS"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 i-simple-icons:vuedotjs inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://tailwindcss.com/"
              class=":uno: block grayscale filter hover:transition-all hover:ease-in-out hover:text-cyan-8 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="TailwindCSS"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 i-simple-icons:tailwindcss inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
          <div>
            <a
              href="https://unocss.dev/"
              class=":uno: block grayscale filter hover:opacity-100 hover:transition-all hover:ease-in-out hover:text-gray-9 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="UnoCSS"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 i-simple-icons:unocss inline-block"
                role="none"
              >
              </span></a
            >
          </div>
          <div>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
              class=":uno: block grayscale filter hover:opacity-100 hover:transition-all hover:ease-out hover:text-yellow-9 hover:duration-200 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="JavaScript"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 i-simple-icons:javascript inline-block"
                role="none"
              >
              </span>
            </a>
          </div>

          <div>
            <a
              href="https://git-scm.com/"
              class=":uno: block grayscale filter hover:opacity-100 hover:transition-all hover:ease-in-out hover:text-red-9 hover:duration-300 hover:grayscale-0 focus:outline-none focus:ring-4 focus:ring-gray-7 focus:ring-offset-4 focus:grayscale-0"
              target="_blank"
              rel="noopener"
              title="Git"
            >
              <span
                class=":uno: h-12 opacity-75 w-12 i-simple-icons:git inline-block"
                role="none"
              >
              </span>
            </a>
          </div>
        </div>
      </div>

      <div>
        <p class=":uno: font-display text-f-lg italic fw700">
          <span class=":uno: border-b-4 border-teal-9">Special thanks:</span>
        </p>
        <div
          class=":uno: container bg-teal-2 border-l-8 border border-teal-6 shadow-lg mt-8 px-6"
        >
          <p class=":uno: py-6 text-teal-11">
            Teresa Tafoya, Sushrut Joshi, Kshitij Limaye, Mangesh Thombare,
            Sohan Zambare, Arturo Guzman, Meghana Gokhale, Tejas Gokhale.
          </p>
        </div>
      </div>
    </div>
  </main>
</Page>
