---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/ArchiveHero.astro";
import nextGen from "../images/nextgen.svg";
import ButtonIcon from "../components/ButtonIcon.astro";
import { Icon } from "astro-icon";

const meta = {
  title: "Archive",
  description: "Archive page listing projects or creations from the past.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto px-8 md:px-0 py-12 dark:bg-dark-900 dark:text-white"
  >
    <div class="grid grid-cols-1 leading-relaxed place-items-center">
      <div class="space-y-12 max-w-prose">
        <h3
          class="mx-3 my-5 text-f-xl font-bold text-center font-display reveal"
        >
          Archive
        </h3>
        <div class="text-f-lg font-semibold font-display">
          <span class="border-b-4 border-green-600">NExtGen ROM</span>
        </div>
        <div class="italic">
          A Custom ROM based on Android Gingerbread 2.3.x for HTC Explorer
          (Pico)
        </div>
        <img src={nextGen} alt="NExtGen" width="830" height="200" />
        <p>
          Back in 2012, I created an android ROM for HTC Explorer which was
          based on HTC PICO EUROPE 1.28.401.1 stock ROM. Now it's clearly
          outdated but I would like to mention it here as it was my first step
          in android customization. The original thread with all the details is
          located at XDA forum at the link mentioned below. Feel free to check
          it out.
        </p>
        <div
          class="container px-6 border-l-8 border-gray-600 shadow-lg bg-gray-50 dark:bg-dark-700 dark:border-teal-500"
        >
          <p class="py-6 font-mono">
            https://forum.xda-developers.com/showthread.php?t=1812624
          </p>
        </div>

        <p>
          Back in the day I served more than 20,000 downloads of NExtGen, and it
          blew my mind that so many people used my ROM. I will always be
          thankful for the overwhelming support. Thank you!!!
        </p>
        <div class="text-f-lg font-semibold font-display">
          <span class="border-b-4 border-yellow-600"
            >Forum Signatures & Wallpapers</span
          >
        </div>
        <p>
          These are some forum signatures and wallpapers I made in Photoshop.
          You can view the gallery at deviantart.
        </p>
        <div class="flex gap-x-4 items-center">
          <ButtonIcon
            href="https://www.deviantart.com/akyag/gallery/37760236/signatures"
            target="_blank"
            color="bg-green-700 hover:bg-green-600 dark:bg-green-400 dark:hover:bg-green-500 py-3"
            iconName="icon-deviantart"
            iconClass="w-5 h-5 mr-2 fill-current">signatures</ButtonIcon
          >
          <ButtonIcon
            href="https://www.deviantart.com/akyag/gallery/37773265/wallpapers"
            target="_blank"
            color="bg-green-700 hover:bg-green-600 dark:bg-green-400 dark:hover:bg-green-500 py-3"
            iconName="icon-deviantart"
            iconClass="w-5 h-5 mr-2 fill-current">Wallpapers</ButtonIcon
          >
        </div>
      </div>
    </div>
  </main>
</Page>
