---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/ArchiveHero.astro";
import nextGen from "../assets/images/nextgen.svg";
import ButtonIcon from "../components/ButtonIcon.astro";
import { Image } from "astro:assets";

const meta = {
  title: "Archive",
  description: "Archive page listing projects or creations from the past.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main id="content-wrapper" class=":uno: container mxa py-12 px-8 md:px-0">
    <div class=":uno: leading-relaxed grid grid-cols-1 place-items-center">
      <div class=":uno: max-w-prose space-y-12">
        <h3 class=":uno: font-display my-5 mx-3 text-center text-f-2xl fw700">
          Archive
        </h3>
        <div class=":uno: font-display text-f-lg fw600">
          <span class=":uno: border-b-4 border-teal-9">NExtGen ROM</span>
        </div>
        <div class=":uno: italic">
          A Custom ROM based on Android Gingerbread 2.3.x for HTC Explorer
          (Pico)
        </div>
        <img
          src={nextGen.src}
          alt="NExtGen"
          role="img"
          width={830}
          height={200}
        />
        <p>
          Back in 2012, I created an Android ROM for the HTC Explorer that was
          based on the HTC Pico Europe 1.28.401.1 stock ROM. Now it's outdated,
          but I would like to mention it here as it was my first step in Android
          customization. The original thread with all the details is located at
          the XDA Forum at the link mentioned below. Feel free to check it out.
        </p>
        <div
          class=":uno: container bg-gray-2 border-l-8 border-gray-6 shadow-lg px-6"
        >
          <p class=":uno: font-mono py-6 break-all">
            https://forum.xda-developers.com/showthread.php?t=1812624
          </p>
        </div>

        <p>
          Back in the day, I served more than 20,000 downloads of NExtGen, and
          it blew my mind that so many people used my ROM. I will always be
          thankful for the overwhelming support. Thank you!!!
        </p>
        <div class=":uno: font-display text-f-lg fw600">
          <span class=":uno: border-b-4 border-green-9"
            >Forum Signatures & Wallpapers</span
          >
        </div>
        <p>
          These are some forum signatures and wallpapers I made in Photoshop.
          You can view the gallery at DeviantArt.
        </p>
        <div class=":uno: flex gap-x-4 items-center">
          <ButtonIcon
            hue="hue-green"
            href="https://www.deviantart.com/akyag/gallery/37760236/signatures"
            target="_blank"
            iconClass="w-6 h-6 mr-2 fill-current i-simple-icons:deviantart"
          >
            signatures
          </ButtonIcon>
          <ButtonIcon
            hue="hue-gray"
            href="https://www.deviantart.com/akyag/gallery/37773265/wallpapers"
            target="_blank"
            iconClass="w-6 h-6 mr-2 fill-current i-simple-icons:deviantart"
          >
            Wallpapers
          </ButtonIcon>
        </div>
      </div>
    </div>
  </main>
</Page>
