---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/ArchiveHero.astro";
import nextGen from "../images/nextgen.svg";
import ButtonIcon from "../components/ButtonIcon.astro";

const meta = {
  title: "Archive",
  description: "Archive page listing projects or creations from the past.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto py-12 px-8 md:px-0 dark:bg-dark-900 dark:text-white"
  >
    <div class="leading-relaxed grid grid-cols-1 place-items-center">
      <div class="max-w-prose space-y-12">
        <h3 class="font-display fw700 my-5 mx-3 text-f-xl text-center">
          Archive
        </h3>
        <div class="font-display fw600 text-f-lg">
          <span class="border-b-4 border-teal-600">NExtGen ROM</span>
        </div>
        <div class="italic">
          A Custom ROM based on Android Gingerbread 2.3.x for HTC Explorer
          (Pico)
        </div>
        <img src={nextGen} alt="NExtGen" width="830" height="200" />
        <p>
          Back in 2012, I created an android ROM for HTC Explorer which was
          based on HTC PICO EUROPE 1.28.401.1 stock ROM. Now it's clearly
          outdated but I would like to mention it here as it was my first step
          in android customization. The original thread with all the details is
          located at XDA forum at the link mentioned below. Feel free to check
          it out.
        </p>
        <div
          class="container bg-gray-50 border-l-8 border-gray-600 shadow-lg px-6 dark:bg-dark-700 dark:border-teal-500"
        >
          <p class="font-mono py-6">
            https://forum.xda-developers.com/showthread.php?t=1812624
          </p>
        </div>

        <p>
          Back in the day I served more than 20,000 downloads of NExtGen, and it
          blew my mind that so many people used my ROM. I will always be
          thankful for the overwhelming support. Thank you!!!
        </p>
        <div class="font-display fw600 text-f-lg">
          <span class="border-b-4 border-green-600"
            >Forum Signatures & Wallpapers</span
          >
        </div>
        <p>
          These are some forum signatures and wallpapers I made in Photoshop.
          You can view the gallery at deviantart.
        </p>
        <div class="flex gap-x-4 items-center">
          <ButtonIcon
            href="https://www.deviantart.com/akyag/gallery/37760236/signatures"
            target="_blank"
            color="bg-white hover:bg-slate-300 text-green-700 dark:bg-slate-400 dark:hover:bg-slate-500"
            iconClass="w-6 h-6 mr-2 fill-current i-bxl-deviantart"
            >signatures</ButtonIcon
          >
          <ButtonIcon
            href="https://www.deviantart.com/akyag/gallery/37773265/wallpapers"
            target="_blank"
            color="bg-green-700 hover:bg-green-600 dark:bg-green-400 dark:hover:bg-green-500"
            iconClass="w-6 h-6 mr-2 fill-current i-bxl-deviantart"
            >Wallpapers</ButtonIcon
          >
        </div>
      </div>
    </div>
  </main>
</Page>
