---

---

<div class="h-full text-center flex py-24">
  <div class="ma flex gap-4">
    <h1 class="text-gray-8">Primary / Teal</h1>
    <div class="flex flex-col gap-2">
      <h2>Light</h2>
      <div class="h-12 w-12 bg-teal-1 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-2 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-3 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-4 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-5 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-6 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-7 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-8 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-9 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-10 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-11 shadow-md"></div>
      <div class="h-12 w-12 bg-teal-12 shadow-md"></div>
    </div>
    <div class="flex flex-col gap-2">
      <h2>Dark</h2>
      <div class="h-12 w-12 bg-tealDark-1 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-2 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-3 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-4 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-5 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-6 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-7 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-8 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-9 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-10 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-11 shadow-md"></div>
      <div class="h-12 w-12 bg-tealDark-12 shadow-md"></div>
    </div>

    <h1 class="text-gray-8">Brand / Coral</h1>
    <div class="flex flex-col gap-2">
      <h2>Light</h2>
      <div class="h-12 w-12 bg-brand-1 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-2 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-3 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-4 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-5 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-6 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-7 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-8 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-9 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-10 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-11 shadow-md"></div>
      <div class="h-12 w-12 bg-brand-12 shadow-md"></div>
    </div>
    <div class="flex flex-col gap-2">
      <h2>Dark</h2>
      <div class="h-12 w-12 bg-brandDark-1 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-2 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-3 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-4 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-5 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-6 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-7 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-8 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-9 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-10 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-11 shadow-md"></div>
      <div class="h-12 w-12 bg-brandDark-12 shadow-md"></div>
    </div>
  </div>
</div>
