---
// Component Imports
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/WorkHero.astro";
import captivatingJourneys from "../images/captivating-journeys.png";
import captivatingJourneysFull from "../images/captivating-journeys-lg.png";
import Modal from "../components/Modal.astro";
import ButtonIcon from "../components/ButtonIcon.astro";
import { Image, Picture } from "@astrojs/image/components";

const meta = {
  title: "Captivating Journeys",
  description: "This is a responsive layout for a one-page travel website.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class=":uno: container mxa py-6 px-8 md:py-24 md:px-0 lg:py-12"
  >
    <div
      class=":uno: h-auto min-h-full space-y-12 my-2 text-left leading-relaxed px-4 lg:px-8"
    >
      <div
        id="pagination"
        class=":uno: flex flex-wrap space-x-2 rounded-1 shadow-md p-4 items-center bg-gray-2 border border-gray-6"
      >
        <a
          href="/"
          class=":uno: hover:transition-all hover:ease hover:text-crimson-11 hover:duration-200 focus:outline-none focus:border-b-4 focus:border-gray-7"
          tabindex="0">Home</a
        >
        <span
          class=":uno: h-6 w-6 i-solar:double-alt-arrow-right-line-duotone"
          role="none"></span>
        <a
          href="/work/#content-wrapper"
          class=":uno: hover:transition-all hover:ease hover:text-crimson-11 hover:duration-200 focus:outline-none focus:border-b-4 focus:border-gray-7"
          tabindex="0">Work</a
        >
        <span
          class=":uno: h-6 w-6 i-solar:double-alt-arrow-right-line-duotone"
          role="none"></span>
        <a
          href="#"
          class=":uno: focus:outline-none focus:border-b-4 focus:border-gray-7"
          tabindex="0">Captivating Journeys</a
        >
      </div>

      <div class=":uno: font-display my-6 text-f-xl fw600">
        Captivating
        <span class=":uno: text-crimson-11"> Journeys</span>
      </div>
      <div class=":uno: flex flex-col items-start md:flex-row">
        <div
          class=":uno: flex border-2 border-gray-6 flex-shrink-0 shadow-lg my-4 mx-2 md:w-1/2 lg:w-auto"
        >
          <Image
            class=":uno: h-auto object-contain w-full dark:filter dark:brightness-75 dark:contrast-125"
            width={480}
            height={270}
            src={captivatingJourneys}
            alt="Captivating Journeys"
            role="img"
          />
        </div>

        <div class=":uno: flex flex-col space-y-4 my-4 px-2 md:pl-6">
          <p>
            This is a responsive layout for a one-page travel website. The
            slideshow is full-screen, draggable, autoplaying, and responsive.
          </p>

          <div class=":uno: flex items-start flex-wrap gap-x-2">
            <div>
              <ButtonIcon
                href="/data/design-1/"
                target="_blank"
                color="bg-crimson-9 hover:bg-crimson-10"
                iconClass="w-5 h-5 mr-2 text-current i-solar:square-top-down-linear"
              >
                Demo
              </ButtonIcon>
            </div>

            <div>
              <ButtonIcon
                id="modal1-trigger"
                color="bg-gray-9 hover:bg-gray-10 cursor-pointer"
                iconClass="w-5 h-5 mr-2 text-current i-solar:full-screen-square-line-duotone"
              >
                Screenshot
              </ButtonIcon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Modal triggerId="modal1-trigger" title="Captivating Journeys">
    <div class=":uno: mt-3 grid place-content-center">
      <Picture
        class=":uno: dark:filter dark:brightness-75 dark:contrast-125"
        src={captivatingJourneysFull}
        alt="Captivating Journeys Full Image"
        role="img"
        widths={[250, 375, 500]}
        sizes="(max-width: 768px) 250px, (max-width: 1024px) 375px, 500px"
        aspectRatio={0.8}
      />
    </div>
  </Modal>
</Page>
