---
// Component Imports
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/WorkHero.astro";
import captivatingJourneys from "../images/captivating-journeys.png";
import captivatingJourneysFull from "../images/captivating-journeys-lg.png";
import Modal from "../components/Modal.astro";
import ButtonIcon from "../components/ButtonIcon.astro";
import { Icon } from "astro-icon";
import { Image, Picture } from "@astrojs/image/components";

const meta = {
  title: "Captivating Journeys",
  description: "This is a responsive layout for a one-page travel website.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto px-8 md:px-0 py-6 md:py-24 dark:bg-dark-900 dark:text-white"
  >
    <div
      class="container h-auto min-h-full px-4 my-2 space-y-5 leading-relaxed text-left lg:px-8"
    >
      <div id="pagination" class="flex flex-wrap items-center space-x-4">
        <a
          href="/"
          class="hover:duration-200 hover:transition-all hover:ease hover:text-geraldine-500 focus:border-b-4 focus:outline-none focus:border-slate-500"
          tabindex="0">Home</a
        >
        <Icon name="icon-arrow" class="w-4 h-4" />
        <a
          href="/work/#content-wrapper"
          class="hover:duration-200 hover:transition-all hover:ease hover:text-geraldine-500 focus:border-b-4 focus:outline-none focus:border-slate-500"
          tabindex="0">Work</a
        >
        <Icon name="icon-arrow" class="w-4 h-4" />
        <a
          href="#"
          class="focus:border-b-4 focus:outline-none focus:border-slate-500"
          tabindex="0">Captivating Journeys</a
        >
      </div>

      <div class="my-6 text-f-xl font-semibold font-display">
        Captivating
        <span class="text-red-600 dark:text-red-300">Journeys</span>
      </div>
      <div class="flex flex-col items-start md:flex-row">
        <div
          class="flex flex-shrink-0 mx-2 my-4 border-2 border-gray-200 shadow-lg dark:border-gray-800 md:w-1/2 lg:w-auto hover:border-geraldine-400 dark:hover:border-geraldine-400"
        >
          <Image
            class="object-contain w-full h-auto dark:filter dark:brightness-75 dark:contrast-125"
            src={captivatingJourneys}
            alt="Captivating Journeys"
          />
        </div>

        <div class="flex flex-col px-2 mb-8 space-y-3 md:pl-6">
          <p>
            This is a responsive layout for a one-page travel website. The
            slideshow is full width, draggable, autoplay and is responsive too.
          </p>
          <div class="flex items-center">
            <div class="mr-2">
              <ButtonIcon
                href="/data/design-1/"
                target="_blank"
                color="bg-cyan-700 hover:bg-cyan-600 dark:bg-cyan-400 dark:hover:bg-cyan-500 py-3"
                iconName="icon-newtab"
                iconClass="w-5 h-5 mr-2 text-current">Demo</ButtonIcon
              >
            </div>
            <div>
              <ButtonIcon
                id="modal1-trigger"
                color="bg-emerald-700 hover:bg-emerald-600 dark:bg-emerald-400 dark:hover:bg-emerald-500 cursor-pointer py-3"
                iconName="icon-picture"
                iconClass="w-5 h-5 mr-2 text-current">Screenshot</ButtonIcon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Modal triggerId="modal1-trigger" title="Captivating Journeys">
    <div class="mt-3 grid place-content-center">
      <Picture
        class="dark:filter dark:brightness-75 dark:contrast-125"
        src={captivatingJourneysFull}
        alt="Captivating Journeys Full Image"
        widths={[250, 375, 500]}
        sizes="(max-width: 768px) 250px, (max-width: 1024px) 375px, 500px"
        aspectRatio={0.8}
      />
    </div>
  </Modal>
</Page>
