---
import Page from "../layouts/Page.astro";
import Head from "../layouts/ContactHead.astro";
import Hero from "../layouts/ContactHero.astro";

const meta = {
  title: "Contact",
  description: "Use the form on the page to contact me with your query.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto py-12 px-8 md:px-0 dark:bg-dark-900 dark:text-white"
  >
    <div class="leading-relaxed grid grid-cols-1 place-items-center">
      <div class="max-w-prose grid">
        <h3 class="font-display my-5 text-f-2xl text-center fw700">
          Contact Form
        </h3>
        <div class="my-2 text-f-lg fw600">Hey, got a question?</div>
        <p>Send it to me, and I will get back to you as soon as possible.</p>

        <form
          id="contact-form"
          autocomplete="off"
          method="POST"
          action="https://submit-form.com/Da0shbFy"
          data-botpoison-public-key="pk_e1f693b8-f1ab-44fd-bba1-34c297a90937"
        >
          <input
            type="hidden"
            name="_redirect"
            value="https://weboreviews.com/thanks/"
          />
          <input type="hidden" name="_email.subject" value="Web-o-Reviews" />

          <div class="space-y-4">
            {/* <input type="hidden" name="contact_number" /> */}

            <div class="mt-4">
              <label for="user_name" class="fw600">Name</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span class="h-5 fill-current w-5 i-bx-user"></span>
                </div>
                <input
                  type="text"
                  name="user_name"
                  id="user_name"
                  aria-label="User Name"
                  required
                  class="rounded-md border-gray-300 shadow-sm -ml-8 w-full pl-10 peer caret-slate-500 accent-slate-500 dark:bg-dark-700 dark:border-gray-700 dark:text-white focus:border-slate-500 focus:ring-2 focus:ring-slate-500/50"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-slate-600 absolute peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_email" class="fw600">Email</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span class="h-5 fill-current w-5 i-bx-envelope"></span>
                </div>
                <input
                  type="email"
                  name="user_email"
                  id="user_email"
                  aria-label="User Email"
                  required
                  class="rounded-md border-gray-300 shadow-sm -ml-8 w-full pl-10 peer caret-slate-500 accent-slate-500 dark:bg-dark-700 dark:border-gray-700 dark:text-white focus:border-slate-500 focus:ring-2 focus:ring-slate-500/50"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-slate-600 absolute peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_phone" class="fw600">Phone</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span class="h-5 fill-current w-5 i-bx-phone"></span>
                </div>
                <input
                  type="tel"
                  name="user_phone"
                  id="user_phone"
                  aria-label="User Phone"
                  class="rounded-md border-gray-300 shadow-sm -ml-8 w-full pl-10 peer caret-slate-500 accent-slate-500 dark:bg-dark-700 dark:border-gray-700 dark:text-white focus:border-slate-500 focus:ring-2 focus:ring-slate-500/50"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-slate-600 absolute peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="text-f-lg fw600">
              <span class="font-display border-b-4 border-green-600"
                >What is this contact about?</span
              >
            </div>

            <div>
              <label for="user_dept" class="fw600">Department</label>
              <div>
                <select
                  name="user_dept"
                  id="user_dept"
                  required
                  class="rounded-md pl-3 py-1 border-gray-300 shadow-sm w-full caret-slate-500 accent-slate-500 dark:bg-dark-700 dark:border-gray-700 dark:text-white focus:border-slate-500 focus:ring-2 focus:ring-slate-500/50"
                >
                  <option disabled selected>Select your option</option>
                  <option value="Website development"
                    >Website development</option
                  >
                  <option value="Enquiry">Enquiry</option>
                  <option value="Chat">Chat</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>

            <div>
              <label for="user_subject" class="fw600">Subject</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span class="h-5 fill-current w-5 i-bx-hash"></span>
                </div>
                <input
                  type="text"
                  name="user_subject"
                  id="user_subject"
                  aria-label="User Subject"
                  required
                  class="rounded-md border-gray-300 shadow-sm -ml-8 w-full pl-10 peer caret-slate-500 accent-slate-500 dark:bg-dark-700 dark:border-gray-700 dark:text-white focus:border-slate-500 focus:ring-2 focus:ring-slate-500/50"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-slate-600 absolute peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_message" class="fw600">Message</label>
              <div class="flex relative">
                <div class="pt-3 pl-3 z-10 pointer-events-none">
                  <span class="h-5 fill-current w-5 i-bx-edit-alt"></span>
                </div>
                <textarea
                  name="user_message"
                  id="user_message"
                  aria-label="User Message"
                  placeholder="Explain how I can help you"
                  required
                  class="rounded-md border-gray-300 h-64 shadow-sm -ml-8 w-full pt-10 pl-10 peer caret-slate-500 accent-slate-500 dark:bg-dark-700 dark:border-gray-700 dark:text-white focus:border-slate-500 focus:ring-2 focus:ring-slate-500/50"
                ></textarea>
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-slate-600 absolute peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="flex space-x-4 content-center items-center">
              <input
                id="terms"
                name="terms"
                aria-label="Terms"
                type="checkbox"
                required
                class="h-5 text-green-500 w-5 focus:ring-offset-white focus:ring-2 focus:ring-slate-500/50 dark:focus:ring-slate-500/50 dark:focus:ring-offset-dark-800"
              />
              <label for="terms" class="font-medium text-f-sm ml-2">
                I understand that this form collects my name and email, so I can
                be contacted.</label
              >
            </div>

            <button
              class="rounded-full flex bg-rose-700 shadow-md text-f-sm text-white py-3 pr-6 pl-4 place-content-center items-center fw600 dark:bg-green-400 dark:text-dark-700 hover:bg-green-600 hover:transition-all hover:ease hover:duration-150 focus:outline-none focus:ring-offset-transparent focus:ring-2 focus:ring-slate-500/50 focus:ring-offset-2 dark:hover:bg-green-500"
              type="submit"
            >
              <span class="h-6 mr-2 text-current w-6 i-bx-chevrons-right"
              ></span>
              <span>Send Message</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</Page>
