---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/ContactHero.astro";

const meta = {
  title: "Contact",
  description: "Use the form on the page to contact me with your query.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main id="content-wrapper" class="container mxa py-12 px-8 md:px-0">
    <div class="grid grid-cols-1 place-items-center">
      <div class="max-w-prose grid">
        <h3
          class="font-display my-5 text-center tracking-tight text-f-2xl fw700"
        >
          Contact Form
        </h3>
        <div class="my-2 text-teal-10 dark:text-tealDark-10 text-f-lg fw600">
          Hey, got a question?
        </div>
        <p>Send it to me, and I will get back to you as soon as possible.</p>

        <form
          id="contact-form"
          autocomplete="off"
          method="POST"
          action="https://submit-form.com/Da0shbFy"
          data-botpoison-public-key="pk_e1f693b8-f1ab-44fd-bba1-34c297a90937"
        >
          <input
            type="hidden"
            name="_redirect"
            value="https://weboreviews.com/thanks/"
          />
          <input type="hidden" name="_email.subject" value="Web-o-Reviews" />

          <div class="space-y-4">
            {/* <input type="hidden" name="contact_number" /> */}

            <div class="mt-4">
              <label for="user_name" class="fw600">Name</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span
                    class="h-5 fill-current w-5 i-solar-user-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="text"
                  name="user_name"
                  id="user_name"
                  aria-label="User Name"
                  required
                  class="rounded-md bg-sage-3 dark:bg-sageDark-3 p-2 border-sage-6 dark:border-sageDark-6 shadow-sm -ml-8 w-full pl-10 peer focus:border-none focus:outline-none focus:ring-4 focus:ring-teal-7 dark:focus:ring-tealDark-7"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-sage-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_email" class="fw600">Email</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span
                    class="h-5 fill-current w-5 i-solar-mention-circle-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="email"
                  name="user_email"
                  id="user_email"
                  aria-label="User Email"
                  required
                  class="rounded-md bg-sage-3 dark:bg-sageDark-3 p-2 border-sage-6 dark:border-sageDark-6 shadow-sm -ml-8 w-full pl-10 peer focus:border-none focus:outline-none focus:ring-4 focus:ring-teal-7 dark:focus:ring-tealDark-7"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-sage-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_phone" class="fw600">Phone</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span
                    class="h-5 fill-current w-5 i-solar-phone-rounded-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="tel"
                  name="user_phone"
                  id="user_phone"
                  aria-label="User Phone"
                  class="rounded-md bg-sage-3 dark:bg-sageDark-3 p-2 border-sage-6 dark:border-sageDark-6 shadow-sm -ml-8 w-full pl-10 peer focus:border-none focus:outline-none focus:ring-4 focus:ring-teal-7 dark:focus:ring-tealDark-7"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-sage-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="text-f-lg fw600">
              <span class="font-display border-b-4 border-green-9"
                >What is this contact about?</span
              >
            </div>

            <div>
              <label for="user_dept" class="fw600">Department</label>
              <div>
                <select
                  name="user_dept"
                  id="user_dept"
                  required
                  class="rounded-md bg-sage-3 dark:bg-sageDark-3 border-sage-6 dark:border-sageDark-6 shadow-sm w-full p-3 pl-3 focus:border-none focus:outline-none focus:ring-4 focus:ring-teal-7 dark:focus:ring-tealDark-7"
                >
                  <option disabled selected>Select your option</option>
                  <option value="Website development"
                    >Website development</option
                  >
                  <option value="Enquiry">Enquiry</option>
                  <option value="Chat">Chat</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>

            <div>
              <label for="user_subject" class="fw600">Subject</label>
              <div class="flex relative items-center">
                <div class="pl-3 z-10 pointer-events-none">
                  <span
                    class="h-5 fill-current w-5 i-solar-hashtag-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="text"
                  name="user_subject"
                  id="user_subject"
                  aria-label="User Subject"
                  required
                  class="rounded-md bg-sage-3 dark:bg-sageDark-3 p-2 border-sage-6 dark:border-sageDark-6 shadow-sm -ml-8 w-full pl-10 peer focus:border-none focus:outline-none focus:ring-4 focus:ring-teal-7 dark:focus:ring-tealDark-7"
                />
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-sage-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_message" class="fw600">Message</label>
              <div class="flex relative">
                <div class="pt-3 pl-3 z-10 pointer-events-none">
                  <span
                    class="h-5 fill-current w-5 i-solar-chat-round-dots-line-duotone"
                    role="none"></span>
                </div>
                <textarea
                  name="user_message"
                  id="user_message"
                  aria-label="User Message"
                  placeholder="Explain how I can help you"
                  required
                  class="rounded-md bg-sage-3 dark:bg-sageDark-3 border-sage-6 dark:border-sageDark-6 h-64 shadow-sm -ml-8 w-full pt-10 pl-10 peer focus:border-none focus:outline-none focus:ring-4 focus:ring-teal-7 dark:focus:tealDark-7"
                ></textarea>
                <div
                  class="border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-sage-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="flex space-x-4 content-center items-center">
              <input
                id="terms"
                name="terms"
                aria-label="Terms"
                role="checkbox"
                type="checkbox"
                required
                class="appearance-none shrink-0 focus:border-none focus:outline-none i-ri-checkbox-blank-circle-line transition-all transition-400 checked:i-ri-checkbox-circle-fill checked:h-6 checked:w-6 checked:text-teal-9 h-6 text-sage-9 w-6 focus:text-teal-9"
              />
              <label for="terms" class="font-medium text-f-sm ml-2 fill-teal-9">
                I understand that this form collects my name and email, so I can
                be contacted.</label
              >
            </div>

            <div class="flex items-center justify-center">
              <button class="btn-teal" type="submit" role="button">
                <span
                  class="h-6 mr-2 fill-current w-6 i-ri-checkbox-circle-fill"
                  role="none"></span>
                <span>Send Message</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</Page>
<script is:inline src="https://unpkg.com/@botpoison/browser" async></script>
