---
import Page from "../layouts/Page.astro";
import Head from "../layouts/ContactHead.astro";
import Hero from "../layouts/ContactHero.astro";

const meta = {
  title: "Contact",
  description: "Use the form on the page to contact me with your query.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main id="content-wrapper" class=":uno: container mxa py-12 px-8 md:px-0">
    <div class=":uno: leading-relaxed grid grid-cols-1 place-items-center">
      <div class=":uno: max-w-prose grid">
        <h3 class=":uno: font-display my-5 text-center text-f-2xl fw700">
          Contact Form
        </h3>
        <div class=":uno: my-2 text-f-lg fw600">Hey, got a question?</div>
        <p>Send it to me, and I will get back to you as soon as possible.</p>

        <form
          id="contact-form"
          autocomplete="off"
          method="POST"
          action="https://submit-form.com/Da0shbFy"
          data-botpoison-public-key="pk_e1f693b8-f1ab-44fd-bba1-34c297a90937"
        >
          <input
            type="hidden"
            name="_redirect"
            value="https://weboreviews.com/thanks/"
          />
          <input type="hidden" name="_email.subject" value="Web-o-Reviews" />

          <div class=":uno: space-y-4">
            {/* <input type="hidden" name="contact_number" /> */}

            <div class=":uno: mt-4">
              <label for="user_name" class=":uno: fw600">Name</label>
              <div class=":uno: flex relative items-center">
                <div class=":uno: pl-3 z-10 pointer-events-none">
                  <span
                    class=":uno: h-5 fill-current w-5 i-solar:user-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="text"
                  name="user_name"
                  id="user_name"
                  aria-label="User Name"
                  required
                  class=":uno: rounded-md bg-gray-3 p-2 border-gray-6 shadow-sm -ml-8 w-full pl-10 peer caret-teal-11 focus:border-none focus:focus:outline-none focus:ring-4 focus:ring-teal-7/50"
                />
                <div
                  class=":uno: border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-gray-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_email" class=":uno: fw600">Email</label>
              <div class=":uno: flex relative items-center">
                <div class=":uno: pl-3 z-10 pointer-events-none">
                  <span
                    class=":uno: h-5 fill-current w-5 i-solar:mention-circle-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="email"
                  name="user_email"
                  id="user_email"
                  aria-label="User Email"
                  required
                  class=":uno: rounded-md bg-gray-3 p-2 border-gray-6 shadow-sm -ml-8 w-full pl-10 peer caret-teal-11 focus:border-none focus:focus:outline-none focus:ring-4 focus:ring-teal-7/50"
                />
                <div
                  class=":uno: border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-gray-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_phone" class=":uno: fw600">Phone</label>
              <div class=":uno: flex relative items-center">
                <div class=":uno: pl-3 z-10 pointer-events-none">
                  <span
                    class=":uno: h-5 fill-current w-5 i-solar:phone-rounded-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="tel"
                  name="user_phone"
                  id="user_phone"
                  aria-label="User Phone"
                  class=":uno: rounded-md bg-gray-3 p-2 border-gray-6 shadow-sm -ml-8 w-full pl-10 peer caret-teal-11 focus:border-none focus:focus:outline-none focus:ring-4 focus:ring-teal-7/50"
                />
                <div
                  class=":uno: border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-gray-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div class=":uno: text-f-lg fw600">
              <span class=":uno: font-display border-b-4 border-green-9"
                >What is this contact about?</span
              >
            </div>

            <div>
              <label for="user_dept" class=":uno: fw600">Department</label>
              <div>
                <select
                  name="user_dept"
                  id="user_dept"
                  required
                  class=":uno: rounded-md bg-gray-3 border-gray-6 shadow-sm w-full p-3 pl-3 focus:border-none focus:focus:outline-none focus:ring-4 focus:ring-teal-7/50"
                >
                  <option disabled selected>Select your option</option>
                  <option value="Website development"
                    >Website development</option
                  >
                  <option value="Enquiry">Enquiry</option>
                  <option value="Chat">Chat</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>

            <div>
              <label for="user_subject" class=":uno: fw600">Subject</label>
              <div class=":uno: flex relative items-center">
                <div class=":uno: pl-3 z-10 pointer-events-none">
                  <span
                    class=":uno: h-5 fill-current w-5 i-solar:hashtag-line-duotone"
                    role="none"></span>
                </div>
                <input
                  type="text"
                  name="user_subject"
                  id="user_subject"
                  aria-label="User Subject"
                  required
                  class=":uno: rounded-md bg-gray-3 p-2 border-gray-6 shadow-sm -ml-8 w-full pl-10 peer caret-teal-11 focus:border-none focus:focus:outline-none focus:ring-4 focus:ring-teal-7/50"
                />
                <div
                  class=":uno: border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-gray-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_message" class=":uno: fw600">Message</label>
              <div class=":uno: flex relative">
                <div class=":uno: pt-3 pl-3 z-10 pointer-events-none">
                  <span
                    class=":uno: h-5 fill-current w-5 i-solar:chat-round-dots-line-duotone"
                    role="none"></span>
                </div>
                <textarea
                  name="user_message"
                  id="user_message"
                  aria-label="User Message"
                  placeholder="Explain how I can help you"
                  required
                  class=":uno: rounded-md bg-gray-3 border-gray-6 h-64 shadow-sm -ml-8 w-full pt-10 pl-10 peer caret-teal-11 focus:border-none focus:focus:outline-none focus:ring-4 focus:ring-teal-7/50"
                ></textarea>
                <div
                  class=":uno: border-y border-transparent text-f-sm py-2 pr-3 inset-y-0 right-0 text-gray-11 absolute peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div class=":uno: flex space-x-4 content-center items-center">
              <input
                id="terms"
                name="terms"
                aria-label="Terms"
                role="checkbox"
                type="checkbox"
                required
                class=":uno: appearance-none shrink-0 focus:border-none focus:outline-none focus:ring-8 focus:ring-offset-2 focus:ring-gray-7 i-ri:checkbox-blank-circle-line checked:transition-all checked:transition-400 checked:i-ri:checkbox-circle-fill checked:h-6 checked:w-6 checked:text-teal-9 h-6 text-teal-9 w-6 focus:ring-offset-teal-7 focus:ring-2 focus:ring-teal-7/50"
              />
              <label
                for="terms"
                class=":uno: font-medium text-f-sm ml-2 fill-teal-9"
              >
                I understand that this form collects my name and email, so I can
                be contacted.</label
              >
            </div>

            <div class="flex items-center justify-center">
              <button
                class=":uno: appearance-none text-f-sm cursor-pointer hover:ease bg-teal-9 hover:bg-teal-10 flex place-content-center items-center rounded-full pl-4 pr-6 py-2 fw600 text-white shadow-md hover:transition-all hover:duration-150 focus:outline-none focus:ring-2 focus:ring-gray-7/50 focus:ring-offset-2 focus:ring-offset-transparent w-2/3 sm:w-auto"
                type="submit"
                role="button"
              >
                <span
                  class=":uno: h-6 mr-2 text-white w-6 i-ri:checkbox-circle-fill"
                  role="none"></span>
                <span>Send Message</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</Page>
