---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/ContactHero.astro";

const meta = {
  title: "Contact",
  description: "Use the form on the page to contact me with your query.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main id="content-wrapper" class="container mxa py-12 px-8 md:px-0">
    <div class="grid grid-cols-1 place-items-center">
      <div class="max-w-prose grid">
        <h3
          class="font-display my-5 text-center tracking-tight text-f-2xl fw700"
        >
          Contact Form
        </h3>
        <div class="my-2 text-teal-10 dark:text-tealDark-10 text-f-lg fw600">
          Hey, got a question?
        </div>
        <p>Send it to me, and I will get back to you as soon as possible.</p>
        <script
          is:inline
          src="https://spamfreeform.com/sff/sff_info.php?id=1771069839939/weboreviews.com/contact"
          type="text/javascript"></script>
      </div>
    </div>
  </main>
</Page>
