---
import Page from "../layouts/Page.astro";
import Head from "../layouts/ContactHead.astro";
import Hero from "../layouts/ContactHero.astro";
import { Icon } from "astro-icon";

const meta = {
  title: "Contact",
  description: "Use the form on the page to contact me with your query.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto px-8 py-12 dark:bg-dark-900 dark:text-white md:px-0"
  >
    <div class="grid grid-cols-1 place-items-center leading-relaxed">
      <div class="grid max-w-prose">
        <h3 class="text-f-xl my-5 text-center font-display font-bold">
          Contact Form
        </h3>
        <div class="text-f-lg my-2 font-semibold">Hey, Got a question?</div>
        <p>Send it to me and I will get back as soon as possible.</p>

        <form
          id="contact-form"
          autocomplete="off"
          method="POST"
          action="https://submit-form.com/Da0shbFy"
          data-botpoison-public-key="pk_e1f693b8-f1ab-44fd-bba1-34c297a90937"
        >
          <input
            type="hidden"
            name="_redirect"
            value="https://weboreviews.com/thanks/"
          />
          <input type="hidden" name="_email.subject" value="Web-o-Reviews" />

          <div class="space-y-4">
            {/* <input type="hidden" name="contact_number" /> */}

            <div class="mt-4">
              <label for="user_name" class="font-semibold">Name</label>
              <div class="relative flex">
                <div class="pointer-events-none z-10 pl-3">
                  <Icon name="bx:user" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="text"
                  name="user_name"
                  id="user_name"
                  aria-label="User Name"
                  required
                  class="peer -ml-8 w-full rounded-md border-gray-300 pl-10 caret-slate-500 accent-slate-500 shadow-sm focus:border-slate-500 focus:ring-2 focus:ring-slate-500 dark:border-gray-700 dark:bg-dark-700 dark:text-white"
                />
                <div
                  class="text-f-sm absolute inset-y-0 right-0 border-y border-transparent py-2 pr-3 text-slate-600 peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_email" class="font-semibold">Email</label>
              <div class="relative flex">
                <div class="pointer-events-none z-10 pl-3">
                  <Icon name="bx:envelope" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="email"
                  name="user_email"
                  id="user_email"
                  aria-label="User Email"
                  required
                  class="peer -ml-8 w-full rounded-md border-gray-300 pl-10 caret-slate-500 accent-slate-500 shadow-sm focus:border-slate-500 focus:ring-2 focus:ring-slate-500 dark:border-gray-700 dark:bg-dark-700 dark:text-white"
                />
                <div
                  class="text-f-sm absolute inset-y-0 right-0 border-y border-transparent py-2 pr-3 text-slate-600 peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_phone" class="font-semibold">Phone</label>
              <div class="relative flex">
                <div class="pointer-events-none z-10 pl-3">
                  <Icon name="bx:phone" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="tel"
                  name="user_phone"
                  id="user_phone"
                  aria-label="User Phone"
                  class="peer -ml-8 w-full rounded-md border-gray-300 pl-10 caret-slate-500 accent-slate-500 shadow-sm focus:border-slate-500 focus:ring-2 focus:ring-slate-500 dark:border-gray-700 dark:bg-dark-700 dark:text-white"
                />
                <div
                  class="text-f-sm absolute inset-y-0 right-0 border-y border-transparent py-2 pr-3 text-slate-600 peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="text-f-lg font-semibold">
              <span class="border-b-4 border-green-600 font-display"
                >What is this contact about?</span
              >
            </div>

            <div>
              <label for="user_dept" class="font-semibold">Department</label>
              <div>
                <select
                  name="user_dept"
                  id="user_dept"
                  required
                  class="w-full rounded-md border-gray-300 caret-slate-500 accent-slate-500 shadow-sm focus:border-slate-500 focus:ring-2 focus:ring-slate-500 dark:border-gray-700 dark:bg-dark-700 dark:text-white"
                >
                  <option disabled selected>Select your option</option>
                  <option value="Website development"
                    >Website development</option
                  >
                  <option value="Enquiry">Inquiry</option>
                  <option value="Chat">Chat</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>

            <div>
              <label for="user_subject" class="font-semibold">Subject</label>
              <div class="relative flex">
                <div class="pointer-events-none z-10 pl-3">
                  <Icon name="bx:hash" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="text"
                  name="user_subject"
                  id="user_subject"
                  aria-label="User Subject"
                  required
                  class="peer -ml-8 w-full rounded-md border-gray-300 pl-10 caret-slate-500 accent-slate-500 shadow-sm focus:border-slate-500 focus:ring-2 focus:ring-slate-500 dark:border-gray-700 dark:bg-dark-700 dark:text-white"
                />
                <div
                  class="text-f-sm absolute inset-y-0 right-0 border-y border-transparent py-2 pr-3 text-slate-600 peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_message" class="font-semibold">Message</label>
              <div class="relative flex">
                <div class="pointer-events-none z-10 pt-3 pl-3">
                  <Icon name="bx:edit-alt" class="w-5 h-5 fill-current" />
                </div>
                <textarea
                  name="user_message"
                  id="user_message"
                  aria-label="User Message"
                  placeholder="Explain how I can help you"
                  required
                  class="peer -ml-8 h-64 w-full rounded-md border-gray-300 pl-10 pt-10 caret-slate-500 accent-slate-500 shadow-sm focus:border-slate-500 focus:ring-2 focus:ring-slate-500 dark:border-gray-700 dark:bg-dark-700 dark:text-white"
                ></textarea>
                <div
                  class="text-f-sm absolute inset-y-0 right-0 border-y border-transparent py-2 pr-3 text-slate-600 peer-optional:hidden dark:text-slate-400"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="flex content-center items-center space-x-4">
              <input
                id="terms"
                name="terms"
                aria-label="Terms"
                type="checkbox"
                required
                class="h-5 w-5 text-slate-500 focus:ring-2 focus:ring-slate-500 focus:ring-offset-white dark:bg-slate-500 dark:focus:ring-slate-500 dark:focus:ring-offset-dark-800"
              />
              <label for="terms" class="text-f-sm ml-2 font-medium">
                I understand that this form collects my name and email, so I can
                be contacted.</label
              >
            </div>

            <button
              class="text-f-sm hover:ease flex h-12 content-center items-center rounded-md bg-teal-700 px-6 font-semibold text-white shadow-md hover:bg-teal-600 hover:transition-all hover:duration-150 focus:outline-none focus:ring-2 focus:ring-slate-500/50 focus:ring-offset-2 focus:ring-offset-transparent dark:bg-teal-400 dark:text-dark-700 dark:hover:bg-teal-500"
              type="submit"
            >
              <Icon
                name="bx:chevrons-right"
                class="w-7 h-7 mr-1 text-current"
              />
              <span>Send Message</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</Page>
