---
import Page from "../layouts/Page.astro";
import Head from "../layouts/ContactHead.astro";
import Hero from "../layouts/ContactHero.astro";
import { Icon } from "astro-icon";

const meta = {
  title: "Contact",
  description: "Use the form on the page to contact me with your query.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto px-8 md:px-0 py-12 dark:bg-dark-900 dark:text-white"
  >
    <div class="grid grid-cols-1 leading-relaxed place-items-center">
      <div class="grid max-w-prose">
        <h3 class="my-5 text-f-xl font-bold text-center font-display">
          Contact Form
        </h3>
        <div class="my-2 text-f-lg font-semibold">Hey, Got a question?</div>
        <p>Send it to me and I will get back as soon as possible.</p>

        <form
          id="contact-form"
          autocomplete="off"
          method="POST"
          action="https://submit-form.com/Da0shbFy"
          data-botpoison-public-key="pk_e1f693b8-f1ab-44fd-bba1-34c297a90937"
        >
          <input
            type="hidden"
            name="_redirect"
            value="https://weboreviews.com/thanks/"
          />
          <input type="hidden" name="_email.subject" value="Web-o-Reviews" />

          <div class="space-y-4">
            {/* <input type="hidden" name="contact_number" /> */}

            <div class="mt-4">
              <label for="user_name" class="font-semibold">Name</label>
              <div class="flex relative">
                <div class="z-10 pl-3 pointer-events-none">
                  <Icon name="bx:user" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="text"
                  name="user_name"
                  id="user_name"
                  aria-label="User Name"
                  required
                  class="w-full peer pl-10 -ml-8 border-gray-300 rounded-md shadow-sm dark:text-white dark:bg-dark-700 dark:border-gray-700 caret-slate-500 accent-slate-500 focus:border-slate-500 focus:ring-2 focus:ring-slate-500"
                />
                <div
                  class="absolute inset-y-0 text-f-sm right-0 text-slate-600 dark:text-slate-400 border-y border-transparent py-2 pr-3 peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_email" class="font-semibold">Email</label>
              <div class="flex relative">
                <div class="z-10 pl-3 pointer-events-none">
                  <Icon name="bx:envelope" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="email"
                  name="user_email"
                  id="user_email"
                  aria-label="User Email"
                  required
                  class="w-full peer pl-10 -ml-8 border-gray-300 rounded-md shadow-sm dark:text-white dark:bg-dark-700 dark:border-gray-700 caret-slate-500 accent-slate-500 focus:border-slate-500 focus:ring-2 focus:ring-slate-500"
                />
                <div
                  class="absolute inset-y-0 right-0 text-f-sm text-slate-600 dark:text-slate-400 border-y border-transparent py-2 pr-3 peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_phone" class="font-semibold">Phone</label>
              <div class="flex relative">
                <div class="z-10 pl-3 pointer-events-none">
                  <Icon name="bx:phone" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="tel"
                  name="user_phone"
                  id="user_phone"
                  aria-label="User Phone"
                  class="w-full peer pl-10 -ml-8 border-gray-300 rounded-md shadow-sm dark:text-white dark:bg-dark-700 dark:border-gray-700 caret-slate-500 accent-slate-500 focus:border-slate-500 focus:ring-2 focus:ring-slate-500"
                />
                <div
                  class="absolute inset-y-0 right-0 text-f-sm text-slate-600 dark:text-slate-400 border-y border-transparent py-2 pr-3 peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="text-f-lg font-semibold">
              <span class="border-b-4 border-green-600 font-display"
                >What is this contact about?</span
              >
            </div>

            <div>
              <label for="user_dept" class="font-semibold">Department</label>
              <div>
                <select
                  name="user_dept"
                  id="user_dept"
                  required
                  class="w-full border-gray-300 rounded-md shadow-sm dark:text-white dark:bg-dark-700 dark:border-gray-700 caret-slate-500 accent-slate-500 focus:border-slate-500 focus:ring-2 focus:ring-slate-500"
                >
                  <option disabled selected>Select your option</option>
                  <option value="Website development"
                    >Website development</option
                  >
                  <option value="Enquiry">Inquiry</option>
                  <option value="Chat">Chat</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>

            <div>
              <label for="user_subject" class="font-semibold">Subject</label>
              <div class="flex relative">
                <div class="z-10 pl-3 pointer-events-none">
                  <Icon name="bx:hash" class="w-5 h-full fill-current" />
                </div>
                <input
                  type="text"
                  name="user_subject"
                  id="user_subject"
                  aria-label="User Subject"
                  required
                  class="peer w-full pl-10 -ml-8 border-gray-300 rounded-md shadow-sm dark:text-white dark:bg-dark-700 dark:border-gray-700 caret-slate-500 accent-slate-500 focus:border-slate-500 focus:ring-2 focus:ring-slate-500"
                />
                <div
                  class="absolute inset-y-0 right-0 text-f-sm text-slate-600 dark:text-slate-400 border-y border-transparent py-2 pr-3 peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div>
              <label for="user_message" class="font-semibold">Message</label>
              <div class="flex relative">
                <div class="z-10 pt-3 pl-3 pointer-events-none">
                  <Icon name="bx:edit-alt" class="w-5 h-5 fill-current" />
                </div>
                <textarea
                  name="user_message"
                  id="user_message"
                  aria-label="User Message"
                  placeholder="Explain how I can help you"
                  required
                  class="w-full peer h-64 pl-10 pt-10 -ml-8 border-gray-300 rounded-md shadow-sm dark:text-white dark:bg-dark-700 dark:border-gray-700 caret-slate-500 accent-slate-500 focus:border-slate-500 focus:ring-2 focus:ring-slate-500"
                ></textarea>
                <div
                  class="absolute inset-y-0 right-0 text-f-sm text-slate-600 dark:text-slate-400 border-y border-transparent py-2 pr-3 peer-optional:hidden"
                >
                  Required
                </div>
              </div>
            </div>

            <div class="flex items-center content-center space-x-4">
              <input
                id="terms"
                name="terms"
                aria-label="Terms"
                type="checkbox"
                required
                class="text-slate-500 w-5 h-5 focus:ring-slate-500 focus:ring-2 focus:ring-offset-white dark:bg-slate-500 dark:focus:ring-slate-500 dark:focus:ring-offset-dark-800"
              />
              <label for="terms" class="ml-2 text-f-sm font-medium">
                I understand that this form collects my name and email, so I can
                be contacted.</label
              >
            </div>

            <button
              class="flex items-center content-center px-6 h-12 text-f-sm font-semibold text-white dark:text-dark-700 rounded-md shadow-md hover:transition-all hover:duration-150 hover:ease focus:outline-none focus:ring-2 focus:ring-slate-500/50 focus:ring-offset-2 focus:ring-offset-transparent bg-teal-700 hover:bg-teal-600 dark:bg-teal-400 dark:hover:bg-teal-500"
              type="submit"
            >
              <Icon
                name="bx:chevrons-right"
                class="w-7 h-7 mr-1 text-current"
              />
              <span>Send Message</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</Page>
