---
// Component Imports
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/DesignHero.astro";
import Link from "../components/Link.astro";
import responsive from "../images/responsive.svg?url";

const meta = {
  title: "Design",
  description: "Why choose me? Check the page to find out.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <div
    id="content-wrapper"
    class="container mx-auto py-12 px-8 md:px-0 dark:bg-dark-900 dark:text-white"
  >
    <div class="mx-auto max-w-prose space-y-16 leading-relaxed">
      <h3 class="font-display my-5 mx-3 text-center text-f-2xl fw700">
        Design
      </h3>
      <p
        class="first-letter:text-f-xl first-letter:text-geraldine-500 first-letter:fw600"
      >
        Underneath are a few modern concepts generally used in the web design
        process. These established standards and practices will offer you an
        insight into what exactly is included in my web design services.
      </p>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-cyan-600 w-12 i-solar:earth-line-duotone dark:text-cyan-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Web Standards</h4>
        </div>
        <p>
          Web standards are the formal, non-proprietary standards and other
          technical specifications that define and describe aspects of the World
          Wide Web.
        </p>
        <p>
          Web standards, in the narrow sense, consist of the following:
          Recommendations published by the World Wide Web Consortium (W3C), such
          as HTML, Cascading Style Sheets, the Document Object Model, and image
          formats like Portable Network Graphics and Scalable Vector Graphics.
          My process includes these standardized best practices.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-indigo-600 w-12 items-center i-solar:login-3-line-duotone dark:text-indigo-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Responsive</h4>
        </div>
        <p>
          Responsive web design is an approach to web design that makes web
          pages render correctly on a variety of devices and window or screen
          sizes.
        </p>
        <p>
          Your website will provide an optimal viewing experience, easy reading,
          and navigation with a minimum of resizing, panning, and scrolling
          across a broad range of devices (from mobile phones to desktop
          computer monitors).
        </p>
        <p>Want to see it live in action? Try resizing your browser window!</p>
        <img
          class={"dark:filter dark:brightness-75 dark:contrast-125"}
          src={responsive}
          width={600}
          alt="Responsive"
        />
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-green-600 w-12 i-solar:verified-check-line-duotone items-center dark:text-green-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Compatibility</h4>
        </div>
        <p>
          Clean coding. Your website will function properly in all popular and
          latest browsers. I perform cross-platform testing.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-lime-600 w-12 i-solar:accessibility-line-duotone items-center dark:text-lime-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Accessibility</h4>
        </div>
        <p>
          A website that is accessible is designed to function properly with
          assistive technologies so that the information and functionality that
          is fundamental to the website are made accessible to every visitor. I
          use a variety of tools to audit my websites and that also includes
          testing it against the web accessibility guidelines defined by W3C.
        </p>

        <p>
          <Link href="/data/weboreviews.com-11.04.2022.pdf" target="_blank">
            Accessibility audit
          </Link>
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-rose-600 w-12 i-solar:documents-minimalistic-line-duotone items-center dark:text-rose-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Contact Form</h4>
        </div>
        <p>
          You will be provided a contact form with custom form fields, so your
          customers can contact you and provide the information that
          <strong>you</strong> need.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-slate-600 w-12 i-solar:moon-line-duotone items-center dark:text-slate-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Dark mode</h4>
        </div>
        <p>
          The dark mode is a color scheme that uses light-colored text, icons,
          and graphical user interface elements on a dark background. It reduces
          strain on your eyes and is very popular among all users. You can try
          seeing this website in dark mode if you haven't already. Use the theme
          button in the menu.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-yellow-600 w-12 i-simple-icons:nodedotjs items-center dark:text-yellow-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">
            JS framework / CSS3 effects
          </h4>
        </div>
        <p>
          Use of animation and rich functionality of JavaScript, providing ease
          of use to your visitors. I build websites using Astro. You can learn
          more about the build tool from the link in the footer. Astro ensures
          your website is lightweight and only loads what's essential on the
          page.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-purple-600 w-12 i-solar:layers-line-duotone items-center dark:text-purple-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">No templates</h4>
        </div>
        <p>
          I never use templates. Your website will be carefully crafted from
          scratch, just for you. That includes every small element. I don't use
          bootstrap or any other framework templates.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-teal-600 w-12 i-solar:bolt-line-duotone items-center dark:text-teal-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Optimization</h4>
        </div>
        <p>
          When optimizing a website for performance, there are three primary
          types of front end optimization techniques.
        </p>
        <ul class="list-inside list-decimal">
          <li>Techniques that reduce the number of requests.</li>
          <li>Techniques that reduce the overall size of the content.</li>
          <li>
            Practices that promote parallelization (i.e. simultaneous download
            of assets).
          </li>
        </ul>
        <p>
          By structuring the HTML properly, optimizing images, minifying CSS and
          JavaScript, your website will be lightening fast.
        </p>
        <div>
          You can check the performance audits of this website below.
          <ul class="list-inside list-decimal mt-4">
            <li>
              <Link
                href="/data/GTmetrix-report-weboreviews.com-20221113T043524-unorHqJA.pdf"
                target="_blank"
              >
                GTmetrix Analysis (2022-11-13)
              </Link>
            </li>
            <li>
              <Link
                href="/data/weboreviews.com_2022-11-13_17-55-04.report-desktop.html"
                target="_blank"
              >
                Lighthouse - desktop device (2022-11-13)
              </Link>
            </li>
            <li>
              <Link
                href="/data/weboreviews.com_2022-11-13_17-57-50.report-mobile.html"
                target="_blank"
              >
                Lighthouse - mobile device (2022-11-13)
              </Link>
            </li>
          </ul>
        </div>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-pink-600 w-12 i-solar:hand-money-line-duotone items-center dark:text-pink-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Pricing</h4>
        </div>
        <p>
          I charge based on how much work I have to do. The fundamental design
          will have a determined price, and the separate pages will be charged
          based on how the content changes.
        </p>
        <p>
          Please <Link href="/contact/#content-wrapper">contact me</Link> for a quote.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <span
            class="flex flex-shrink-0 h-12 my-2 mx-2 text-orange-600 w-12 i-solar:graph-new-up-line-duotone items-center dark:text-orange-400"
          ></span>

          <h4 class="font-display text-f-lg fw600">Value Add-on</h4>
        </div>
        <ul class="list-inside list-decimal">
          <li>
            I see that my service fits within your budget and/or time
            constraints.
          </li>
          <li>
            I will provide you with ongoing web support for your new site.
            Especially as your company grows and your online information and
            written content on your website change.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Page>
