---
// Component Imports
import Layout from "../layouts/PageLayout.astro";
import Hero from "../layouts/DesignHero.astro";
import Link from "../components/Link.astro";
import responsive from "../images/responsive.svg";
import { Icon } from "astro-icon";

const meta = {
  title: "Design",
  description: "Why choose me? Check the page to find out.",
};
---

<Layout {meta}>
  <Hero />
  <div
    id="content-wrapper"
    class="md: mt-40 lg:mt-0 2xl:mt-80 container p-8 mx-auto lg:p-24 dark:bg-dark-900 dark:text-white"
  >
    <div class="mx-auto space-y-16 leading-relaxed max-w-prose">
      <h3 class="mx-3 my-5 text-5xl font-bold text-center font-display">
        Design
      </h3>
      <p
        class="first-letter:text-3xl first-letter:text-geraldine-500 first-letter:font-semibold"
      >
        Underneath are a few modern concepts generally used in web design
        process. These established standards and practices will offer you an
        insight into what exactly is included in my web design services.
      </p>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 w-12 h-12 mx-2 my-2 text-cyan-600 dark:text-cyan-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Web Standards</h4>
        </div>
        <p>
          Web standards are the formal, non-proprietary standards and other
          technical specifications that define and describe aspects of the World
          Wide Web.
        </p>
        <p>
          Web standards, in the narrow sense, consist of the following:
          Recommendations published by the World Wide Web Consortium (W3C), such
          as HTML, Cascading Style Sheets, the Document Object Model, image
          formats like Portable Network Graphics and Scalable Vector Graphics.
          My process includes these standardized best practices.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-indigo-600 dark:text-indigo-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Responsive</h4>
        </div>
        <p>
          Responsive web design is an approach to web design that makes web
          pages render properly on a variety of devices and window or screen
          sizes.
        </p>
        <p>
          Your website will be crafted to provide an optimal viewing experience,
          easy reading and navigation with a minimum of re-sizing, panning, and
          scrolling across a broad range of devices (from mobile phones to
          desktop computer monitors).
        </p>
        <p>Want to see it live in action? Try re-sizing your browser window!</p>
        <img
          class="dark:filter dark:brightness-75 dark:contrast-125"
          src={responsive}
          alt="Responsive"
        />
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-green-600 dark:text-green-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Compatibility</h4>
        </div>
        <p>
          Clean coding. Your website will function properly in all popular and
          latest browsers. I perform a cross-platform testing.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            aria-label="icon"
            focusable="false"
            role="img"
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-lime-600 dark:text-lime-400"
            viewBox="0 0 512 512"
            style="transform: rotate(360deg)"
          >
            <circle
              fill="none"
              stroke="currentColor"
              stroke-linejoin="round"
              stroke-width="32"
              cx="256"
              cy="56"
              r="40"></circle>
            <path
              fill="none"
              stroke="currentColor"
              stroke-linejoin="round"
              stroke-width="32"
              d="M204.23 274.44c2.9-18.06 4.2-35.52-.5-47.59c-4-10.38-12.7-16.19-23.2-20.15L88 176.76c-12-4-23.21-10.7-24-23.94c-1-17 14-28 29-24c0 0 88 31.14 163 31.14s162-31 162-31c18-5 30 9 30 23.79c0 14.21-11 19.21-24 23.94l-88 31.91c-8 3-21 9-26 18.18c-6 10.75-5 29.53-2.1 47.59l5.9 29.63l37.41 163.9c2.8 13.15-6.3 25.44-19.4 27.74S308 489 304.12 476.28l-37.56-115.93q-2.71-8.34-4.8-16.87L256 320l-5.3 21.65q-2.52 10.35-5.8 20.48L208 476.18c-4 12.85-14.5 21.75-27.6 19.46s-22.4-15.59-19.46-27.74l37.39-163.83z"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Accessibility</h4>
        </div>
        <p>
          A website that is accessible is designed to function properly with
          assistive technologies so that the information and functionality that
          is fundamental to the website is made accessible to every visitor. I
          use a variety of tools to audit my websites and that also includes
          testing it against the web accessibility guidelines defined by W3C.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-rose-600 dark:text-rose-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Contact Form</h4>
        </div>
        <p>
          You will be provided a contact form with custom form fields, so your
          customers can contact you and provide information that
          <strong>you</strong> need.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-purple-600 dark:text-purple-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Dark mode</h4>
        </div>
        <p>
          The dark mode is a color scheme that uses light-colored text, icons
          and graphical user interface elements on a dark background. It reduces
          strain on your eyes and is very popular among all users. You can try
          seeing this website in dark mode if you haven't already. Use the theme
          button in the menu.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-emerald-600 dark:text-emerald-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              d="M3.316 3L12 18l8.684-15H23L12 22L1 3h2.316zm4.342 0L12 10.5L16.342 3h2.316L12 14.5L5.342 3h2.316z"
              fill="currentColor"></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">
            JS framework / CSS3 effects
          </h4>
        </div>
        <p>
          Use of animation and rich functionality of JavaScript, providing ease
          of use to your visitors. I build websites using astro. You can find
          out more about the build tool from the link in the footer. Astro
          ensures your website is lightweight and only loads what's needed on
          the page. <svg
            class="inline-block w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 128 128"
            ><path
              fill="#CA2C31"
              d="m3.77 71.73l16.34-16.1l27.82-4.93l-2.75 14.56L7.57 76.82l-2.43-1.05z"
            ></path><path
              fill="#A02422"
              d="M22.94 59.76L5.2 75.88l13.05 6.36l19.81-10.11v-4.77l4.05-10.92zm41.98 28.39l-8.57 3.72l-8.09 17.15s7.12 15.77 7.44 15.77c.32 0 4.37.32 4.37.32l14.4-16.1l3.64-27.5l-13.19 6.64z"
            ></path><path
              fill="#CA2C31"
              d="M56.5 100.84s4.77-.97 8.17-2.59c3.4-1.62 7.6-4.04 7.6-4.04l-1.54 13.43l-15.05 17.13s-.59-.73-3.09-6.17c-1.99-4.34-2.68-5.89-2.68-5.89l6.59-11.87z"
            ></path><path
              fill="#F7D74D"
              d="M31.58 80.66s-5.74-.48-12.03 7.47c-5.74 7.26-8.43 19.08-9.47 22.12s-3.53 3.66-2.7 5.05s4.42 1.31 8.85.76s8.23-1.94 8.23-1.94s-.19.48-.83 1.52c-.23.37-1.03.9-.97 1.45c.14 1.31 11.36 1.34 20.32-7.88c9.68-9.95 4.98-18.11 4.98-18.11L31.58 80.66z"
            ></path><path
              fill="#FBF0B4"
              d="M33.31 85.29s-6.19.33-11.31 8.28s-7.5 17.16-7.01 17.78c.48.62 10.02-2.83 12.31-2.14c1.57.48.76 2.07 1.18 2.49c.35.35 4.49.94 11.19-6.32c6.71-7.26 5.12-17.46 5.12-17.46l-11.48-2.63z"
            ></path><path
              fill="#858585"
              d="M36.35 74.44s-3.11 2.77-4.22 4.36c-1.11 1.59-1.11 1.73-1.04 2.21c.07.48 1.22 5.75 6.01 10.37c5.88 5.67 11.13 6.43 11.89 6.43c.76 0 5.81-5.67 5.81-5.67l-18.45-17.7z"
            ></path><path
              fill="#437687"
              d="M50.1 91.24s5.04 3.31 13.49.47c11.55-3.88 20.02-12.56 30.51-23.52c10.12-10.58 18.61-23.71 18.61-23.71l-5.95-19.93L50.1 91.24z"
            ></path><path
              fill="#3F545F"
              d="m67.99 80.33l1.39-4.32l3.48.49s2.65 1.25 4.6 2.16c1.95.91 4.46 1.6 4.46 1.6l-4.95 4.18s-2.7-1.02-4.67-1.88c-2.22-.97-4.31-2.23-4.31-2.23z"
            ></path><path
              fill="#8DAFBF"
              d="M84.32 16.14s-9.62 5.58-23.41 18.63c-12.43 11.76-21.64 22.4-23.87 31.45c-1.86 7.58-.87 12.18 3.36 17.15c4.47 5.26 9.71 7.87 9.71 7.87s3.94.06 20.38-12.59C91 62.86 107.43 36.42 107.43 36.42L84.32 16.14z"
            ></path><path
              fill="#D83F22"
              d="M104.18 41.84s-8.37-3.57-14.34-11.9c-5.93-8.27-5.46-13.86-5.46-13.86s4.96-3.89 16.11-8.34c7.5-2.99 17.71-4.52 21.07-2.03s-2.3 14.98-2.3 14.98l-10.31 19.96l-4.77 1.19z"
            ></path><path
              fill="#6896A5"
              d="M68.17 80.4s-7.23-3.69-11.83-8.94c-8.7-9.91-10.5-20.79-10.5-20.79l4.37-5.13S51.3 57.1 60.63 67.09c6.08 6.51 12.43 9.49 12.43 9.49s-1.27 1.07-2.63 2.11c-.87.67-2.26 1.71-2.26 1.71z"
            ></path><path
              fill="#A02422"
              d="M112.71 44.48s4.34-5.23 8.45-17.02c5.74-16.44.74-21.42.74-21.42s-1.69 7.82-7.56 18.69c-4.71 8.71-10.41 17-10.41 17s3.14 1.41 4.84 1.9c2.14.62 3.94.85 3.94.85z"
            ></path><path
              fill="#B3E1EE"
              d="M39.81 69.66c1.3 1.24 3.27-.06 4.56-3.1c1.3-3.04 1.28-4.74.28-5.46c-1.24-.9-3.32 1.07-4.23 2.82c-1 1.94-1.59 4.8-.61 5.74zm45.14-49.53s-7.61 5.47-15.73 12.91c-7.45 6.83-12.39 12.17-13.07 13.41c-.72 1.33-.73 3.21-.17 4.17s1.8 1.46 2.93.62c1.13-.85 9.18-9.75 16.45-16.11c6.65-5.82 11.78-9.51 11.78-9.51s2.08-3.68 1.74-4.52c-.34-.85-3.93-.97-3.93-.97z"
            ></path><path
              fill="#ED6A65"
              d="M84.95 20.13s5.62-4.31 11.74-7.34c5.69-2.82 11.35-5.17 12.37-3.13c.97 1.94-5.37 4.58-10.95 8.14c-5.58 3.56-10.95 7.81-10.95 7.81s-.82-1.5-1.35-2.89a23.7 23.7 0 0 1-.86-2.59z"
            ></path><path
              fill="#E1E1E1"
              d="M89.59 39.25c-5.57-5.13-13.32-3.75-17.14.81c-3.92 4.7-3.63 11.88 1 16.2c4.21 3.92 12.04 4.81 16.76-.69c4.2-4.88 3.94-12.13-.62-16.32z"
            ></path><path
              fill="#3F545F"
              d="M75.33 41.87c-3.31 3.25-3.13 9.69.81 12.63c3.44 2.57 8.32 2.44 11.38-.69c3.06-3.13 3.06-8.82.19-11.76c-3.3-3.37-8.59-3.9-12.38-.18z"
            ></path><path
              fill="#A02524"
              d="M50 76.89s6.19-6.28 6.87-5.6c.68.68.59 4.49-2.37 8.73c-2.97 4.24-9.5 11.79-14.67 16.88c-5.1 5.01-12.29 10.74-12.97 10.64c-.53-.08-2.68-1.15-3.54-2.19c-.84-1.03 1.67-5.9 2.68-7.51c1.02-1.61 24-20.95 24-20.95z"
            ></path><path
              fill="#CA2C31"
              d="M21.23 101.85c-.08 1.44 2.12 3.54 2.12 3.54L56.87 71.3s-1.57-1.77-6.19 1.1c-4.66 2.9-8.74 6.38-14.76 12.21c-8.39 8.14-14.61 15.8-14.69 17.24z"
            ></path><path
              fill="#FFF"
              d="M19.06 36.95c-1.11 1.11-1.16 2.89.08 3.91c1.1.91 2.89.32 3.56-.5s.59-2.6-.3-3.48c-.89-.89-2.66-.6-3.34.07z"
            ></path><path
              fill="#FFF"
              d="M41.02 35.65c-.84.93-.57 2.31.21 2.82s1.95.46 2.52-.24c.51-.63.57-1.89-.21-2.67c-.68-.67-1.98-.51-2.52.09z"
              opacity=".5"></path><path
              fill="#FFF"
              d="M55.55 11.89s1.22-3.48 1.94-3.52c.73-.04 1.78 3.48 1.78 3.48s3.61.04 3.85.57c.31.68-2.31 2.96-2.31 2.96s.85 3.4.45 3.81c-.45.45-3.56-1.34-3.56-1.34s-3.2 2.23-3.89 1.62c-.6-.53.65-4.13.65-4.13s-3-2.19-2.84-2.8c.23-.86 3.93-.65 3.93-.65zm41.46 83.44c1.21.67 2.73.29 3.29-1c.51-1.15-.43-2.52-1.28-2.89c-.85-.37-2.34.12-2.88 1.09c-.53.96.14 2.4.87 2.8zm17.18-29.49c-.69-1.07-2.18-1.42-3.15-.56c-.94.84-.71 2.16-.18 2.83c.53.67 1.95.92 2.81.37s.94-2 .52-2.64z"
            ></path>
          </svg>
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-yellow-600 dark:text-yellow-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">No templates</h4>
        </div>
        <p>
          I never use templates. Your website will be carefully crafted from
          scratch, just for you. That includes every small element. I don't use
          bootstrap or any other framework templates.
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-emerald-600 dark:text-emerald-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Optimization</h4>
        </div>
        <p>
          When optimizing a website for performance, there are three primary
          types of front end optimization techniques.
        </p>
        <ul class="list-decimal list-inside">
          <li>Techniques that reduce the number of requests.</li>
          <li>Techniques that reduce the overall size of the content.</li>
          <li>
            Practices that promote parallelization (i.e. simultaneous download
            of assets).
          </li>
        </ul>
        <p>
          By structuring the HTML properly, optimizing images, minifying CSS and
          JavaScript, your website will be lightening fast.
        </p>
        <div>
          You are probably more interested in the result right? I tested my code
          in a few tools. GTmetrix to test performance and an open-source tool
          called Lighthouse from Google which has audits for performance,
          accessibility, progressive web apps, SEO and more. Following are the
          results.
          <ul class="mt-4 list-decimal list-inside">
            <li>
              <Link
                href="/data/GTmetrix-report-weboreviews.com-20221018T051916-PvvjRTIh.pdf"
                target="_blank">GTmetrix Analysis</Link
              >
            </li>
            <li>
              <Link
                href="/data/weboreviews.com_2022-10-18_17-39-11-desktop.html"
                target="_blank">Lighthouse - desktop device</Link
              >
            </li>
            <li>
              <Link
                href="/data/weboreviews.com_2022-10-18_17-43-20-mobile.html"
                target="_blank">Lighthouse - mobile device</Link
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-red-600 dark:text-red-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Pricing</h4>
        </div>
        <p>
          I charge on the basis of how much work I have to do. Fundamental
          design will have a determined price, and the separate pages will be
          charged based on how the content changes.
        </p>
        <p>
          For a quotation,
          <Link href="/contact/#content-wrapper">Contact Me</Link>
        </p>
      </div>

      <div class="space-y-5">
        <div class="flex items-center">
          <svg
            class="flex items-center flex-shrink-0 w-12 h-12 mx-2 my-2 text-orange-600 dark:text-orange-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
          </svg>
          <h4 class="text-3xl font-semibold font-display">Value Add-on</h4>
        </div>
        <ul class="list-decimal list-inside">
          <li>
            I personally see that my service fits within your budget and/or time
            constraints.
          </li>
          <li>
            I will provide you with ongoing web support of your new site.
            Especially as your business grows and your online information and
            site's written content changes.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
