---
// Component Imports
import Layout from "../layouts/PageLayout.astro";
import Hero from "../layouts/WorkHero.astro";
import ensys from "../images/ensys.png";
import ensysFull from "../images/ensys-lg.png";
import Modal from "../components/Modal.astro";
import ButtonIcon from "../components/ButtonIcon.astro";
import { Icon } from "astro-icon";
import { Image, Picture } from "@astrojs/image/components";

const meta = {
  title: "Ensys Engineers",
  description: "Business website for a heat pump manufacturing business.",
};
---

<Layout {meta}>
  <Hero />
  <div
    id="content-wrapper"
    class="container mx-auto px-8 md:px-0 py-6 md:py-24 dark:bg-dark-900 dark:text-white"
  >
    <div
      class="container min-h-full px-4 my-2 space-y-5 leading-relaxed text-left lg:px-8"
    >
      <div id="pagination" class="flex flex-wrap items-center space-x-4">
        <a
          href="/"
          class="hover:duration-200 hover:transition-all hover:ease hover:text-geraldine-500 focus:border-b-4 focus:outline-none focus:border-slate-500"
          tabindex="0">Home</a
        >
        <Icon name="icon-arrow" class="w-4 h-4" />
        <a
          href="/work/#content-wrapper"
          class="hover:duration-200 hover:transition-all hover:ease hover:text-geraldine-500 focus:border-b-4 focus:outline-none focus:border-slate-500"
          tabindex="0">Work</a
        >
        <Icon name="icon-arrow" class="w-4 h-4" />
        <a
          href="#"
          class="focus:border-b-4 focus:outline-none focus:border-slate-500"
          tabindex="0">Ensys Engineers</a
        >
      </div>

      <div class="my-6 text-3xl font-semibold font-display" id="anchor">
        Ensys
        <span class="text-indigo-600 dark:text-indigo-300">Engineers</span>
      </div>
      <div class="flex flex-col items-start md:flex-row">
        <div
          class="flex flex-shrink-0 mx-2 my-4 border-2 border-gray-200 shadow-lg dark:border-gray-800 md:w-1/2 lg:w-auto hover:border-geraldine-400 dark:hover:border-geraldine-400"
        >
          <Image
            class="object-contain w-full h-auto dark:filter dark:brightness-75 dark:contrast-125"
            src={ensys}
            alt="Ensys"
          />
        </div>

        <div class="flex flex-col px-2 mb-8 space-y-3 md:pl-6">
          <p>
            This heat pump manufacturing business required a website to showcase
            the pumps they were making along with the manufacturing facilities,
            their past clients and a contact page which showed their location on
            map.
          </p>

          <p>
            Some key points and requirements of this project were as follows
          </p>

          <ul class="list-decimal list-inside">
            <li>Local business website.</li>
            <li>Responsive design.</li>
            <li>Image slider.</li>
            <li>Contact form with map.</li>
          </ul>
          <div class="flex items-center">
            <div class="mr-2">
              <ButtonIcon
                href="http://ensys.in"
                target="_blank"
                color="bg-cyan-700 hover:bg-cyan-600 dark:bg-cyan-400 dark:hover:bg-cyan-500 py-3"
                iconName="icon-newtab"
                iconClass="w-5 h-5 mr-2 text-current">Website</ButtonIcon
              >
            </div>
            <div>
              <ButtonIcon
                id="modal2-trigger"
                color="bg-emerald-700 hover:bg-emerald-600 dark:bg-emerald-400 dark:hover:bg-emerald-500 cursor-pointer py-3"
                iconName="icon-picture"
                iconClass="w-5 h-5 mr-2 text-current">Screenshot</ButtonIcon
              >
            </div>
          </div>
        </div>
      </div>
      <div class="flex py-10">
        <div class="flex items-start">
          <svg
            class="inline-block w-5 h-5 fill-current text-geraldine-600 md:w-10 md:h-10"
            aria-label="Quotes"
            viewBox="0 0 512 512"
          >
            <path
              d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
            ></path>
          </svg>
        </div>
        <div class="px-4 space-y-3 md:px-8">
          <p>
            We thank Akshay for the fantastic job done for our website Ensys.
          </p>

          <p>
            It was a pleasure working with Akshay, as he worked closely with us
            at every step in developing the site. We value his creative input
            that exceeded our expectations.
          </p>

          <p>
            He is young but very professional, committed to focusing on the
            customer’s needs and showing a genuine interest in helping the
            customer to achieve the required results. From the first moment we
            felt that our project was in good hands and that the experience,
            knowledge and enthusiasm of this young man would show in our new
            website.
          </p>

          <p class="font-semibold text-right">- Ensys Engineers</p>
        </div>
        <div class="flex items-end">
          <svg
            class="inline-block w-5 h-5 fill-current text-geraldine-600 md:w-10 md:h-10"
            aria-label="Quotes"
            viewBox="0 0 512 512"
          >
            <path
              d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <Modal triggerId="modal2-trigger" title="Ensys Engineers">
    <div class="mt-3 grid place-content-center">
      <Picture
        class="dark:filter dark:brightness-75 dark:contrast-125"
        src={ensysFull}
        alt="Ensys Engineers Full Image"
        widths={[300, 450, 600]}
        sizes="(max-width: 768px) 300px, (max-width: 1024px) 450px, 600px"
        aspectRatio={1}
      />
    </div>
  </Modal>
</Layout>
