---
// Component Imports
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/WorkHero.astro";
import ensys from "../images/ensys.png";
import ensysFull from "../images/ensys-lg.png";
import Modal from "../components/Modal.astro";
import ButtonIcon from "../components/ButtonIcon.astro";
import { Image, Picture } from "@astrojs/image/components";

const meta = {
  title: "Ensys Engineers",
  description: "Business website for a heat pump manufacturing business.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class=":uno: container mxa py-6 px-8 md:py-24 md:px-0 lg:py-12"
  >
    <div
      class=":uno: container min-h-full space-y-12 my-2 text-left leading-relaxed px-4 lg:px-8"
    >
      <div
        id="pagination"
        class=":uno: bg-gray-2 flex flex-wrap space-x-2 rounded-1 shadow-md p-4 items-center border border-gray-6"
      >
        <a
          href="/"
          class=":uno: hover:transition-all hover:ease hover:text-crimson-11 hover:duration-200 focus:outline-none focus:border-b-4 focus:border-gray-7"
          tabindex="0">Home</a
        >
        <span
          class=":uno: h-6 w-6 i-solar:double-alt-arrow-right-line-duotone"
          role="none"></span>
        <a
          href="/work/#content-wrapper"
          class=":uno: hover:transition-all hover:ease hover:text-crimson-11 hover:duration-200 focus:outline-none focus:border-b-4 focus:border-gray-7"
          tabindex="0">Work</a
        >
        <span
          class=":uno: h-6 w-6 i-solar:double-alt-arrow-right-line-duotone"
          role="none"></span>
        <a
          href="#"
          class=":uno: focus:outline-none focus:border-b-4 focus:border-gray-7"
          tabindex="0">Ensys Engineers</a
        >
      </div>

      <div class=":uno: font-display my-6 text-f-xl fw600" id="anchor">
        Ensys
        <span class=":uno: text-blue-11"> Engineers</span>
      </div>
      <div class=":uno: flex flex-col items-start md:flex-row">
        <div
          class=":uno: flex border-2 border-gray-6 flex-shrink-0 shadow-lg my-4 mx-2 md:w-1/2 lg:w-auto"
        >
          <Image
            class=":uno: h-auto object-contain w-full dark:filter dark:brightness-75 dark:contrast-125"
            src={ensys}
            alt="Ensys"
            role="img"
            width={480}
            height={270}
          />
        </div>

        <div class=":uno: flex flex-col space-y-4 my-4 px-2 md:pl-6">
          <p>
            This heat pump manufacturing business required a website to showcase
            the pumps they were making along with the manufacturing facilities,
            their past clients, and a contact page that showed their location on
            a map.
          </p>

          <p>This project's key points and requirements were as follows:</p>

          <ul class=":uno: list-inside list-decimal">
            <li>Local business website.</li>
            <li>Responsive design.</li>
            <li>Image slider.</li>
            <li>Contact form with map.</li>
          </ul>

          <div class=":uno: flex items-start flex-wrap gap-x-2">
            <div>
              <ButtonIcon
                href="http://ensys.in"
                target="_blank"
                color="bg-blue-9 hover:bg-blue-10"
                iconClass="w-5 h-5 mr-2 text-current i-solar:square-top-down-linear"
              >
                Website
              </ButtonIcon>
            </div>
            <div>
              <ButtonIcon
                id="modal2-trigger"
                color="bg-gray-9 hover:bg-gray-10 cursor-pointer"
                iconClass="w-5 h-5 mr-2 text-current i-solar:full-screen-square-line-duotone"
              >
                Screenshot
              </ButtonIcon>
            </div>
          </div>
        </div>
      </div>
      <div
        class=":uno: bg-gray-2 border rounded-md border-gray-7 shadow-md p-6 gap-4"
      >
        <div class="flex flex-col items-center md:items-start gap-6">
          <div class="md:ml-6">
            <div
              class=":uno: rounded-full flex self-start shrink-0 mxa border-gray-6 border-2 h-28 w-28 items-center justify-center"
            >
              <span
                class=":uno: h-16 w-16 i-solar:user-hand-up-bold-duotone"
                role="none"></span>
            </div>
          </div>

          <span
            class=":uno: shrink-0 self-start h-10 text-crimson-9 w-10 i-ph:quotes-duotone md:h-12 md:w-12"
            role="none"></span>

          <div class=":uno: space-y-3 px-4 md:px-8">
            <p>
              We thank Akshay for the fantastic job done for our website Ensys.
            </p>

            <p>
              It was a pleasure working with Akshay, as he worked closely with
              us at every step in developing the site. We value his creative
              input that exceeded our expectations.
            </p>

            <p>
              He is young but very professional, committed to focusing on the
              customer’s needs and showing a genuine interest in helping the
              customer to achieve the required results. From the first moment we
              felt that our project was in good hands and that the experience,
              knowledge and enthusiasm of this young man would show in our new
              website.
            </p>

            <p class=":uno: text-right fw600">- Ensys Engineers</p>
          </div>
          <div class=":uno: shrink-0 self-end">
            <span
              class=":uno: h-10 text-crimson-9 w-10 i-ph:quotes-duotone md:h-12 md:w-12"
              role="none"></span>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Modal triggerId="modal2-trigger" title="Ensys Engineers">
    <div class=":uno: mt-3 grid place-content-center">
      <Picture
        class=":uno: dark:filter dark:brightness-75 dark:contrast-125"
        src={ensysFull}
        alt="Ensys Engineers Full Image"
        widths={[300, 450, 600]}
        sizes="(max-width: 768px) 300px, (max-width: 1024px) 450px, 600px"
        aspectRatio={1}
      />
    </div>
  </Modal>
</Page>
