---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/HomeHero.astro";
import Bullet from "../components/Bullet.astro";

const meta = {
  title: "Web-o-Reviews",
  description: "Akshay Ghate's Portfolio and future blog.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main id="content-wrapper" class="mxa py-12">
    <section id="A" class="space-y-48 grid place-items-center">
      <div class="max-w-prose">
        <h3 class="font-display my-5 mx-3 text-center text-f-2xl fw900">
          What I do
        </h3>
        <p
          class="first-letter:text-f-xl first-letter:fw600 first-letter:text-brand-9 max-w-prose"
        >
          I offer web design services to businesses and individuals. I see that
          my service fits within your budget and/or time constraints. Once my
          web design services are complete, I will also provide you with ongoing
          web support for your new site. Especially as your company grows and
          your online information and written content on your website change.
        </p>
      </div>
      <div>
        <div
          class="rounded-full flex bg-teal-3 dark:bg-tealDark-3 h-16 ml-4 p-3 ring-2 ring-teal-7 dark:ring-tealDark-7 ring-offset-teal-7 ring-offset-8 w-16 z-10 relative items-center justify-center dark:ring-offset-tealDark-7"
        >
          <span
            class="h-12 text-teal-12 dark:text-tealDark-12 w-12 i-solar-code-line-duotone"
            role="none"></span>
        </div>
        <div
          class="bg-teal-2 dark:bg-tealDark-2 border rounded-md border-teal-6 dark:border-tealDark-6 dark:text-tealDark-11 text-teal-11 shadow-md -mt-8 py-8 px-4 md:p-8"
        >
          <div class="text-f-lg font-display py-4 fw600">Web Developement</div>
          <p>
            HTML / CSS, Javascript Animation, Responsive website, Support and
            Maintenance.
          </p>
        </div>
      </div>
      <div class="bg-sage-2 dark:bg-sageDark-3 w-full">
        <div class="max-w-7xl mxa py-24">
          <h3 class="font-display mx-3 mt-5 text-f-xl text-center mb-14 fw700">
            Our Process
          </h3>
          <ul
            class="grid gap-24 grid-cols-1 place-items-stretch sm:gap-x-6 sm:gap-y-12 sm:grid-cols-2 lg:grid-cols-3"
          >
            <li
              class="bg-white dark:bg-sageDark-2 dark:border-sageDark-6 border rounded-md border-sage-6 shadow-md py-4 px-6 lg:px-8 hover:shadow-lg ease-out hover:ease-in duration-300"
            >
              <div
                class="rounded-full flex mxa bg-blue-3 dark:bg-blueDark-3 h-16 -mt-12 p-3 ring-2 ring-blue-7 dark:ring-blueDark-7 ring-offset-blue-7 dark:ring-offset-blueDark-7 ring-offset-8 w-16 z-10 items-center justify-center"
              >
                <span
                  class="h-12 text-blue-12 dark:text-blueDark-12 w-12 i-solar-chat-line-linear"
                  role="none"></span>
              </div>
              <h4
                class="border-b-2 border-blue-6 dark:border-blueDark-6 my-4 text-f-lg fw700 tracking-wider font-display"
              >
                1. Discuss
              </h4>
              <p>
                To define the goals. What objective does the website need to
                accomplish? What problem does it solve?
              </p>
              <p
                class="my-2 text-f-sm uppercase tracking-wider text-sage-11 dark:text-sageDark-11 fw600"
              >
                Key Process:
              </p>
              <div class="flex flex-wrap p-1 justify-start">
                <Bullet
                  color="bg-blue-1 border-blue-6 text-blue-11 dark:bg-blueDark-1 dark:border-blueDark-6 dark:text-blueDark-11"
                >
                  Brainstorming
                </Bullet>
                <Bullet
                  color="bg-blue-1 border-blue-6 text-blue-11 dark:bg-blueDark-1 dark:border-blueDark-6 dark:text-blueDark-11"
                >
                  Define a Problem
                </Bullet>
                <Bullet
                  color="bg-blue-1 border-blue-6 text-blue-11 dark:bg-blueDark-1 dark:border-blueDark-6 dark:text-blueDark-11"
                >
                  Primary Aim
                </Bullet>
                <Bullet
                  color="bg-blue-1 border-blue-6 text-blue-11 dark:bg-blueDark-1 dark:border-blueDark-6 dark:text-blueDark-11"
                >
                  Analysis
                </Bullet>
              </div>
            </li>
            <li
              class="bg-white dark:bg-sageDark-2 border rounded-md border-sage-6 dark:border-sageDark-6 shadow-md py-4 px-6 lg:px-8 hover:shadow-lg ease-out hover:ease-in duration-300"
            >
              <div
                class="rounded-full flex mxa bg-purple-3 dark:bg-purpleDark-3 h-16 -mt-12 p-3 ring-2 ring-purple-7 dark:ring-purpleDark-7 ring-offset-purple-7 dark:ring-offset-purpleDark-7 ring-offset-8 w-16 z-10 items-center justify-center"
              >
                <span
                  class="h-12 text-purple-12 dark:text-purpleDark-12 w-12 i-solar-checklist-bold-duotone"
                  role="none"></span>
              </div>
              <h4
                class="border-b-2 border-purple-6 dark:border-purpleDark-6 my-4 text-f-lg fw700 tracking-wider font-display"
              >
                2. Planning
              </h4>
              <p>
                To decide the technical aspects of the project, such as the
                selection of the tech stack to build the website and content
                strategy planning.
              </p>
              <p
                class="my-2 text-f-sm uppercase tracking-wider text-sage-11 dark:text-sageDark-11 fw600"
              >
                Key Process:
              </p>
              <div class="flex flex-wrap p-1 justify-start">
                <Bullet
                  color="bg-purple-1 dark:bg-purpleDark-1 border-purple-6 dark:border-purpleDark-6 text-purple-11 dark:text-purpleDark-11"
                >
                  Content Developement Strategy
                </Bullet>
                <Bullet
                  color="bg-purple-1 dark:bg-purpleDark-1 border-purple-6 dark:border-purpleDark-6 text-purple-11 dark:text-purpleDark-11"
                >
                  SEO Strategy
                </Bullet>
                <Bullet
                  color="bg-purple-1 dark:bg-purpleDark-1 border-purple-6 dark:border-purpleDark-6 text-purple-11 dark:text-purpleDark-11"
                >
                  Technology stacks
                </Bullet>
              </div>
            </li>
            <li
              class="bg-white dark:bg-sageDark-2 border rounded-md border-sage-6 dark:border-sageDark-6 shadow-md py-4 px-6 lg:px-8 hover:shadow-lg ease-out hover:ease-in duration-300"
            >
              <div
                class="rounded-full flex mxa bg-tomato-3 dark:bg-tomatoDark-3 h-16 -mt-12 p-3 ring-2 ring-tomato-7 dark:ring-tomatoDark-7 ring-offset-tomato-7 dark:ring-offset-tomatoDark-7 ring-offset-8 w-16 z-10 relative items-center justify-center"
              >
                <span
                  class="h-12 text-tomato-12 dark:text-tomatoDark-12 w-12 i-solar-pallete-2-outline"
                  role="none"></span>
              </div>
              <h4
                class="border-b-2 border-tomato-6 dark:border-tomatoDark-6 my-4 text-f-lg fw700 tracking-wider font-display"
              >
                3. Designing
              </h4>
              <p>
                To design the color scheme, logo design, and other interactive
                design elements to be incorporated on the website and figure out
                the structure.
              </p>
              <p
                class="my-2 text-f-sm uppercase tracking-wider text-sage-11 dark:text-sageDark-11 fw600"
              >
                Key Process:
              </p>
              <div class="flex flex-wrap p-1 justify-start">
                <Bullet
                  color="bg-tomato-1 dark:bg-tomatoDark-1 border-tomato-6 dark:border-tomatoDark-6 text-tomato-11 dark:text-tomatoDark-11"
                >
                  Prototyping
                </Bullet>
                <Bullet
                  color="bg-tomato-1 dark:bg-tomatoDark-1 border-tomato-6 dark:border-tomatoDark-6 text-tomato-11 dark:text-tomatoDark-11"
                >
                  Designing
                </Bullet>
                <Bullet
                  color="bg-tomato-1 dark:bg-tomatoDark-1 border-tomato-6 dark:border-tomatoDark-6 text-tomato-11 dark:text-tomatoDark-11"
                >
                  Developement
                </Bullet>
              </div>
            </li>
            <li
              class="bg-white dark:bg-sageDark-2 border rounded-md border-sage-6 dark:border-sageDark-6 shadow-md py-4 px-6 lg:px-8 hover:shadow-lg ease-out hover:ease-in duration-300"
            >
              <div
                class="rounded-full flex mxa bg-yellow-3 dark:bg-yellowDark-3 h-16 -mt-12 p-3 ring-2 ring-yellow-7 dark:ring-yellowDark-7 ring-offset-yellow-7 dark:ring-offset-yellowDark-7 ring-offset-8 w-16 z-10 relative items-center justify-center"
              >
                <span
                  class="h-12 text-yellow-12 dark:text-yellowDark-12 w-12 i-solar-test-tube-minimalistic-line-duotone"
                  role="none"></span>
              </div>
              <h4
                class="border-b-2 border-yellow-6 dark:border-yellowDark-6 my-4 text-f-lg fw700 tracking-wider font-display"
              >
                4. Testing
              </h4>
              <p>
                Website testing consists of several different tests, including
                functionality, usability, interface, compatibility, etc.
              </p>
              <p
                class="my-2 text-f-sm uppercase tracking-wider text-sage-11 dark:text-sageDark-11 fw600"
              >
                Key Process:
              </p>
              <div class="flex flex-wrap p-1 justify-start">
                <Bullet
                  color="bg-yellow-1 dark:bg-yellowDark-1 border-yellow-6 dark:border-yellowDark-6 text-yellow-11 dark:text-yellowDark-11"
                >
                  Testing
                </Bullet>
                <Bullet
                  color="bg-yellow-1 dark:bg-yellowDark-1 border-yellow-6 dark:border-yellowDark-6 text-yellow-11 dark:text-yellowDark-11"
                >
                  Compatibility
                </Bullet>
              </div>
            </li>
            <li
              class="bg-white dark:bg-sageDark-2 border rounded-md border-sage-6 dark:border-sageDark-6 shadow-md py-4 px-6 lg:px-8 hover:shadow-lg ease-out hover:ease-in duration-300 sm:col-span-2"
            >
              <div
                class="rounded-full flex mxa bg-green-3 dark:bg-greenDark-3 h-16 -mt-12 p-3 ring-2 ring-green-7 dark:ring-greenDark-7 ring-offset-green-7 dark:ring-offset-greenDark-7 ring-offset-8 w-16 z-10 relative items-center justify-center"
              >
                <span
                  class="h-12 text-green-12 dark:text-greenDark-12 w-12 i-solar:rocket-line-duotone"
                  role="none"></span>
              </div>
              <h4
                class="border-b-2 border-green-6 dark:border-greenDark-6 my-4 text-f-lg fw700 tracking-wider font-display"
              >
                5. Launching and Maintenance
              </h4>
              <p>
                Launching the website involves transferring it from my local
                server to a live server. The launch isn't the end of the
                development journey. The maintenance phase is what follows and
                is critical for the website to be successfully up and running.
              </p>
              <p
                class="my-2 text-f-sm uppercase tracking-wider text-sage-11 dark:text-sageDark-11 fw600"
              >
                Key Process:
              </p>
              <div class="flex flex-wrap p-1 justify-start">
                <Bullet
                  color="bg-green-1 dark:bg-greenDark-1 border-green-6 dark:border-greenDark-6 text-green-11 dark:text-greenDark-11"
                >
                  Testing
                </Bullet>
                <Bullet
                  color="bg-green-1 dark:bg-greenDark-1 border-green-6 dark:border-greenDark-6 text-green-11 dark:text-greenDark-11"
                >
                  Maintenance
                </Bullet>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Page>
