---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/HomeHero.astro";
import { Icon } from "astro-icon";
import Bullet from "../components/Bullet.astro";

const meta = {
  title: "Web-o-Reviews",
  description: "Akshay Ghate's Portfolio and future blog.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="container mx-auto max-w-7xl px-8 py-6 lg:py-24 dark:bg-dark-900 dark:text-white"
  >
    <div class="grid space-y-24 leading-relaxed place-items-center">
      <div class="max-w-prose">
        <h3 class="mx-3 my-5 text-f-xl font-bold text-center font-display">
          What I do
        </h3>
        <p
          class="first-letter:text-f-lg first-letter:text-geraldine-500 first-letter:font-semibold"
        >
          I offer web design services to businesses and individuals. I see that
          my service fits within your budget and/or time constraints. Once my
          web design services are complete, I will also provide you with ongoing
          web support for your new site. Especially as your business grows and
          your online information and website's written content changes.
        </p>
      </div>
      <div>
        <div
          class="relative z-10 flex items-center justify-center w-16 h-16 p-3 ml-4 rounded-full ring-offset-4 dark:ring-offset-gray-800 ring-2 bg-rose-600 dark:bg-rose-400 ring-rose-600 dark:ring-rose-400"
        >
          <Icon
            name="bx:code-alt"
            class="w-12 h-12 text-white dark:text-gray-800"
          />
        </div>
        <div
          class="px-4 py-8 -mt-8 bg-white border border-gray-200 rounded-md shadow-md dark:border-dark-600 dark:bg-dark-500 md:p-8"
        >
          <div class="py-4 text-f-lg font-semibold">Web Developement</div>
          <p>
            HTML / CSS, Javascript Animation, Responsive website, Support and
            Maintenance.
          </p>
        </div>
      </div>
      <div>
        <h3
          class="mx-3 mt-5 text-f-xl font-bold text-center font-display mb-14"
        >
          My Process
        </h3>
        <ul
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-24 sm:gap-x-6 sm:gap-y-12 place-items-stretch"
        >
          <li
            class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 animate-pop"
          >
            <div
              class="z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-blue-600 rounded-full dark:ring-offset-gray-800 dark:bg-blue-400 ring-offset-4 ring-blue-600 dark:ring-blue-400 ring-2"
            >
              <Icon
                name="bx:comment-dots"
                class="w-12 h-12 text-white dark:text-gray-800"
              />
            </div>
            <h4
              class="my-4 text-f-lg font-semibold border-b-2 border-blue-600 dark:border-blue-400"
            >
              1. Discuss
            </h4>
            <p>
              To define the goals. What objective does the website need to
              accomplish? What problem does it solve?.
            </p>
            <p class="my-2 text-f-sm font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <Bullet>Brainstorming</Bullet>
              <Bullet>Define a Problem</Bullet>
              <Bullet>Primary Aim</Bullet>
              <Bullet>Analysis</Bullet>
            </div>
          </li>
          <li
            class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal"
          >
            <div
              class="z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-purple-600 rounded-full dark:bg-purple-400 dark:ring-offset-gray-800 ring-offset-4 ring-purple-600 dark:ring-purple-400 ring-2"
            >
              <Icon
                name="bx:food-menu"
                class="w-12 h-12 text-white dark:text-gray-800"
              />
            </div>
            <h4
              class="my-4 text-f-lg font-semibold border-b-2 border-purple-600 dark:border-purple-400"
            >
              2. Planning
            </h4>
            <p>
              To decide the technical aspects of the project, such as a
              selection of the tech stack to build the website, content strategy
              planning.
            </p>
            <p class="my-2 text-f-sm font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <Bullet>Content Developement Strategy</Bullet>
              <Bullet>SEO Strategy</Bullet>
              <Bullet>Technology stacks</Bullet>
            </div>
          </li>
          <li
            class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal"
          >
            <div
              class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 rounded-full bg-fuchsia-600 dark:bg-fuchsia-400 dark:ring-offset-gray-800 ring-offset-4 ring-fuchsia-600 dark:ring-fuchsia-400 ring-2"
            >
              <Icon
                name="bx:palette"
                class="w-12 h-12 text-white dark:text-gray-800"
              />
            </div>
            <h4
              class="my-4 text-f-lg font-semibold border-b-2 border-fuchsia-600 dark:border-fuchsia-400"
            >
              3. Designing
            </h4>
            <p>
              To design color scheme, logo design and other interactive design
              elements to be incorporated on the website and figuring out the
              structure.
            </p>
            <p class="my-2 text-f-sm font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <Bullet>Prototyping</Bullet>
              <Bullet>Designing</Bullet>
              <Bullet>Developement</Bullet>
            </div>
          </li>
          <li
            class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal2"
          >
            <div
              class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-yellow-600 rounded-full ring-offset-4 dark:bg-yellow-400 dark:ring-yellow-400 dark:ring-offset-gray-800 ring-yellow-600 ring-2"
            >
              <Icon
                name="bx:bxs-flask"
                class="w-12 h-12 text-white dark:text-gray-800"
              />
            </div>
            <h4
              class="my-4 text-f-lg font-semibold border-b-2 border-yellow-600 dark:border-yellow-400"
            >
              4. Testing
            </h4>
            <p>
              Website testing consists of a number of different tests, including
              functionality, usability, interface, compatibility etc.
            </p>
            <p class="my-2 text-f-sm font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <Bullet>Testing</Bullet>
              <Bullet>Compatibility</Bullet>
            </div>
          </li>
          <li
            class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md sm:col-span-2 lg:px-8 dark:border-dark-600 dark:bg-dark-500"
          >
            <div
              class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-green-600 rounded-full dark:bg-green-400 dark:ring-green-400 dark:ring-offset-gray-800 ring-offset-4 ring-green-600 ring-2"
            >
              <Icon
                name="bx:rocket"
                class="w-12 h-12 text-white dark:text-gray-800"
              />
            </div>
            <h4
              class="my-4 text-f-lg font-semibold border-b-2 border-green-600 dark:border-green-400"
            >
              5. Launching and Maintenance
            </h4>
            <p>
              Launching of the website involves transferring it from my local
              server to a live server. Launch isn't the end of development
              journey. The Maintenance phase is what follows and is critical for
              the website to be successfully up and running.
            </p>
            <p class="my-2 text-f-sm font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <Bullet>Testing</Bullet>
              <Bullet>Maintenance</Bullet>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Page>
