---
import { SITE } from "../../config.mjs";
import Layout from "../layouts/PageLayout.astro";
import Hero from "../layouts/HomeHero.astro";

const meta = {
  title: SITE.name,
  description: SITE.description,
  ogTitle: "Web-o-Reviews | Engaging, purposeful, and creative.",
};
---

<Layout {meta}>
  <Hero />
  <div id="content-wrapper" class="md: mt-40 lg:mt-0 2xl:mt-80 container p-8 mx-auto lg:p-24 dark:bg-dark-900 dark:text-white">
    <div class="grid space-y-24 leading-relaxed place-items-center">
      <div class="max-w-prose">
        <h3 class="mx-3 my-5 text-5xl font-bold text-center font-display">What I do</h3>
        <p class="first-letter:text-3xl first-letter:text-geraldine-500 first-letter:font-semibold">I offer web design services to businesses and individuals. I see that my service fits within your budget and/or time constraints. Once my web design services are complete, I will also provide you with ongoing web support for your new site. Especially as your business grows and your online information and website's written content changes.</p>
      </div>
      <div>
        <div class="relative z-10 flex items-center justify-center w-16 h-16 p-3 ml-4 rounded-full ring-offset-4 dark:ring-offset-gray-800 ring-2 bg-rose-600 dark:bg-rose-400 ring-rose-600 dark:ring-rose-400">
          <svg class="w-12 h-12 text-white dark:text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" focusable="false" role="img">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
          </svg>
        </div>
        <div class="px-4 py-8 -mt-8 bg-white border border-gray-200 rounded-md shadow-md dark:border-dark-600 dark:bg-dark-500 md:p-8">
          <div class="py-4 text-2xl font-semibold">Web Developement</div>
          <p>HTML / CSS, Javascript Animation, Responsive website, Support and Maintenance.</p>
        </div>
      </div>
      <div>
        <h3 class="mx-3 mt-5 text-5xl font-bold text-center font-display mb-14">My Process</h3>
        <div class="relative grid grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3">
          <div class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal">
            <div class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-blue-600 rounded-full dark:ring-offset-gray-800 dark:bg-blue-400 ring-offset-4 ring-blue-600 dark:ring-blue-400 ring-2">
              <svg class="w-12 h-12 text-white dark:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" focusable="false" role="img">
                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <h4 class="my-4 text-xl font-semibold border-b-2 border-blue-600 dark:border-blue-400">1. Discuss</h4>
            <p class="text-base">To define the goals. What objective does the website need to accomplish? What problem does it solve?.</p>
            <p class="my-2 text-xs font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Brainstorming</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Define a Problem</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Primary Aim</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Analysis</span>
            </div>
          </div>
          <div class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal">
            <div class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-purple-600 rounded-full dark:bg-purple-400 dark:ring-offset-gray-800 ring-offset-4 ring-purple-600 dark:ring-purple-400 ring-2">
              <svg class="w-12 h-12 text-white dark:text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" focusable="false" role="img">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path>
              </svg>
            </div>
            <h4 class="my-4 text-xl font-semibold border-b-2 border-purple-600 dark:border-purple-400">2. Planning</h4>
            <p class="text-base">To decide the technical aspects of the project, such as a selection of the tech stack to build the website, content strategy planning.</p>
            <p class="my-2 text-xs font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Content Developement Strategy</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">SEO Strategy</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Technology stacks</span>
            </div>
          </div>
          <div class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal">
            <div class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 rounded-full bg-fuchsia-600 dark:bg-fuchsia-400 dark:ring-offset-gray-800 ring-offset-4 ring-fuchsia-600 dark:ring-fuchsia-400 ring-2">
              <svg class="w-12 h-12 text-white dark:text-gray-800" aria-hidden="true" focusable="false" role="img" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024" style="transform: rotate(360deg)">
                <path d="M766.4 744.3c43.7 0 79.4-36.2 79.4-80.5c0-53.5-79.4-140.8-79.4-140.8S687 610.3 687 663.8c0 44.3 35.7 80.5 79.4 80.5zm-377.1-44.1c7.1 7.1 18.6 7.1 25.6 0l256.1-256c7.1-7.1 7.1-18.6 0-25.6l-256-256c-.6-.6-1.3-1.2-2-1.7l-78.2-78.2a9.11 9.11 0 0 0-12.8 0l-48 48a9.11 9.11 0 0 0 0 12.8l67.2 67.2l-207.8 207.9c-7.1 7.1-7.1 18.6 0 25.6l255.9 256zm12.9-448.6l178.9 178.9H223.4l178.8-178.9zM904 816H120c-4.4 0-8 3.6-8 8v80c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-80c0-4.4-3.6-8-8-8z" fill="currentColor"></path>
              </svg>
            </div>
            <h4 class="my-4 text-xl font-semibold border-b-2 border-fuchsia-600 dark:border-fuchsia-400">3. Designing</h4>
            <p class="text-base">To design color scheme, logo design and other interactive design elements to be incorporated on the website and figuring out the structure.</p>
            <p class="my-2 text-xs font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Prototyping</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Designing</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Developement</span>
            </div>
          </div>
          <div class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal2">
            <div class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-yellow-600 rounded-full ring-offset-4 dark:bg-yellow-400 dark:ring-yellow-400 dark:ring-offset-gray-800 ring-yellow-600 ring-2">
              <svg class="w-12 h-12 text-white dark:text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" focusable="false" role="img">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"></path>
              </svg>
            </div>
            <h4 class="my-4 text-xl font-semibold border-b-2 border-yellow-600 dark:border-yellow-400">4. Testing</h4>
            <p class="text-base">Website testing consists of a number of different tests, including functionality, usability, interface, compatibility etc.</p>
            <p class="my-2 text-xs font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Testing</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Compatibility</span>
            </div>
          </div>
          <div class="px-6 py-4 bg-white border border-gray-200 rounded-md shadow-md md:col-span-2 lg:px-8 dark:border-dark-600 dark:bg-dark-500 reveal2">
            <div class="relative z-10 flex items-center justify-center w-16 h-16 p-3 mx-auto -mt-12 bg-green-600 rounded-full dark:bg-green-400 dark:ring-green-400 dark:ring-offset-gray-800 ring-offset-4 ring-green-600 ring-2">
              <svg class="w-12 h-12 text-white dark:text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" focusable="false" role="img">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01"></path>
              </svg>
            </div>
            <h4 class="my-4 text-xl font-semibold border-b-2 border-green-600 dark:border-green-400">5. Launching and Maintenance</h4>
            <p class="text-base">Launching of the website involves transferring it from my local server to a live server. Launch isn't the end of development journey. The Maintenance phase is what follows and is critical for the website to be successfully up and running.</p>
            <p class="my-2 text-xs font-semibold uppercase">Key Process:</p>
            <div class="flex flex-wrap justify-start p-1">
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Testing</span>
              <span class="px-4 py-1 m-1 text-xs text-gray-700 bg-gray-200 border dark:text-white rounded-2xl dark:bg-dark-300 dark:border-geraldine-600">Maintenance</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
