---
import Page from "../layouts/Page.astro";
import Head from "../layouts/Head.astro";
import Hero from "../layouts/HomeHero.astro";
import Bullet from "../components/Bullet.astro";

const meta = {
  title: "Web-o-Reviews",
  description: "Akshay Ghate's Portfolio and future blog.",
};
---

<Page>
  <Head slot="head" {meta} />
  <Hero />
  <main
    id="content-wrapper"
    class="mx-auto max-w-7xl py-12 px-8 dark:bg-dark-900 dark:text-white"
  >
    <div class="space-y-24 leading-relaxed grid place-items-center">
      <div class="max-w-prose">
        <h3 class="font-display my-5 mx-3 text-f-xl text-center fw700">
          What I do
        </h3>
        <p
          class="first-letter:text-f-xl first-letter:text-geraldine-500 first-letter:fw600"
        >
          I offer web design services to businesses and individuals. I see that
          my service fits within your budget and/or time constraints. Once my
          web design services are complete, I will also provide you with ongoing
          web support for your new site. Especially as your business grows and
          your online information and website's written content changes.
        </p>
      </div>
      <div>
        <div
          class="rounded-full flex bg-rose-600 h-16 ml-4 p-3 ring-2 ring-rose-600 ring-offset-4 w-16 z-10 relative items-center justify-center dark:bg-rose-400 dark:ring-rose-400 dark:ring-offset-gray-800"
        >
          <span class="h-12 text-white w-12 i-bx-code-alt dark:text-gray-800"
          ></span>
        </div>
        <div
          class="bg-white border rounded-md border-gray-200 shadow-md -mt-8 py-8 px-4 md:p-8 dark:bg-dark-500 dark:border-dark-600"
        >
          <div class="text-f-lg py-4 fw600">Web Developement</div>
          <p>
            HTML / CSS, Javascript Animation, Responsive website, Support and
            Maintenance.
          </p>
        </div>
      </div>
      <div>
        <h3 class="font-display mx-3 mt-5 text-f-xl text-center mb-14 fw700">
          Our Process
        </h3>
        <ul
          class="grid gap-24 grid-cols-1 place-items-stretch sm:gap-x-6 sm:gap-y-12 sm:grid-cols-2 lg:grid-cols-3"
        >
          <li
            class="bg-white border rounded-md border-gray-200 shadow-md py-4 px-6 lg:px-8 dark:bg-dark-500 dark:border-dark-600"
          >
            <div
              class="rounded-full flex mx-auto bg-blue-600 h-16 -mt-12 p-3 ring-2 ring-blue-600 ring-offset-4 w-16 z-10 items-center justify-center dark:bg-blue-400 dark:ring-blue-400 dark:ring-offset-gray-800"
            >
              <span
                class="h-12 text-white w-12 i-bx-comment-dots dark:text-gray-800"
              ></span>
            </div>
            <h4
              class="border-b-2 border-blue-600 my-4 text-f-lg fw600 dark:border-blue-400"
            >
              1. Discuss
            </h4>
            <p>
              To define the goals. What objective does the website need to
              accomplish? What problem does it solve?.
            </p>
            <p class="my-2 text-f-sm uppercase fw600">Key Process:</p>
            <div class="flex flex-wrap p-1 justify-start">
              <Bullet>Brainstorming</Bullet>
              <Bullet>Define a Problem</Bullet>
              <Bullet>Primary Aim</Bullet>
              <Bullet>Analysis</Bullet>
            </div>
          </li>
          <li
            class="bg-white border rounded-md border-gray-200 shadow-md py-4 px-6 lg:px-8 dark:bg-dark-500 dark:border-dark-600"
          >
            <div
              class="rounded-full flex mx-auto bg-purple-600 h-16 -mt-12 p-3 ring-2 ring-purple-600 ring-offset-4 w-16 z-10 items-center justify-center dark:bg-purple-400 dark:ring-purple-400 dark:ring-offset-gray-800"
            >
              <span
                class="h-12 text-white w-12 i-bx-food-menu dark:text-gray-800"
              ></span>
            </div>
            <h4
              class="border-b-2 border-purple-600 my-4 text-f-lg fw600 dark:border-purple-400"
            >
              2. Planning
            </h4>
            <p>
              To decide the technical aspects of the project, such as a
              selection of the tech stack to build the website, content strategy
              planning.
            </p>
            <p class="my-2 text-f-sm uppercase fw600">Key Process:</p>
            <div class="flex flex-wrap p-1 justify-start">
              <Bullet>Content Developement Strategy</Bullet>
              <Bullet>SEO Strategy</Bullet>
              <Bullet>Technology stacks</Bullet>
            </div>
          </li>
          <li
            class="bg-white border rounded-md border-gray-200 shadow-md py-4 px-6 lg:px-8 dark:bg-dark-500 dark:border-dark-600"
          >
            <div
              class="rounded-full flex mx-auto bg-fuchsia-600 h-16 -mt-12 p-3 ring-2 ring-fuchsia-600 ring-offset-4 w-16 z-10 relative items-center justify-center dark:bg-fuchsia-400 dark:ring-fuchsia-400 dark:ring-offset-gray-800"
            >
              <span class="h-12 text-white w-12 i-bx-palette dark:text-gray-800"
              ></span>
            </div>
            <h4
              class="border-b-2 border-fuchsia-600 my-4 text-f-lg fw600 dark:border-fuchsia-400"
            >
              3. Designing
            </h4>
            <p>
              To design color scheme, logo design and other interactive design
              elements to be incorporated on the website and figuring out the
              structure.
            </p>
            <p class="my-2 text-f-sm uppercase fw600">Key Process:</p>
            <div class="flex flex-wrap p-1 justify-start">
              <Bullet>Prototyping</Bullet>
              <Bullet>Designing</Bullet>
              <Bullet>Developement</Bullet>
            </div>
          </li>
          <li
            class="bg-white border rounded-md border-gray-200 shadow-md py-4 px-6 lg:px-8 dark:bg-dark-500 dark:border-dark-600"
          >
            <div
              class="rounded-full flex mx-auto bg-yellow-600 h-16 -mt-12 p-3 ring-2 ring-yellow-600 ring-offset-4 w-16 z-10 relative items-center justify-center dark:bg-yellow-400 dark:ring-yellow-400 dark:ring-offset-gray-800"
            >
              <span class="h-12 text-white w-12 i-bxs-flask dark:text-gray-800"
              ></span>
            </div>
            <h4
              class="border-b-2 border-yellow-600 my-4 text-f-lg fw600 dark:border-yellow-400"
            >
              4. Testing
            </h4>
            <p>
              Website testing consists of a number of different tests, including
              functionality, usability, interface, compatibility etc.
            </p>
            <p class="my-2 text-f-sm uppercase fw600">Key Process:</p>
            <div class="flex flex-wrap p-1 justify-start">
              <Bullet>Testing</Bullet>
              <Bullet>Compatibility</Bullet>
            </div>
          </li>
          <li
            class="bg-white border rounded-md border-gray-200 shadow-md py-4 px-6 sm:col-span-2 lg:px-8 dark:bg-dark-500 dark:border-dark-600"
          >
            <div
              class="rounded-full flex mx-auto bg-green-600 h-16 -mt-12 p-3 ring-2 ring-green-600 ring-offset-4 w-16 z-10 relative items-center justify-center dark:bg-green-400 dark:ring-green-400 dark:ring-offset-gray-800"
            >
              <span class="h-12 text-white w-12 i-bx-rocket dark:text-gray-800"
              ></span>
            </div>
            <h4
              class="border-b-2 border-green-600 my-4 text-f-lg fw600 dark:border-green-400"
            >
              5. Launching and Maintenance
            </h4>
            <p>
              Launching of the website involves transferring it from my local
              server to a live server. Launch isn't the end of development
              journey. The Maintenance phase is what follows and is critical for
              the website to be successfully up and running.
            </p>
            <p class="my-2 text-f-sm uppercase fw600">Key Process:</p>
            <div class="flex flex-wrap p-1 justify-start">
              <Bullet>Testing</Bullet>
              <Bullet>Maintenance</Bullet>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Page>
