---
import Layout from "../layouts/PageLayout.astro";
import Thanks from "../images/mail.svg";
import Button from "../components/Button.astro";

const meta = {
  title: "Thanks",
  description: "Greetings, I received your email.",
};
---

<Layout {meta}>
  <!-- Full body element start -->

  <div class="relative z-10 mb-40 container p-8 lg:p-24 mx-auto">
    <div
      class="flex flex-row flex-wrap gap-x-2 items-center place-content-center mx-auto max-w-7xl text-gray-700 dark:text-white xl:text-white mt-40 md:mt-4 gap-y-16 lg:gap-y-28"
    >
      <div class="flex items-center place-content-center px-8 py-24 md:py-14">
        <img
          class="h-40 md:h-56 xl:h-72 dark:filter dark:brightness-75 dark:contrast-125"
          src={Thanks}
          alt="Message Sent"
          width="361"
          height="324"
        />
      </div>
      <div class="flex flex-col items-center p-4 place-content-center">
        <div class="text-5xl font-bold font-display md:text-6xl xl:text-8xl">
          <span>Thanks !!</span>
        </div>
        <div class="text-lg mt-4">
          <span
            >Your message was sent successfully. I will get back to you as soon
            as possible.</span
          >
        </div>
        <Button
          href="/"
          color="bg-geraldine-700 hover:bg-geraldine-600 dark:bg-geraldine-400 dark:hover:bg-geraldine-500 mt-4"
          >Back to Home</Button
        >
      </div>
    </div>
  </div>
  <!-- Full body element end -->
</Layout>
