---
import Layout from "../layouts/PageLayout.astro";
import Thanks from "../images/mail.svg";
import Link from "../components/Link.astro";

const meta = {
  title: "Thanks",
  description: "Greetings, I received your email.",
};
---

<Layout {meta}>
  <!-- Full body element start -->

  <div class="relative z-10 mb-40 container p-8 lg:p-24 mx-auto">
    <div
      class="flex flex-row flex-wrap gap-x-2 items-center place-content-center mx-auto max-w-7xl text-gray-700 dark:text-white xl:text-white mt-40 md:mt-4 gap-y-16 lg:gap-y-28"
    >
      <div class="flex items-center place-content-center px-8 py-24 md:py-14">
        <img
          class="h-40 md:h-56 xl:h-72 dark:filter dark:brightness-75 dark:contrast-125"
          src={Thanks}
          alt="Message Sent"
        />
      </div>
      <div class="flex flex-col items-center p-4 place-content-center">
        <div class="text-5xl font-bold font-display md:text-6xl xl:text-8xl">
          <span>Thanks !!</span>
        </div>
        <div class="text-lg mt-4">
          <span
            >Your message was sent successfully. I will get back to you as soon
            as possible.</span>
        </div>
        <a
          href="/"
          class="p-4 mt-4 px-4 py-2.5 text-sm font-semibold text-white rounded-md shadow-md dark:text-dark-700 hover:transition-all hover:duration-150 hover:ease bg-geraldine-700 hover:bg-geraldine-600 focus:ring-4 focus:outline-none focus:ring-geraldine-400"
          >Back to Home</a
        >
      </div>
    </div>
  </div>
  <!-- Full body element end -->
</Layout>
