---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props as Props;

const isActive = href === Astro.url.pathname;
---

<a
  href={href}
  rel="prefetch"
  class:list={[
    "text-f-base font-display hover:bg-teal-4 dark:hover:bg-tealDark-4 rounded-2 px2 box-border py0.5 transition duration-300 ease-in hover:ease-out ring",
    {
      "bg-teal-3 dark:bg-tealDark-5 text-teal-11 dark:text-tealDark-11":
        isActive,
    },
  ]}
  tabindex="0"
  {...props}
>
  <slot />
</a>
