---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props as Props;

const isActive = href === Astro.url.pathname;
---

<a
  href={href}
  rel="prefetch"
  class:list={[
    ":uno: text-f-base font-display text-radixgray-12 hover:text-lightCoral dark:hover:text-lightRose transition duration-300 ease-in hover:ease-out focus:border-b-4 focus:border-lightCoral focus:outline-none",
    {
      "border-b-4 border-lightCoral": isActive,
    },
  ]}
  tabindex="0"
  {...props}
>
  <slot />
</a>
