---
const { href, id, target, color } = Astro.props;
---

<a
  href={href}
  id={id}
  rel="prefetch"
  target={target}
  class:list={[
    ":uno: text-f-sm hover:ease flex place-content-center items-center rounded-full px-6 py-2 fw600 text-white shadow-md hover:transition-all hover:duration-150 focus:outline-none focus:ring-2 focus:ring-gray-7/50 focus:ring-offset-2 focus:ring-offset-transparent w-5/6 sm:w-auto",
    color,
  ]}
  tabindex="0"
>
  <slot />
</a>
