---
const { href, id, target, hue } = Astro.props;
---

<a
  href={href}
  id={id}
  rel="prefetch"
  target={target}
  class:list={[
    "text-f-sm hover:ease flex place-content-center items-center rounded-full px-6 py-2 fw700  shadow-md hover:transition-all hover:duration-150 focus:outline-none focus:ring-2 focus:ring-radixgray-7/50 focus:ring-offset-2 focus:ring-offset-transparent w-5/6 sm:w-auto bg-hue-4 hover:bg-hue-5 text-hue-11 border border-hue-6",
    hue || "hue-radixteal",
  ]}
  tabindex="0"
  role="button"
>
  <slot />
</a>
