---
const { href, target, extraclass } = Astro.props;
---

<a
  class:list={[
    "px2 ease-in hover:ease-out fw600 text-teal-11 dark:text-tealDark-11 dark:hover:text-brandDark-11 bg-teal-3 dark:bg-tealDark-3 hover:text-brand-11 transition-all duration-200 focus:border-b-4 focus:border-sage-7 dark:focus:border-sageDark-7 focus:outline-none hover:bg-brand-3 dark:hover:bg-brandDark-3",
    extraclass,
  ]}
  href={href}
  target={target}
  rel="noopener"
  tabindex="0"
>
  <slot />
</a>
