---
const { href, target, extraclass } = Astro.props;
---

<a
  class:list={[
    "font-semibold text-teal-700 hover:transition hover:duration-150 hover:ease hover:bg-slate-200 dark:hover:bg-dark-200  focus:border-b-4 focus:border-slate-500 hover:text-geraldine-700 dark:text-[#2DD4BF] dark:hover:text-geraldine-400 focus:outline-none",
    extraclass,
  ]}
  href={href}
  target={target}
  rel="noopener"
  tabindex="0"
>
  <slot />
</a>
