---
const { href, target, extraclass } = Astro.props;
---

<a
  class:list={[
    ":uno: hover:ease fw600 text-teal-11 bg-teal-3 hover:text-crimson-10 hover:transition-all hover:duration-150 focus:border-b-4 focus:border-gray-7 focus:outline-none hover:bg-crimson-3",
    extraclass,
  ]}
  href={href}
  target={target}
  rel="noopener"
  tabindex="0"
>
  <slot />
</a>
