---
const { href, target, extraclass } = Astro.props;
---

<a
  class:list={[
    "hover:ease fw600 text-teal-700 hover:bg-slate-200 hover:text-geraldine-700 hover:transition hover:duration-150 focus:border-b-4 focus:border-slate-500 focus:outline-none dark:text-[#2DD4BF] dark:hover:bg-dark-200 dark:hover:text-geraldine-400",
    extraclass,
  ]}
  href={href}
  target={target}
  rel="noopener"
  tabindex="0"
>
  <slot />
</a>
