---
const { href, target, extraclass } = Astro.props;
---

<a
  class:list={[
    "px2 ease-in hover:ease-out fw600 text-teal-11 dark:text-tealDark-11 dark:hover:text-tealDark-10 hover:text-teal-10 transition-all duration-200 ring hover:bg-teal-3 dark:hover:bg-tealDark-3",
    extraclass,
  ]}
  href={href}
  target={target}
  rel="noopener"
  tabindex="0"
>
  <slot />
</a>
