---
const { href, target, extraclass } = Astro.props;
---

<a
  class:list={[
    ":uno: hover:ease fw600 text-radixteal-11 bg-radixteal-3 hover:text-radixcrimson-10 hover:transition-all hover:duration-150 focus:border-b-4 focus:border-radixgray-7 focus:outline-none hover:bg-radixcrimson-3",
    extraclass,
  ]}
  href={href}
  target={target}
  rel="noopener"
  tabindex="0"
>
  <slot />
</a>
