---
const { href, target } = Astro.props;
---

<a class="font-semibold text-teal-500 hover:transition hover:duration-150 hover:ease focus:border-b-4 focus:border-geraldine-500 hover:text-geraldine-700 dark:text-[#2DD4BF] dark:hover:text-geraldine-400 focus:outline-none" href={href} target={target} rel="noopener">
  <slot />
</a>
