---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props as Props;

const isActive = href === Astro.url.pathname;
---

<a
  href={href}
  rel="prefetch"
  class:list={[
    "flex items-center gap-x-4 px-6 py-4 fw600 uppercase hover:text-brand-9",
    {
      "text-teal-11 dark:text-tealDark-11!": isActive,
    },
  ]}
  tabindex="0"
  {...props}
>
  <slot />
</a>
