---
---

<mobile-theme-toggle>
  <input
    type="checkbox"
    id="mobileswitch"
    role="switch"
    aria-label="switch"
    class="mobilethemeToggle"
    toggle-color-scheme
  />
  <label for="mobileswitch">
    <span
      aria-hidden="true"
      class=":uno: i-solar:sun-2-bold absolute z-1 left-2"
      id="sun1"></span>
    <span
      aria-hidden="true"
      class=":uno: i-solar:moon-bold absolute z-1 left-9"
      id="moon1"></span>
  </label>
</mobile-theme-toggle>

<style>
  input[type="checkbox"].mobilethemeToggle {
    opacity: 0;
    position: absolute;
    left: -101vw;
  }
  input[type="checkbox"].mobilethemeToggle + label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  input[type="checkbox"].mobilethemeToggle + label::before {
    content: "";
    width: 4rem;
    height: 2rem;
    background-color: hsl(151, 8.8%, 93%);
    border-radius: 2rem;
    transition: background-color 200ms ease-in-out;
  }
  input[type="checkbox"].mobilethemeToggle:focus + label::before {
    outline: 2px solid hsl(155, 3.5%, 55.5%);
  }
  input[type="checkbox"].mobilethemeToggle + label::after {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background-color: hsl(336, 80%, 57.8%);
    border-radius: 2rem;
    margin-right: 1rem;
    position: absolute;
    left: 0.2rem;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  }
  input[type="checkbox"].mobilethemeToggle:checked + label::before {
    background-color: hsl(150, 5.8%, 19.9%);
  }
  input[type="checkbox"].mobilethemeToggle:checked + label::after {
    background-color: hsl(173, 80%, 36%);
    transform: translateX(100%);
  }
  input[type="checkbox"].mobilethemeToggle + label > span#sun1 {
    color: rgb(255, 255, 255);
    transition: background-color 200ms ease-in-out;
  }
  input[type="checkbox"].mobilethemeToggle:checked + label > span#sun1 {
    display: none;
  }
  input[type="checkbox"].mobilethemeToggle + label > span#moon1 {
    display: none;
  }
  input[type="checkbox"].mobilethemeToggle:checked + label > span#moon1 {
    color: white;
    display: block;
    transition: background-color 200ms ease-in-out;
  }
</style>

<script is:inline>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.getElementById("mobileswitch").checked = true;
  }
</script>
