---

---

<button
  class="bg-transparent flex mt-12 w-full justify-center ring 2xl:mt-32"
  title="Scroll to Content"
  onclick="ScrollDown()"
  role="button"
>
  <span
    class="h-24 text-teal-12 dark:text-tealDark-12 opacity-50 animate-bounce w-24 i-solar:double-alt-arrow-down-line-duotone inline-block hover:opacity-70"
  ></span>
</button>
