---
import { Icon } from "astro-icon";
---

<button
  class="flex mt-12 w-full justify-center &focus:outline-none &focus:ring-offset-transparent &focus:ring-2 &focus:ring-slate-500/50 &focus:ring-offset-2 2xl:mt-32"
  title="Scroll to Content"
  onclick="ScrollDown()"
>
  <span
    class="h-24 text-white opacity-50 animate-bounce w-24 i-bxs-chevron-down inline-block "
  ></span>
</button>
