---
---

<button
  class=":uno: flex mt-12 w-full justify-center focus:outline-none focus:ring-offset-transparent focus:ring-2 focus:ring-gray-6/50 focus:ring-offset-2 2xl:mt-32"
  title="Scroll to Content"
  onclick="ScrollDown()"
  role="button"
>
  <span
    class=":uno: h-24 text-teal-12 opacity-50 animate-bounce w-24 i-solar:double-alt-arrow-down-line-duotone inline-block hover:opacity-70"
  ></span>
</button>
