---
import { Icon } from "astro-icon";
---

<button
  class="flex justify-center mt-12 focus:ring-2 focus:outline-none focus:ring-slate-500 focus:ring-offset-2 focus:ring-offset-transparent 2xl:mt-32 w-full"
  title="Scroll to Content"
  onclick="ScrollDown()"
>
  <Icon
    name="bx:bxs-chevron-down"
    class="text-white w-24 h-24 inline-block opacity-50 animate-bounce"
  />
</button>
