---
---

<theme-toggle>
  <input
    type="checkbox"
    id="switch"
    role="switch"
    class="themeToggle"
    toggle-color-scheme
  />
  <label for="switch">
    <span class="i-solar:sun-2-bold absolute z-1 left-2" id="sun"></span>
    <span class="i-solar:moon-bold absolute z-1 left-9" id="moon"></span>
  </label>
</theme-toggle>

<style>
  input[type="checkbox"].themeToggle {
    opacity: 0;
    position: absolute;
    left: -101vw;
  }
  input[type="checkbox"].themeToggle + label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  input[type="checkbox"].themeToggle + label::before {
    content: "";
    width: 4rem;
    height: 2rem;
    background-color: hsl(150, 16.7%, 97.6%);
    border-radius: 2rem;
    transition: background-color 200ms ease-in-out;
  }
  input[type="checkbox"].themeToggle:focus + label::before {
    outline: 2px solid hsl(155, 3.5%, 55.5%);
  }

  input[type="checkbox"].themeToggle + label::after {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background-color: hsl(336, 80%, 57.8%);
    border-radius: 2rem;
    margin-right: 1rem;
    position: absolute;
    left: 0.2rem;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  }
  input[type="checkbox"].themeToggle:checked + label::before {
    background-color: hsl(150, 5.8%, 19.9%);
  }
  input[type="checkbox"].themeToggle:checked + label::after {
    background-color: hsl(173, 80%, 36%);
    transform: translateX(100%);
  }
  input[type="checkbox"].themeToggle + label > span#sun {
    color: rgb(255, 255, 255);
    transition: background-color 200ms ease-in-out;
  }
  input[type="checkbox"].themeToggle:checked + label > span#sun {
    display: none;
  }
  input[type="checkbox"].themeToggle + label > span#moon {
    display: none;
  }
  input[type="checkbox"].themeToggle:checked + label > span#moon {
    color: white;
    display: block;
    transition: background-color 200ms ease-in-out;
  }
</style>

<script is:inline>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.getElementById("switch").checked = true;
  }
</script>
