---
// import { Icon } from "astro-icon";
// const { label = "Toggle between Dark and Light mode", class: className = "text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center", iconClass = "w-6 h-6", iconName = "tabler:sun" } = Astro.props;
// const { class: className = "text-geraldine-600 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center", iconClass = "w-6 h-6 text-geraldine-600", iconLight = "tabler:sun", iconDark = "tabler:moon" } = Astro.props;
---

<!-- <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
  <Icon name={iconName} class={iconClass} />
</button> -->
<label for="check" class="relative h-6 w-12 cursor-pointer rounded-full bg-geraldine-500">
  <input class="peer sr-only" type="checkbox" id="check" data-aw-toggle-color-scheme />
  <span class="absolute left-1 top-1 h-4/6 w-1/3 rounded-full bg-white transition-all duration-500 peer-checked:left-7 peer-checked:bg-dark-600 shadow-lg"></span>
</label>
