---
import aboutHero from "../assets/images/about-me.svg";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class=":uno: z-10 relative" id="hero">
  <div class=":uno: container mxa py-12 md:py-24 2xl:py-36">
    <div
      class=":uno: grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class=":uno: grid place-items-center items-center">
        <h1
          class=":uno: font-display mt-28 text-center leading-relaxed text-f-4xl fw700 md:mt-0"
        >
          Hello,
        </h1>
        <h2 class=":uno: mt-2 text-f-lg text-center leading-snug fw600">
          <span
            class=":uno: rounded bg-crimson-9 px-1 dark:bg-teal-9 text-white"
            >I’m Akshay</span
          >. Nice to meet you
        </h2>
      </div>
      <div>
        <!-- <Picture
          class={":uno: h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={aboutHero}
          widths={[300, 450, 600]}
          sizes="(max-width:768px) 300px, (max-width:1024px) 450px, 600px"
          aspectRatio={1.46}
          alt="About Me"
          role="presentation"
          id="AboutHero"
        /> -->
        <picture>
          <source
            media="(max-width:768px)"
            srcset={aboutHero.src}
            width="300"
          />
          <source
            media="(max-width:1024px)"
            srcset={aboutHero.src}
            width="450"
          />
          <img
            src={aboutHero.src}
            class={":uno: h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
            width="600"
            alt="About Me"
            role="presentation"
            id="AboutHero"
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#AboutHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
