---
import aboutHero from "../assets/images/about-me.svg";
import ScrollDown from "../components/ScrollDown.astro";
import { fade } from "astro/transitions";
---

<section class="z-10 relative" id="hero">
  <div class="container mxa py-12 md:py-24 2xl:py-36">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center tracking-tight text-f-4xl fw800 md:mt-0 text-teal-11 dark:text-tealDark-11"
        >
          Hello,
        </h1>
        <h2
          class="mt-2 text-f-lg text-center tracking-tight text-teal-10 dark:text-tealDark-10 fw500"
        >
          <span class="rounded bg-brand-9 px-2 text-white">I’m Akshay.</span>
           Nice to meet you
        </h2>
      </div>
      <div>
        <!-- <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={aboutHero}
          widths={[300, 450, 600]}
          sizes="(max-width:768px) 300px, (max-width:1024px) 450px, 600px"
          aspectRatio={1.46}
          alt="About Me"
          role="presentation"
          id="AboutHero"
        /> -->
        <picture>
          <source
            media="(max-width:768px)"
            srcset={aboutHero.src}
            width="300"
            height="204"
          />
          <source
            media="(max-width:1024px)"
            srcset={aboutHero.src}
            width="450"
            height="307"
          />
          <img
            src={aboutHero.src}
            class={"h-auto dark:filter dark:brightness-75 dark:contrast-125"}
            width="600"
            height="409"
            alt="About Me"
            role="img"
            aria-label="About Me"
            id="AboutHero"
            transition:animate={fade({ duration: "0.9s" })}
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
