---
import archiveHero from "../assets/images/archive.svg";
import ScrollDown from "../components/ScrollDown.astro";
import { fade } from "astro:transitions";
---

<section class="z-10 relative" id="hero">
  <div class="container mxa py-12 2xl:py-36">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center tracking-tight text-f-4xl fw800 md:mt-0 text-teal-11 dark:text-tealDark-11"
        >
          Archive
        </h1>
        <h2
          class="mt-2 text-f-lg text-center tracking-tight text-teal-10 dark:text-tealDark-10 fw500"
        >
          Stuff that's not so new anymore
        </h2>
      </div>
      <div>
        <!-- <Picture
          class={"h-auto transform w-[200px] translate-x-25 op0 lg:w-[300px] 2xl:w-[400px] dark:filter dark:brightness-75 dark:contrast-125"}
          src={archiveHero}
          widths={[200, 300, 400]}
          sizes="(max-width:768px) 200px, (max-width:1024px) 300px, 400px"
          aspectRatio={0.96}
          alt="Archive"
          role="presentation"
          id="ArchiveHero"
        /> -->
        <picture>
          <source
            media="(max-width:768px)"
            srcset={archiveHero.src}
            width="200"
            height="208"
          />
          <source
            media="(max-width:1024px)"
            srcset={archiveHero.src}
            width="300"
            height="312"
          />
          <img
            src={archiveHero.src}
            class={"h-auto dark:filter dark:brightness-75 dark:contrast-125"}
            width="400"
            height="417"
            alt="Archive"
            role="img"
            aria-label="Archive"
            id="ArchiveHero"
            transition:animate={fade({ duration: "0.9s" })}
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
