---
import contactHero from "../images/contact.svg";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class="relative z-10" id="hero">
  <div class="container mx-auto py-12 2xl:py-48">
    <div
      class="grid items-center grid-cols-1 gap-12 md:grid-cols-2 place-items-center"
    >
      <div class="grid items-center place-items-center">
        <h1
          class="text-f-2xl font-display font-bold leading-relaxed text-center text-white mt-28 md:mt-0"
        >
          Contact
        </h1>
        <h2
          class="mt-2 text-f-lg font-semibold leading-snug text-center text-white"
        >
          Fill the form below.
        </h2>
      </div>
      <div>
        {
          /*    <img
                class="h-36 md:h-40 lg:h-48 2xl:h-60 dark:filter dark:brightness-75 dark:contrast-125"
                src={contactHero}
                alt="Contact Me"
                width="307"
                height="270"
              />  */
        }
        <img
          class="w-[200px] lg:w-[350px] 2xl:w-[400px] h-auto dark:filter dark:brightness-75 dark:contrast-125"
          src={contactHero}
          alt="Contact Me"
        />
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
