---
import contactHero from "../images/contact.svg";
import ScrollDown from "../components/ScrollDown.astro";
import { Picture } from "@astrojs/image/components";
---

<section class="z-10 relative" id="hero">
  <div class="container mx-auto py-12 2xl:py-48">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center text-white leading-relaxed text-f-4xl fw700 md:mt-0"
        >
          Contact
        </h1>
        <h2 class="mt-2 text-f-lg text-center text-white leading-snug fw600">
          Please complete the form below.
        </h2>
      </div>
      <div>
        {
          /*
        <img
          class="h-auto transform w-[200px] translate-x-25 op0 lg:w-[350px] 2xl:w-[400px] dark:filter dark:brightness-75 dark:contrast-125"
          src={contactHero}
          alt="Contact Me"
          id="ContactHero"
        /> 
          */
        }
        <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={contactHero}
          widths={[200, 350, 400]}
          sizes="(max-width:768px) 200px, (max-width:1024px) 350px, 400px"
          aspectRatio={1.13}
          alt="Contact Me"
          id="ContactHero"
        />
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#ContactHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
