---
import contactHero from "../images/contact.svg";
---

<section class="relative z-10" id="hero">
  <div class="container mx-auto my-12 lg:p-0 lg:my-48">
    <div
      class="grid items-center grid-cols-1 gap-12 md:grid-cols-2 place-items-center"
    >
      <div class="grid items-center place-items-center">
        <h1
          class="text-4xl font-display font-bold leading-relaxed text-center text-white lg:text-5xl 2xl:text-7xl mt-28 md:mt-0"
        >
          Contact Me
        </h1>
        <h2
          class="mt-2 text-2xl font-semibold leading-snug text-center text-white"
        >
          Fill the form below.
        </h2>
      </div>
      <div>
        <!-- <img
          class="h-36 md:h-40 lg:h-48 2xl:h-60 dark:filter dark:brightness-75 dark:contrast-125"
          src={contactHero}
          alt="Contact Me"
          width="307"
          height="270"
        /> -->
        <img
          class="h-36 md:h-40 lg:h-48 2xl:h-60 dark:filter dark:brightness-75 dark:contrast-125"
          src={contactHero}
          alt="Contact Me"
        />
      </div>
    </div>
  </div>
</section>
