---
import "../styles/global.css";

import MetaTags from "../core/MetaTags.astro";
import DarkMode from "../core/DarkMode.astro";

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <MetaTags {...meta} />
    <script is:inline src="https://unpkg.com/@botpoison/browser" async></script>
  </head>

  <body class="bg-gray-100 dark:bg-dark-900 text-gray-700 font-body">
    <div
      class="absolute inset-0 h-[700px] md:h-[600px] lg:h-[720px] 2xl:h-[960px] bg-center bg-no-repeat dark:bg-dark-900 bg-hero-img dark:bg-hero-img-dark"
    >
      <div
        class="absolute inset-0 bg-grid-gray-900/[0.05] bg-bottom border-b border-gray-100/5"
        style="
          mask-image: linear-gradient(to bottom, transparent, black);
          -webkit-mask-image: linear-gradient(to bottom, transparent, black);
          "
      >
      </div>
    </div>
    <slot />
    <DarkMode />
  </body>
</html>
