---
import contactHero from "../assets/images/contact.svg";
import ScrollDown from "../components/ScrollDown.astro";
import { fade } from "astro:transitions";
---

<section class="z-10 relative" id="hero">
  <div class="container mxa py-12 2xl:py-48">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center tracking-tight text-f-4xl fw800 md:mt-0 text-teal-11 dark:text-tealDark-11"
        >
          Contact
        </h1>
        <h2
          class="mt-2 text-f-lg text-center tracking-tight text-teal-10 dark:text-tealDark-10 fw500"
        >
          Please complete the form below.
        </h2>
      </div>
      <div>
        <!-- <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={contactHero}
          widths={[200, 350, 400]}
          sizes="(max-width:768px) 200px, (max-width:1024px) 350px, 400px"
          aspectRatio={1.13}
          alt="Contact Me"
          role="presentation"
          id="ContactHero"
        /> -->
        <picture>
          <source
            media="(max-width:768px)"
            srcset={contactHero.src}
            width="200"
            height="176"
          />
          <source
            media="(max-width:1024px)"
            srcset={contactHero.src}
            width="350"
            height="308"
          />
          <img
            src={contactHero.src}
            class={"h-auto dark:filter dark:brightness-75 dark:contrast-125"}
            width="400"
            height="352"
            alt="Contact Me"
            role="img"
            aria-label="Contact Me"
            id="ContactHero"
            transition:animate={fade({ duration: "0.9s" })}
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
