---
import contactHero from "../images/contact.svg";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class="relative z-10" id="hero">
  <div class="container mx-auto py-12 2xl:py-48">
    <div
      class="grid grid-cols-1 place-items-center items-center gap-12 md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="text-f-2xl mt-28 text-center font-display fw700 leading-relaxed text-white md:mt-0"
        >
          Contact
        </h1>
        <h2 class="text-f-lg mt-2 text-center fw600 leading-snug text-white">
          Fill the form below.
        </h2>
      </div>
      <div>
        {
          /*    <img
                class="h-36 md:h-40 lg:h-48 2xl:h-60 dark:filter dark:brightness-75 dark:contrast-125"
                src={contactHero}
                alt="Contact Me"
                width="307"
                height="270"
              />  */
        }
        <img
          class="h-auto w-[200px] dark:brightness-75 dark:contrast-125 dark:filter lg:w-[350px] 2xl:w-[400px]"
          src={contactHero}
          alt="Contact Me"
        />
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
