---
import designHero from "../assets/images/web-design.svg";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class="z-10 relative" id="hero">
  <div class="container mxa py-12 2xl:py-36">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center leading-relaxed text-f-4xl fw700 md:mt-0"
        >
          Web Design
        </h1>
        <h2 class="mt-2 text-f-lg text-center leading-snug fw600">
          <span
            class="rounded bg-radixcrimson-11 px-1 dark:bg-radixteal-11 text-white"
            >Why choose me</span
          >? It's simple
        </h2>
      </div>
      <div>
        <!-- <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={designHero}
          widths={[250, 375, 500]}
          sizes="(max-width:768px) 250px, (max-width:1024px) 375px, 500px"
          aspectRatio={1.18}
          alt="Design"
          role="presentation"
          id="DesignHero"
        /> -->
        <picture>
          <source
            media="(max-width:768px)"
            srcset={designHero.src}
            width="250"
          />
          <source
            media="(max-width:1024px)"
            srcset={designHero.src}
            width="375"
          />
          <img
            src={designHero.src}
            class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
            width="500"
            alt="Design"
            role="presentation"
            id="DesignHero"
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#DesignHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] },
    );
  });
</script>
