---
import designHero from "../images/web-design.svg";
import ScrollDown from "../components/ScrollDown.astro";
import { Picture } from "@astrojs/image/components";
---

<section class="z-10 relative" id="hero">
  <div class="container mx-auto py-12 2xl:py-36">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center text-white leading-relaxed text-f-2xl fw700 md:mt-0"
        >
          Web Design
        </h1>
        <h2 class="mt-2 text-f-lg text-center text-white leading-snug fw600">
          <span
            class="rounded bg-geraldine-700 text-white px-1 dark:bg-teal-700"
            >Why choose me</span
          >? It's simple
        </h2>
      </div>
      <div>
        {
          /*
        <img
          class="h-auto transform w-[250px] translate-x-25 op0 lg:w-[375px] 2xl:w-[500px] dark:filter dark:brightness-75 dark:contrast-125"
          src={designHero}
          alt="Design"
          id="DesignHero"
        />
          */
        }
        <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={designHero}
          widths={[250, 375, 500]}
          sizes="(max-width:768px) 250px, (max-width:1024px) 375px, 500px"
          aspectRatio={1.18}
          alt="Design"
          id="DesignHero"
        />
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#DesignHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
