---
let currentDate = new Date().getFullYear();
import Backtotop from "../components/BackToTop.astro";
import footerLogo from "../images/logo-white.svg";
import AstroDark from "../images/astro-dark.svg";
import Button from "../components/Button.astro";
import { Image } from "@astrojs/image/components";
---

<footer
  class="h-auto divide-y-2 divide-dark-50 bg-dark-800 mt-12 text-white py-12 dark:bg-dark-800"
>
  <div
    class="flex flex-col mx-auto space-y-8 my-12 max-w-6xl items-center justify-center md:flex-row md:space-y-0 md:space-x-8 md:justify-around"
  >
    <div class="font-display text-f-3xl fw700">Interested in Collaboration?</div>
    <Button
      href="/contact/"
      color="bg-green-700 hover:bg-green-600 text-white dark:text-white dark:hover:bg-green-500 relative"
    >
      <span class="flex h-3 -mt-1 mr-1 top-0 right-0 w-3 absolute">
        <span
          class="rounded-full h-full bg-green-400 w-full opacity-75 animate-ping absolute inline-flex"
        ></span>
        <span
          class="rounded-full bg-green-300 h-3 w-3 relative inline-flex dark:bg-geraldine-600"
        ></span>
      </span>
      Let's Talk
    </Button>
  </div>
  <div
    class="flex flex-col mx-auto mb-12 max-w-6xl pt-12 items-center justify-around md:flex-row md:px-6 md:items-end lg:px-8"
  >
    <div class="flex flex-row">
      <div class="w-40">
        <span class="flex justify-center uppercase fw600">Information</span>
        <div
          class="divide-x-2 divide-dark-50 mt-4 leading-relaxed grid grid-cols-6 group items-center"
        >
          <div class="ml-5 col-span-2">
            <span
              class="h-6 transition-colors ease-out text-teal-500 w-6 duration-200 i-bx-credit-card-front group-hover:text-geraldine-600"
            ></span>
          </div>
          <div class="col-span-4">
            <a
              href="/license/"
              class="mx-4 text-gray-300 dark:text-white hover:transition-all hover:ease-out hover:duration-200 focus:outline-none focus:ring-2 focus:ring-slate-200/50 focus:ring-offset-2 focus:ring-offset-dark-800 group-hover:text-geraldine-600 dark:group-hover:text-geraldine-600"
              tabindex="0">License</a
            >
          </div>
        </div>
        <div
          class="divide-x-2 divide-dark-50 leading-relaxed grid grid-cols-6 group items-center"
        >
          <div class="ml-5 col-span-2">
            <span
              class="h-6 transition-colors ease-out text-teal-500 w-6 duration-200 i-bx-archive group-hover:text-geraldine-600"
            ></span>
          </div>
          <div class="col-span-4">
            <a
              href="/archive/"
              class="mx-4 text-gray-300 dark:text-white hover:transition-all hover:ease-out hover:duration-200 focus:outline-none focus:ring-2 focus:ring-slate-200/50 focus:ring-offset-2 focus:ring-offset-dark-800 group-hover:text-geraldine-600 dark:group-hover:text-geraldine-600"
              tabindex="0">Archive</a
            >
          </div>
        </div>
      </div>
      <div class="w-40">
        <span class="flex text-center justify-center uppercase fw600"
          >Find me on</span
        >
        <div
          class="divide-x-2 divide-dark-50 mt-4 leading-relaxed grid grid-cols-6 group items-center"
        >
          <div class="ml-5 col-span-2">
            <span
              class="h-6 transition-colors ease-out text-teal-500 w-6 duration-200 i-uil-github-alt group-hover:text-geraldine-600"
            ></span>
          </div>
          <div class="col-span-4">
            <a
              class="mx-4 text-gray-300 inline-flex items-center dark:text-white hover:transition-all hover:ease-out hover:duration-200 focus:outline-none focus:ring-2 focus:ring-slate-200/50 focus:ring-offset-2 focus:ring-offset-dark-800 group-hover:text-geraldine-600 dark:group-hover:text-geraldine-600"
              href="https://github.com/akyag"
              target="_blank"
              rel="noopener"
              tabindex="0"
              >GitHub
              <span class="h-4 ml-1 w-4 i-bx-link-external"></span>
            </a>
          </div>
        </div>
        <div
          class="divide-x-2 divide-dark-50 leading-relaxed grid grid-cols-6 group items-center"
        >
          <div class="ml-5 col-span-2">
            <span
              class="h-6 transition-colors ease-out text-teal-500 w-6 duration-200 i-ph-linkedin-logo group-hover:text-geraldine-600"
            ></span>
          </div>
          <div class="col-span-4">
            <a
              class="mx-4 text-gray-300 inline-flex items-center dark:text-white hover:transition-all hover:ease-out hover:duration-200 focus:outline-none focus:ring-2 focus:ring-slate-200/50 focus:ring-offset-2 focus:ring-offset-dark-800 group-hover:text-geraldine-600 dark:group-hover:text-geraldine-600"
              href="https://www.linkedin.com/in/akshayghate/"
              target="_blank"
              rel="noopener"
              tabindex="0"
              >LinkedIn
              <span class="h-4 ml-1 w-4 i-bx-link-external"></span>
            </a>
          </div>
        </div>
        <div
          class="divide-x-2 divide-dark-50 leading-relaxed grid grid-cols-6 group items-center"
        >
          <div class="ml-5 col-span-2">
            <span
              class="h-6 transition-colors ease-out text-teal-500 w-6 duration-200 i-radix-icons-twitter-logo group-hover:text-geraldine-600"
            ></span>
          </div>
          <div class="col-span-4">
            <a
              class="mx-4 text-gray-300 inline-flex items-center dark:text-white hover:transition-all hover:ease-out hover:duration-200 focus:outline-none focus:ring-2 focus:ring-slate-200/50 focus:ring-offset-2 focus:ring-offset-dark-800 group-hover:text-geraldine-600 dark:group-hover:text-geraldine-600"
              href="https://twitter.com/akshayg"
              target="_blank"
              rel="noopener"
              tabindex="0"
              >Twitter
              <span class="h-4 ml-1 w-4 i-bx-link-external"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col mt-8 items-center">
      <div>
        <a
          href="/"
          class="block hover:transition-all hover:ease-out hover:scale-105 hover:duration-200 focus:outline-none focus:ring-2 focus:ring-slate-200/50 focus:ring-offset-2 focus:ring-offset-dark-800"
          tabindex="0"
        >
          <Image src={footerLogo} alt="Web-o-Reviews" width={250} height={32} />
        </a>
      </div>
      <div
        class="flex flex-col divide-y-2 divide-dark-50 mt-4 max-w-4xl gap-2 grid-cols-1 items-center justify-center lg:flex-row lg:divide-y-0 lg:divide-x-2"
      >
        <div>
          <span class="h-5 -mt-1 mr-1 w-5 i-bx-copyright"></span>

          2009 - {currentDate} - Built using <a
            href="https://astro.build"
            class="focus:outline-none focus:ring-2 focus:ring-slate-200/50 focus:ring-offset-2 focus:ring-offset-dark-800"
            target="_blank"
            rel="noopener"
            tabindex="0"
            ><img
              src={AstroDark.src}
              class="h-6 mx-2 w-16 inline-block"
              alt="Astro Dark Logo"
            />
          </a>
        </div>
        <div class="pt-2 pl-2 lg:pt-0">
          Designed with
          <span class="h-8 text-red-600 w-8 i-fe-heart"></span>
          by Akshay Ghate.
        </div>
      </div>
      <Backtotop />
      <script is:inline>
        function ScrollDown() {
          const element = document.getElementById("content-wrapper");
          element.scrollIntoView({ behavior: "smooth" });
        }
      </script>
    </div>
  </div>
</footer>
