---
import headerLogo from "../images/logo.svg";
import ActiveLink from "../components/ActiveLink.astro";
import MobileNav from "./MobileNav.astro";
import { Image } from "@astrojs/image/components";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<header
  class="mx-auto max-w-7xl py-8 px-8 z-10 relative hidden justify-between md:flex xl:px-10"
>
  <div class="items-center">
    <a
      href="/"
      class="block focus:outline-none focus:ring-offset-transparent focus:ring-2 focus:ring-slate-700/50 focus:ring-offset-2"
      tabindex="0"
    >
      <Image src={headerLogo} width={80} height={45} alt="Web-o-Reviews" />
    </a>
  </div>
  <nav class="flex space-x-4 items-center">
    <ActiveLink href={"/"}>Home</ActiveLink>
    <ActiveLink href={"/about/"}>About</ActiveLink>
    <ActiveLink href={"/design/"}>Design</ActiveLink>
    <ActiveLink href={"/work/"}>Work</ActiveLink>
    <ActiveLink href={"/contact/"}>Contact</ActiveLink>
    <ThemeToggle />
  </nav>
</header>
<MobileNav />
