---
import headerLogo from "../images/logo.svg";
import ToggleTheme from "../core/ToggleTheme.astro";
import { Icon } from "astro-icon";
import ActiveLink from "../components/ActiveLink.astro";
import MobileNav from "./MobileNav.astro";
---

<header
  class="relative z-10 mx-auto hidden max-w-7xl justify-between px-8 py-8 md:flex xl:px-10"
>
  <div class="items-center">
    <a
      href="/"
      class="block focus:outline-none focus:ring-2 focus:ring-slate-700/50 focus:ring-offset-2 focus:ring-offset-transparent"
      tabindex="0"
    >
      <img src={headerLogo} width="80" height="45" alt="Web-o-Reviews" />
    </a>
  </div>
  <nav class="flex items-center space-x-4">
    <ActiveLink href={"/"}>Home</ActiveLink>
    <ActiveLink href={"/about/"}>About</ActiveLink>
    <ActiveLink href={"/design/"}>Design</ActiveLink>
    <ActiveLink href={"/work/"}>Work</ActiveLink>
    <ActiveLink href={"/contact/"}>Contact</ActiveLink>
    <div class="inline-flex items-center space-x-1 pl-8">
      <Icon name="bx:sun" size={32} class="text-dark-500 dark:text-white" />
      <ToggleTheme />
      <Icon name="bx:moon" size={32} class="text-dark-500 dark:text-white" />
    </div>
  </nav>
</header>
<MobileNav />
