---
import headerLogo from "../assets/images/logo.svg";
import ActiveLink from "../components/ActiveLink.astro";
import MobileNav from "./MobileNav.astro";
import { Image } from "astro:assets";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<header
  class=":uno: mxa py-8 max-w-7xl px-8 z-10 relative hidden md:items-center md:justify-between md:flex xl:px-10"
>
  <div>
    <a
      href="/"
      class=":uno: block focus:outline-none focus:ring-offset-transparent focus:ring-2 focus:ring-radixgray-7/50 focus:ring-offset-2"
      tabindex="0"
    >
      <img src={headerLogo.src} width={80} height={45} alt="Web-o-Reviews" />
    </a>
  </div>
  <nav class=":uno: flex space-x-4 items-center">
    <ActiveLink href={"/"}>Home</ActiveLink>
    <ActiveLink href={"/about/"}>About</ActiveLink>
    <ActiveLink href={"/design/"}>Design</ActiveLink>
    <ActiveLink href={"/work/"}>Work</ActiveLink>
    <ActiveLink href={"/contact/"}>Contact</ActiveLink>
    <ThemeToggle />
  </nav>
</header>
<MobileNav />
