---
import homeHero from "../assets/images/home.svg";
import ScrollDown from "../components/ScrollDown.astro";
import { fade } from "astro:transitions";
---

<section class="z-10 relative" id="hero">
  <div class="container mxa py-12 md:py-24 lg:py-36 2xl:py-48">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center tracking-tight text-f-4xl fw800 md:mt-0 text-teal-11 dark:text-tealDark-11"
        >
          Web-o-Reviews
        </h1>
        <h2
          class="mt-2 text-f-lg text-center tracking-tight text-teal-10 dark:text-tealDark-10 fw500"
        >
          Engaging, purposeful, and creative
        </h2>
        <div class="flex mt-8 w-screen place-content-center">
          <a
            href="/work/"
            class="btn-teal"
            rel="prefetch"
            tabindex="0"
            role="button"
            ><span
              class="w-6 h-6 fill-current mr2 i-solar-palette-round-bold-duotone"
              role="none"></span>Web Design</a
          >
        </div>
      </div>
      <div>
        <!-- <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={homeHero}
          widths={[350, 525, 700]}
          sizes="(max-width: 768px) 350px, (max-width: 1024px) 525px, 700px"
          aspectRatio={2.33}
          alt="Welcome to Web-o-Reviews!"
          role="presentation"
          id="HomeHero"
        /> -->
        <picture>
          <source
            media="(max-width:768px)"
            srcset={homeHero.src}
            width="350"
            height="150"
          />
          <source
            media="(max-width:1024px)"
            srcset={homeHero.src}
            width="525"
            height="225"
          />
          <img
            src={homeHero.src}
            class={"h-auto dark:filter dark:brightness-75 dark:contrast-125"}
            width="700"
            height="300"
            alt="Welcome to Web-o-Reviews!"
            role="img"
            aria-label="Welcome to Web-o-Reviews!"
            id="HomeHero"
            transition:animate={fade({ duration: "0.9s" })}
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
