---
import homeHero from "../assets/images/home.svg";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class="z-10 relative" id="hero">
  <div class="container mxa py-12 md:py-24 lg:py-36 2xl:py-48">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center tracking-tight text-f-4xl fw800 md:mt-0 text-teal-11 dark:text-tealDark-11"
        >
          Web-o-Reviews
        </h1>
        <h2
          class="mt-2 text-f-lg text-center tracking-tight text-teal-10 dark:text-tealDark-10 fw500"
        >
          Engaging, purposeful, and creative
        </h2>
        <div class="flex mt-8 w-screen place-content-center">
          <a href="/work/" class="btn-teal"
            ><span
              class="w-6 h-6 fill-current mr2 i-solar-palette-round-bold-duotone"
            ></span>Web Design</a
          >
        </div>
      </div>
      <div>
        <!-- <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={homeHero}
          widths={[350, 525, 700]}
          sizes="(max-width: 768px) 350px, (max-width: 1024px) 525px, 700px"
          aspectRatio={2.33}
          alt="Welcome to Web-o-Reviews!"
          role="presentation"
          id="HomeHero"
        /> -->
        <picture>
          <source media="(max-width:768px)" srcset={homeHero.src} width="350" />
          <source
            media="(max-width:1024px)"
            srcset={homeHero.src}
            width="525"
          />
          <img
            src={homeHero.src}
            class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
            width="700"
            alt="Welcome to Web-o-Reviews!"
            role="presentation"
            id="HomeHero"
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#HomeHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] },
    );
  });
</script>
