---
import homeHero from "../images/home.svg";
---

<section class="relative z-10" id="hero">
  <div class="container mx-auto my-12 lg:p-0 lg:my-48">
    <div class="grid items-center grid-cols-1 gap-12 md:grid-cols-2 place-items-center">
      <div class="grid items-center place-items-center">
        <h1 class="text-4xl font-display font-bold leading-relaxed text-center text-white lg:text-5xl 2xl:text-7xl mt-16 md:mt-0">Web-o-Reviews</h1>
        <h2 class="mt-2 text-2xl font-semibold leading-snug text-center text-white">Engaging, purposeful, and creative.</h2>
        <div class="mt-8">
          <a href="/work" class="inline-flex items-center px-4 py-2.5 text-sm font-semibold text-white rounded-md shadow-md dark:text-dark-700 hover:transition-all hover:duration-150 hover:ease bg-geraldine-700 hover:bg-geraldine-600 focus:ring-4 focus:outline-none focus:ring-geraldine-400">
            <svg class="w-6 h-6 mr-2 fill-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-label="arrow">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
            </svg>
            <span class="h-6 pt-1">Web Design</span>
          </a>
        </div>
      </div>
      <div>
        <img class="h-36 md:h-40 lg:h-48 2xl:h-60 dark:filter dark:brightness-75 dark:contrast-125" src={homeHero} alt="Responsive image" />
      </div>
    </div>
  </div>
</section>
