---
import homeHero from "../assets/images/home.svg";
import ButtonIcon from "../components/ButtonIcon.astro";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class=":uno: z-10 relative" id="hero">
  <div class=":uno: container mxa py-12 md:py-24 lg:py-36 2xl:py-48">
    <div
      class=":uno: grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class=":uno: grid place-items-center items-center">
        <h1
          class=":uno: font-display mt-28 text-center leading-relaxed text-f-4xl fw700 md:mt-0"
        >
          Web-o-Reviews
        </h1>
        <h2 class=":uno: mt-2 text-f-lg text-center leading-snug fw600">
          Engaging, purposeful, and creative
        </h2>
        <div class=":uno: flex mt-8 w-screen place-content-center">
          <ButtonIcon
            href="/work/"
            iconClass="w-6 h-6 fill-current mr-2 i-solar:palette-round-bold-duotone"
          >
            Web Design
          </ButtonIcon>
        </div>
      </div>
      <div>
        <!-- <Picture
          class={":uno: h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={homeHero}
          widths={[350, 525, 700]}
          sizes="(max-width: 768px) 350px, (max-width: 1024px) 525px, 700px"
          aspectRatio={2.33}
          alt="Welcome to Web-o-Reviews!"
          role="presentation"
          id="HomeHero"
        /> -->
        <picture>
          <source media="(max-width:768px)" srcset={homeHero.src} width="350" />
          <source
            media="(max-width:1024px)"
            srcset={homeHero.src}
            width="525"
          />
          <img
            src={homeHero.src}
            class={":uno: h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
            width="700"
            alt="Welcome to Web-o-Reviews!"
            role="presentation"
            id="HomeHero"
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#HomeHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
