---
import licenseHero from "../assets/images/license.svg";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class="z-10 relative" id="hero">
  <div class="container mxa py-12 md:py-24 lg:py-36 2xl:py-48">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center tracking-tight text-f-4xl fw800 md:mt-0 text-teal-11 dark:text-tealDark-11"
        >
          License
        </h1>
        <h2
          class="mt-2 text-f-lg text-center tracking-tight text-teal-10 dark:text-tealDark-10 fw500"
        >
          Licenses for all the plug-ins
        </h2>
      </div>
      <div>
        <!-- <Picture
          class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
          src={licenseHero}
          widths={[300, 475, 600]}
          sizes="(max-width:768px) 300px, (max-width:1024px) 475px, 600px"
          aspectRatio={1.71}
          alt="License"
          role="presentation"
          id="LicenseHero"
        /> -->
        <picture>
          <source
            media="(max-width:768px)"
            srcset={licenseHero.src}
            width="300"
          />
          <source
            media="(max-width:1024px)"
            srcset={licenseHero.src}
            width="475"
          />
          <img
            src={licenseHero.src}
            class={"h-auto transform translate-x-25 op0 dark:filter dark:brightness-75 dark:contrast-125"}
            width="600"
            alt="License"
            role="presentation"
            id="LicenseHero"
          />
        </picture>
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#LicenseHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] },
    );
  });
</script>
