---
const { content } = Astro.props;
---

<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
