---
import headerLogo from "../images/logo.svg";
import MobileActiveLink from "../components/MobileActiveLink.astro";
import MobileThemeToggle from "../components/MobileThemeToggle.astro";
import { Image } from "@astrojs/image/components";
---

<header
  class="bg-gray-100 shadow-md w-screen top-0 z-30 fixed block md:hidden dark:bg-dark-900"
>
  <nav>
    <div class="mx-auto px-4 sm:px-6">
      <div class="flex h-24 items-center justify-between">
        <div class="flex items-center">
          <div class="pl-4">
            <a href="/" class="block">
              <Image
                src={headerLogo}
                width={80}
                height={45}
                alt="Web-o-Reviews"
              />
            </a>
          </div>
        </div>
        <div class="flex content-end items-center">
          <div class="flex gap-x-4 items-center">
            <MobileThemeToggle />
            <div>
              <button
                class="dark:text-white"
                aria-label="Toggle Menu"
                toggle-menu
              >
                <span
                  class="h-8 w-8 i-solar:hamburger-menu-line-duotone"
                  id="menu-icon"></span>
              </button>
            </div>
            <div class="">
              <div
                class="bg-white rounded-lg h-auto divide-y-2 divide-gray-200 shadow-md mt-10 mr-4 grid py-0 right-0 w-48 z-20 grid-cols-1 fixed hidden dark:divide-dark-300 dark:bg-dark-500"
                id="menu"
              >
                {
                  /* class="bg-white rounded-md shadow-xl mt-2 py-2 right-0 w-48 z-20 absolute dark:bg-gray-900" */
                }
                <MobileActiveLink href={"/"}>
                  <span class="h-6 w-6 i-solar:home-line-duotone"></span>
                  Home
                </MobileActiveLink>
                <MobileActiveLink href={"/about/"}>
                  <span class="h-6 w-6 i-solar:user-line-duotone"></span>
                  About
                </MobileActiveLink>
                <MobileActiveLink href={"/design/"}>
                  <span class="h-6 w-6 i-solar:pallete-2-line-duotone"></span>
                  Design
                </MobileActiveLink>
                <MobileActiveLink href={"/work/"}>
                  <span class="h-6 w-6 i-solar:folder-open-line-duotone"></span>
                  Work
                </MobileActiveLink>
                <MobileActiveLink href={"/archive/"}>
                  <span class="h-6 w-6 i-solar:archive-line-duotone"></span>
                  Archive
                </MobileActiveLink>
                <MobileActiveLink href={"/license/"}>
                  <span class="h-6 w-6 i-solar:card-2-line-duotone"></span>
                  License
                </MobileActiveLink>
                <MobileActiveLink href={"/contact/"}>
                  <span class="h-6 w-6 i-solar:mailbox-line-duotone"></span>
                  Contact
                </MobileActiveLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
