---
import headerLogo from "../images/logo.svg";
import ToggleMenu from "../core/ToggleMenu.astro";
import ToggleTheme from "../core/ToggleTheme.astro";
import MobileActiveLink from "../components/MobileActiveLink.astro";
import { Icon } from "astro-icon";
---

<header
  class="fixed top-0 z-30 block w-screen bg-gray-100 shadow-md dark:bg-dark-900 md:hidden"
>
  <nav>
    <div class="mx-auto px-4 sm:px-6">
      <div class="flex h-24 items-center justify-between">
        <div class="flex items-center">
          <div class="pl-4">
            <a href="/" class="block">
              <img
                src={headerLogo}
                width="80"
                height="45"
                alt="Web-o-Reviews"
              />
            </a>
          </div>
        </div>
        <div class="flex content-end items-center">
          <div class="flex items-center">
            <div class="flex items-center space-x-4">
              <Icon
                name="icon-sun"
                class="w-6 h-6 text-dark-700 dark:text-white"
              />
              <label
                for="check2"
                class="relative h-6 w-12 cursor-pointer rounded-full bg-geraldine-500"
              >
                <input
                  class="peer sr-only"
                  type="checkbox"
                  id="check2"
                  title="Dark Mode Toggle"
                  toggle-color-scheme
                />
                <span
                  class="absolute left-1 top-1 h-4/6 w-1/3 rounded-full bg-white shadow-lg transition-all duration-500 peer-checked:left-7 peer-checked:bg-dark-600"
                ></span>
              </label>
              <Icon
                name="icon-moon"
                class="w-6 h-6 text-dark-700 dark:text-white"
              />
            </div>
            <ToggleMenu />
            <div class="">
              <div
                class="fixed right-0 z-20 mr-4 mt-10 hidden h-auto w-48 rounded-lg bg-white py-0 dark:bg-dark-500"
                id="menu"
              >
                {
                  /* class="absolute right-0 z-20 w-48 py-2 mt-2 bg-white rounded-md shadow-xl dark:bg-gray-900" */
                }
                <MobileActiveLink href={"/"}>
                  <Icon name="bx:home" class="inline-block w-6 h-6 mb-1 mr-2" />
                  Home</MobileActiveLink
                >
                <MobileActiveLink href={"/about/"}>
                  <Icon name="bx:user" class="inline-block w-6 h-6 mb-1 mr-2" />
                  About
                </MobileActiveLink>
                <MobileActiveLink href={"/design/"}>
                  <Icon
                    name="bx:palette"
                    class="inline-block w-6 h-6 mb-1 mr-2"
                  />Design
                </MobileActiveLink>
                <MobileActiveLink href={"/work/"}>
                  <Icon
                    name="bx:briefcase"
                    class="inline-block w-6 h-6 mb-1 mr-2"
                  />
                  Work
                </MobileActiveLink>
                <MobileActiveLink href={"/archive/"}>
                  <Icon name="bx:box" class="inline-block w-6 h-6 mb-1 mr-2" />
                  Archive
                </MobileActiveLink>
                <MobileActiveLink href={"/license/"}>
                  <Icon
                    name="bx:credit-card-front"
                    class="inline-block w-6 h-6 mb-1 mr-2"
                  />
                  License
                </MobileActiveLink>
                <MobileActiveLink href={"/contact/"}>
                  <Icon
                    name="bx:envelope"
                    class="inline-block w-6 h-6 mb-1 mr-2"
                  />
                  Contact
                </MobileActiveLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
