---
import headerLogo from "../images/logo.svg";
import MobileActiveLink from "../components/MobileActiveLink.astro";
import { Icon } from "astro-icon";
---

<header
  class="bg-gray-100 shadow-md w-screen top-0 z-30 fixed block md:hidden dark:bg-dark-900"
>
  <nav>
    <div class="mx-auto px-4 sm:px-6">
      <div class="flex h-24 items-center justify-between">
        <div class="flex items-center">
          <div class="pl-4">
            <a href="/" class="block">
              <img
                src={headerLogo}
                width="80"
                height="45"
                alt="Web-o-Reviews"
              />
            </a>
          </div>
        </div>
        <div class="flex content-end items-center">
          <div class="flex gap-x-4 items-center">
            <div>
              <button
                class="h-12 w-12 block &focus:ring-offset-transparent &focus:ring-2 &focus:ring-slate-500/50 focus:outline-none focus:ring-offset-2"
                toggle-color-scheme
              >
                <span
                  class="h-8 transition-all ease-in w-8 duration-200 i-bx-sun &hover:text-geraldine-600 dark:h-8 dark:text-white dark:w-8 dark:i-bx-moon dark:&hover:text-geraldine-400"
                ></span>
              </button>
            </div>
            <div>
              <button
                class="dark:text-white"
                aria-label="Toggle Menu"
                toggle-menu
              >
                <span class="h-8 w-8 i-mdi-hamburger-menu" id="menu-icon"
                ></span>
              </button>
            </div>
            <div class="">
              <div
                class="bg-white rounded-lg h-auto mt-10 mr-4 py-0 right-0 w-48 z-20 fixed hidden dark:bg-dark-500"
                id="menu"
              >
                {
                  /* class="bg-white rounded-md shadow-xl mt-2 py-2 right-0 w-48 z-20 absolute dark:bg-gray-900" */
                }
                <MobileActiveLink href={"/"}>
                  <Icon name="bx:home" class="h-6 mr-2 mb-1 w-6 inline-block" />
                  Home</MobileActiveLink
                >
                <MobileActiveLink href={"/about/"}>
                  <Icon name="bx:user" class="h-6 mr-2 mb-1 w-6 inline-block" />
                  About
                </MobileActiveLink>
                <MobileActiveLink href={"/design/"}>
                  <Icon
                    name="bx:palette"
                    class="h-6 mr-2 mb-1 w-6 inline-block"
                  />Design
                </MobileActiveLink>
                <MobileActiveLink href={"/work/"}>
                  <Icon
                    name="bx:briefcase"
                    class="h-6 mr-2 mb-1 w-6 inline-block"
                  />
                  Work
                </MobileActiveLink>
                <MobileActiveLink href={"/archive/"}>
                  <Icon name="bx:box" class="h-6 mr-2 mb-1 w-6 inline-block" />
                  Archive
                </MobileActiveLink>
                <MobileActiveLink href={"/license/"}>
                  <Icon
                    name="bx:credit-card-front"
                    class="h-6 mr-2 mb-1 w-6 inline-block"
                  />
                  License
                </MobileActiveLink>
                <MobileActiveLink href={"/contact/"}>
                  <Icon
                    name="bx:envelope"
                    class="h-6 mr-2 mb-1 w-6 inline-block"
                  />
                  Contact
                </MobileActiveLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
