---
import headerLogo from "../images/headerlogo.svg";
import DarkMode from "../components/DarkMode.astro";
import ToggleTheme from "../components/ToggleTheme.astro";
import { Icon } from "astro-icon";
---

<header class="relative z-10 justify-between hidden max-w-6xl px-8 py-8 mx-auto md:flex xl:px-10">
  <div class="items-center">
    <a href="/" class="block">
      <img src={headerLogo} width="80" height="45" alt="Web-o-Reviews" />
    </a>
  </div>
  <nav class="flex items-center space-x-4">
    <a href="/about" class="text-base text-dark-500 hover:transition-all hover:duration-200 hover:ease-in-out font-display hover:text-geraldine-600 focus:border-b-4 focus:outline-none focus:border-geraldine-500" active-class="border-b-4 border-geraldine-500">About</a>
    <a href="/work" class="text-base text-dark-500 hover:transition-all hover:duration-200 hover:ease-in-out font-display hover:text-geraldine-600 focus:border-b-4 focus:outline-none focus:border-geraldine-500" active-class="border-b-4 border-geraldine-500">Work</a>
    <a href="/contact" class="text-base text-dark-500 hover:transition-all hover:duration-200 hover:ease-in-out font-display hover:text-geraldine-600 focus:border-b-4 focus:outline-none focus:border-geraldine-500" active-class="border-b-4 border-geraldine-500">Contact</a>
    <!-- <label for="check" class="relative h-6 w-12 cursor-pointer rounded-full bg-white">
      <input class="peer sr-only" type="checkbox" id="check" />
      <span class="absolute left-1 top-1 h-4/6 w-1/3 rounded-full bg-geraldine-200 transition-all duration-500 peer-checked:left-7 peer-checked:bg-geraldine-600"></span>
    </label> -->
    <Icon name="tabler:sun" class="w-6 h-6 text-dark-500" />
    <DarkMode />
    <ToggleTheme />
    <Icon name="tabler:moon" class="w-6 h-6 text-dark-500" />
  </nav>
</header>
