---
import headerLogo from "../images/headerlogo.svg";
import DarkMode from "../components/dark-mode.astro";
import ToggleTheme from "../components/toggle-theme.astro";
import { Icon } from "astro-icon";
import ActiveLink from "../components/active-link.astro";
---

<header class="relative z-10 justify-between hidden max-w-6xl px-8 py-8 mx-auto md:flex xl:px-10">
  <div class="items-center">
    <a href="/" class="block">
      <img src={headerLogo} width="80" height="45" alt="Web-o-Reviews" />
    </a>
  </div>
  <nav class="flex items-center space-x-4">
    <ActiveLink href={"/"}>Home</ActiveLink>
    <ActiveLink href={"/about"}>About</ActiveLink>
    <ActiveLink href={"/design"}>Design</ActiveLink>
    <ActiveLink href={"/work"}>Work</ActiveLink>
    <ActiveLink href={"/contact"}>Contact</ActiveLink>
    <Icon name="tabler:sun" class="w-6 h-6 text-dark-500" />
    <DarkMode />
    <ToggleTheme />
    <Icon name="tabler:moon" class="w-6 h-6 text-dark-500" />
  </nav>
</header>
