---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth">
  <slot name="head" />
  <body
    class="text-f-base bg-gray-100 font-body text-gray-700 dark:bg-dark-900"
  >
    <div
      class="absolute inset-0 h-[700px] bg-hero-img bg-center bg-no-repeat dark:bg-dark-900 dark:bg-hero-img-dark md:h-[600px] lg:h-[720px] 2xl:h-[960px]"
    >
      <div
        class="bg-grid-gray-900/[0.05] absolute inset-0 border-b border-gray-100/5 bg-bottom"
        style="
          mask-image: linear-gradient(to bottom, transparent, black);
          -webkit-mask-image: linear-gradient(to bottom, transparent, black);
          "
      >
      </div>
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
