---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../components/GlobalStyles.astro";

import "@fontsource/inter";
import "@fontsource/atkinson-hyperlegible";
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
  <slot name="head" />
  <body
    class="font-body bg-sage-1 dark:bg-sageDark-1 text-f-base text-sage-12 dark:text-sageDark-12 scrollbar scrollbar-w-3 scrollbar-radius-3 scrollbar-track-radius-3 scrollbar-thumb-radius-3 scrollbar-thumb-color-brand-9 scrollbar-track-color-sage-1 dark:scrollbar-track-color-sageDark-1 fw400"
  >
    <!-- <div -->
    <!--   class="bg-[url(/bg.png)] bg-center bg-no-repeat h-[700px] inset-0 absolute md:h-[600px] lg:h-[720px] 2xl:h-[960px] dark:bg-[url(/bg-dark.png)] dark:bg-radixteal-1" -->
    <!-- > -->
    <!-- </div> -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style>
  /* @media screen { */
  /* sm */

  /* body {
      background-image: url("../assets/images/light-sm.svg");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      inset: 0;
    }
    :global(.dark) body {
      background-image: url("../assets/images/dark-sm.svg");
    }
  } */

  /* @media (min-width: 640px) {
    body {
      background-image: url("../assets/images/light-md.svg");
    }
    :global(.dark) body {
      background-image: url("../assets/images/dark-md.svg");
    }
  } */

  /* @media (min-width: 768px) { */
  /* md */

  /* body {
      background-image: url("../assets/images/light-lg.svg");
    }
    :global(.dark) body {
      background-image: url("../assets/images/dark-lg.svg");
    }
  } */

  /* @media (min-width: 1024px) { */
  /* lg */

  /* body {
      background-image: url("../assets/images/light-xl.svg");
    }
    :global(.dark) body {
      background-image: url("../assets/images/dark-xl.svg");
    }
  } */

  /* @media (min-width: 1280px) { */
  /* xl */
  /* body {
      background-image: url("../assets/images/lightbg.svg");
    }
    :global(.dark) body {
      background-image: url("../assets/images/darkbg.svg");
    }
  } */
</style>
