---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../components/GlobalStyles.astro";

import "@fontsource/mulish";
import "@fontsource/atkinson-hyperlegible";
---

<!DOCTYPE html>
<html lang="en" class=":uno: motion-safe:scroll-smooth">
  <slot name="head" />
  <body
    class=":uno: font-body bg-radixgray-1 text-f-base text-radixgray-12 scrollbar scrollbar-w-3 scrollbar-radius-3 scrollbar-track-radius-3 scrollbar-thumb-radius-3 scrollbar-thumb-color-radixcrimson-9 scrollbar-track-color-radixgray-1 fw400 bg-cover lg:bg-contain"
  >
    <!-- <div -->
    <!--   class=":uno: bg-[url(/bg.png)] bg-center bg-no-repeat h-[700px] inset-0 absolute md:h-[600px] lg:h-[720px] 2xl:h-[960px] dark:bg-[url(/bg-dark.png)] dark:bg-radixteal-1" -->
    <!-- > -->
    <!-- </div> -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style>
  body {
    background-image: url("../assets/images/lightbg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  :global(.dark) body {
    background-image: url("../assets/images/darkbg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
