---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
// import "@fontsource/montserrat";
import "@fontsource/mulish";
import "@fontsource/atkinson-hyperlegible";
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth">
  <slot name="head" />
  <body
    class="font-body bg-gray-100 text-f-base text-gray-700 scrollbar scrollbar-w-3 scrollbar-radius-3 scrollbar-track-radius-3 scrollbar-thumb-radius-3 scrollbar-thumb-color-geraldine-600 scrollbar-track-color-dark-700 dark:bg-dark-900 dark:scrollbar-thumb-color-geraldine-300 dark:scrollbar-track-color-dark-900"
  >
    <div
      class="bg-[url(/bg.png)] bg-center bg-no-repeat h-[700px] inset-0 absolute md:h-[600px] lg:h-[720px] 2xl:h-[960px] dark:bg-[url(/bg-dark.png)] dark:bg-dark-900"
    >
      <div
        class="bg-bottom border-b bg-dark-900 border-gray-100/5 inset-0 absolute custom-gradient"
      >
        <div
          class="bg-hero-circuit-board bg-dark-700 opacity-60 inset-0 absolute"
        >
        </div>
      </div>
    </div>
  </body>
  <Header />
  <slot />
  <Footer />
</html>
