---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
// import "@fontsource/montserrat";
import "@fontsource/mulish";
import "@fontsource/atkinson-hyperlegible";
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth">
  <slot name="head" />
  <body
    class="font-body bg-gray-1 text-f-base text-gray-12 scrollbar scrollbar-w-3 scrollbar-radius-3 scrollbar-track-radius-3 scrollbar-thumb-radius-3 scrollbar-thumb-color-crimson-9 scrollbar-track-color-gray-1"
  >
    <div
      class="bg-[url(/bg.png)] bg-center bg-no-repeat h-[700px] inset-0 absolute md:h-[600px] lg:h-[720px] 2xl:h-[960px] dark:bg-[url(/bg-dark.png)] dark:bg-teal-1"
    >
      <div
        class="bg-bottom border-b bg-gray-1 border-gray-6 inset-0 absolute op-50 bg-mask-hero-circuit-board"
      >
      </div>
    </div>
  </body>
  <Header />
  <slot />
  <Footer />
</html>
