---
import workHero from "../images/work.svg";
import ScrollDown from "../components/ScrollDown.astro";
---

<section class="z-10 relative" id="hero">
  <div class="container mx-auto py-12 lg:py-24 2xl:py-36">
    <div
      class="grid gap-12 grid-cols-1 place-items-center items-center md:grid-cols-2"
    >
      <div class="grid place-items-center items-center">
        <h1
          class="font-display mt-28 text-center text-white leading-relaxed text-f-2xl fw700 md:mt-0"
        >
          Work
        </h1>
        <h2 class="mt-2 text-f-lg text-center text-white leading-snug fw600">
          Some of my recent work.
        </h2>
      </div>
      <div>
        {
          /*     <img
                 class="h-44 md:h-56 2xl:h-72 dark:filter dark:brightness-75 dark:contrast-125"
                 src={workHero}
                 alt="Work"
                 width="453"
                 height="324"
               />   */
        }
        <img
          class="h-auto transform w-[300px] translate-x-25 op0 lg:w-[450px] 2xl:w-[600px] dark:filter dark:brightness-75 dark:contrast-125"
          src={workHero}
          alt="Work"
          id="WorkHero"
        />
      </div>
    </div>
    <ScrollDown />
  </div>
</section>
<script>
  import { animate, inView } from "motion";
  inView("#WorkHero", (info) => {
    animate(
      info.target,
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
