---
import workHero from "../images/work.svg";
---

<section class="relative z-10" id="hero">
  <div class="container mx-auto my-12 lg:p-0 lg:my-48">
    <div class="grid items-center grid-cols-1 gap-12 md:grid-cols-2 place-items-center">
      <div class="grid items-center place-items-center">
        <h1 class="text-4xl font-display font-bold leading-relaxed text-center text-white lg:text-5xl 2xl:text-7xl mt-16 md:mt-0">Work</h1>
        <h2 class="mt-2 text-2xl font-semibold leading-snug text-center text-white">Some of my recent work.</h2>
      </div>
      <div>
        <img class="h-44 md:h-56 2xl:h-72 dark:filter dark:brightness-75 dark:contrast-125" src={workHero} alt="Responsive image" />
      </div>
    </div>
  </div>
</section>
